@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Quicksand';

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";

$darktext: #333333;
$lighttext: #FFFFFF;
// $color: #387D7A;
$color: #488286;

.material-icons {
  color: $lighttext;
}

 /*
  When creating your CSS selector,
  change "brown" to something of your choosing
*/
.waves-effect.waves-teal .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(72, 130, 134, 0.8);
}

body {
  background-color: $color;
}

.content {
  color: $lighttext;
}

.content_container {
  margin: 0 auto;
  width: 80%;
}

main {
  @media #{$large-and-up} {
    padding-left: 300px;
  }
  
}

.header {
  margin: 0 auto;
  background-color: $color;
  color: $lighttext;
  text-align: center;
  h1 {
    color: $lighttext;
  }
  a {
    color: $lighttext;
  }
  a:hover {
    color: lighten($color, 50%);
  }
}

nav {
  background-color: $color;
  color: $lighttext;
  box-shadow: none;
}

.nav {
  background-color: $color;
  color: $lighttext;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
  padding-left: 32px;
}

.content {
  padding: 2em;
  background-color: #FFFFFF;
  color: $darktext;
}

.contact {
  margin: 0 auto;
  background-color: $color;
  color: $darktext;
  text-align: center;
}

#contactBtn {
  // position: fixed;
  // width: 100%;
  background-color: $lighttext;
  color: $color;
}

#contactBtn:hover {
  background-color: $color;
  color: $lighttext;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.7), 0 1px 5px 0 rgba(255, 255, 255, 0.7), 0 3px 1px -2px rgba(255, 255, 255, 0.7);
}

.logobar {
  margin: 0 auto;
  padding-bottom: 1em;
  background-color: $lighttext;
  .logos img {
    padding: 1em;
  }
}

.footer {
  color: $lighttext;
  a {
    color: $lighttext;
  }
  a:hover {
    color: lighten($color, 50%);
  }
}

// /* Text Inputs + Textarea
//    ========================================================================== */
// /* Style Placeholders */
// ::-webkit-input-placeholder {
//   color: #EDEDED; }

// :-moz-placeholder {
//   /* Firefox 18- */
//   color: #EDEDED; }

// ::-moz-placeholder {
//   /* Firefox 19+ */
//   color: #EDEDED; }

// :-ms-input-placeholder {
//   color: #EDEDED; }

// /* Text inputs */
// input:not([type]),
// input[type=text],
// input[type=password],
// input[type=email],
// input[type=url],
// input[type=time],
// input[type=date],
// input[type=datetime],
// input[type=datetime-local],
// input[type=tel],
// input[type=number],
// input[type=search],
// textarea.materialize-textarea {
//   border-bottom: 1px solid #EDEDED;
// }

// input:not([type]):focus:not([readonly]),
// input[type=text]:focus:not([readonly]),
// input[type=password]:focus:not([readonly]),
// input[type=email]:focus:not([readonly]),
// input[type=url]:focus:not([readonly]),
// input[type=time]:focus:not([readonly]),
// input[type=date]:focus:not([readonly]),
// input[type=datetime]:focus:not([readonly]),
// input[type=datetime-local]:focus:not([readonly]),
// input[type=tel]:focus:not([readonly]),
// input[type=number]:focus:not([readonly]),
// input[type=search]:focus:not([readonly]),
// textarea.materialize-textarea:focus:not([readonly]) {
//   border-bottom: 1px solid #FFFFFF;
//   box-shadow: 0 1px 0 0 #EDEDED;
// }

.footer {
  text-align: center;
}

