@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Quicksand';

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";

$darktext: #333333;
$lighttext: #FFFFFF;
$color: #004d40;
// $color: #488286;

.material-icons {
  color: $lighttext;
}

 /*
  When creating your CSS selector,
  change "brown" to something of your choosing
*/
.waves-effect.waves-teal .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(72, 130, 134, 0.8);
}

body {
  background-color: $color;
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
}

.content {
  color: $lighttext;
}

.content_container {
  margin: 0 auto;
  width: 80%;
}

main {
  
}

.bold-color {
  color: $color;
}

blockquote {
  border-left: 5px solid $color;
}

.serializableForm .input-field {
  padding-left: 2em;
  padding-right: 2em;
}

.header {
  margin: 0 auto;
  padding-bottom: 1em;
  background-color: $color;
  color: $lighttext;
  text-align: center;
  h1 {
    color: $lighttext;
  }
  a {
    color: $lighttext;
  }
  a:hover {
    color: lighten($color, 50%);
  }
}

.sam-info {
  padding-right: 1em;
}

nav {
  background-color: $color;
  color: $lighttext;
  box-shadow: none;
}

.nav {
  background-color: $color;
  color: $lighttext;
}

#sidenav-overlay {
  background-color: rgba(255, 255, 255, .25);
}

@media #{$medium-and-down}{
  .side-nav a {
      padding: 0 32px;
  }
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
  padding-left: 32px;
}

.content {
  padding: 2em;
  background-color: #FFFFFF;
  color: $darktext;
}

.contact {
  margin: 0 auto;
  background-color: $color;
  color: $darktext;
  text-align: center;
}

#contactBtn {
  border: 1px solid $lighttext;
  padding-left: 1em;
  padding-right: 1em;
}

#contactBtn:hover {

}

nav .brand-logo {
  font-size: 1.5em;
}

.logobar {
  margin: 0 auto;
  padding-bottom: 1em;
  background-color: $lighttext;
  .logos img {
    padding: 1em;
  }
}

.footer {
  color: $lighttext;
  a {
    color: $lighttext;
  }
  a:hover {
    color: lighten($color, 50%);
  }
}

.footer {
  text-align: center;
}

.home_page_head {
  ul li {
    display: inline;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    color: $color;
  }
}

.sub-heading {
  padding-top: 1em;
  padding-bottom: 1em;
  color: $color;
}

.about {

}

.pricing {
  ul {
    padding-left: 2em;
  }
}

.enc_nav {
  font-size: 1.2em;
  ul {
    background-color: $color;
  }
  ul li{
    display: inline;
    color: $lighttext;
    a {
      color: $lighttext;
    }
  li {
    padding-right: 2em;
  }
  }
  
}

.enc {
  li {
    padding-left: 1em;
  }
}

.returntotop {
  position: fixed;
  background-color: $color;
  //width: 100%;
}

.returntotop:hover{
  color: #FFFFFF;
  background-color: $lighttext;
  color: $color;
}
