@charset "UTF-8";

// @import 'https://fonts.googleapis.com/css?family=Audiowide';
// @import 'https://fonts.googleapis.com/css?family=Oxygen:400,700';
// @import 'https://fonts.googleapis.com/css?family=Ubuntu';
// @import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab';

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";

$darktext: #333333;
$lighttext: #FFFFFF;
// $color: #004d40;
$color: #194C7F;
$highlight-color: lighten($color, 30%);
$gray-color: #405F7F;

.waves-effect.waves-hightlight .waves-ripple {
  background-color: $highlight-color;
}

.material-icons {
  color: $lighttext;
}

html, body, .block {
  height: 100%;
  }

body {
  background-color: $color;
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
}

.content {
  color: $lighttext;
  height:100%;
  width:100%;
}

.content_container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

main {
  
}

.bold-color {
  color: $highlight-color;
}

.text-center {
  text-align:center;
}

blockquote {
  border-left: 5px solid $color;
}

.serializableForm .input-field {
  padding-left: 2em;
  padding-right: 2em;
}

.header {
  margin: 0 auto;
  padding: 0em 1em 1em 1em;
  font-family: 'Roboto Slab', serif;
  background-color: $color;
  color: $lighttext;
  text-align: center;
  h1 {
    color: $lighttext;
  }
  a {
    color: $lighttext;
  }
  a:hover {
    color: lighten($color, 50%);
  }
}

.sam-info {
  padding-right: 1em;
  @media #{$medium-and-down} {
    padding-left: 1em;
    text-align: left;
  }
}

nav {
  padding: 1em 1em 1em 1em;
  background-color: $color;
  color: $lighttext;
  box-shadow: none;
  ul li a:hover {
    background-color: $highlight-color;
  }
  .dropdown-content {
    li a {
      color: $color;
    }
    li a:hover {
    background-color: $highlight-color;
    color: $lighttext
    }
  }
}

.nav {
  background-color: $color;
  color: $lighttext;
}

nav .brand-logo {
  font-size: 1.5em;
}

#sidenav-overlay {
  background-color: rgba(255, 255, 255, .25);
  z-index: 1;
}

.content {
  padding: 2em;
  background-color: #FFFFFF;
  color: $darktext;
  height: 100%;
}

.contact {
  margin: 0 auto;
  background-color: $color;
  color: $darktext;
  text-align: center;
}

#contactBtn {
  border: 1px solid $lighttext;
  padding-left: 1em;
  padding-right: 1em;
}

#contactBtn:hover {

}

.logobar {
  margin: 0 auto;
  padding-bottom: 1em;
  background-color: $lighttext;
  .logos img {
    padding: 1em;
  }
}

.footer {
  padding-bottom: 2em;
  color: $lighttext;
  a {
    color: $lighttext;
  }
  a:hover {
    color: lighten($color, 50%);
  }
  display: block;
  position: relative; 
}


.home_page_head {
  ul li {
    display: inline;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    color: $color;
  }
}

.sub-heading {
  padding-top: 1em;
  padding-bottom: 1em;
  color: $color;
}

.about {

}

.pricing {
  table {
    max-width: 1024px;
  }
  ul {
    padding-left: 2em;
  }
}

.table-of-contents.fixed {
  position:fixed;
  // border-right: 2px solid $color;
  margin-top: 0;
  padding-top: 0;
}

.table-of-contents li {
  padding:2px 0px;
}

.table-of-contents a {
  display:inline-block;
  font-weight:300;
  color:#757575;
  // padding-left:20px;
  height:1.5rem;
  line-height:1.5rem;
  letter-spacing:.4;
  display:inline-block;
}

.table-of-contents a:hover {
  color:#a8a8a8;
  padding-left:19px;
  border-left:1px solid #ea4a4f;
}

.table-of-contents a.active {
  font-weight:500;
  padding-left:18px;
  border-left:2px solid #ea4a4f;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.enc_nav {
  font-size: 1.2em;
  ul {
    background-color: $color;
  }
  ul li{
    display: inline;
    color: $lighttext;
    a {
      color: $lighttext;
    }
  li {
    padding-right: 2em;
  }
  }  
}

table {
  width: 100%;
  border: 1px solid $color;
  margin: 0 auto;
}

td {
  padding-right: 10px;
}

.table-header {
  background-color: #F7AA47;
  text-align:center;
  border-radius: 0;
}

.fee {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #EEEEEE;
}

.enc-home {
  table {
    border: none;
    // border-collapse: separate;
    // border-spacing: 2px;
  }
  th, td {
    background-color: $lighttext;
    width: 33%;
    // border: 1px solid $color;
  }
  a {
    color: $color;
  }
  a:hover {
    color: $highlight-color;
  }
}

.enc li {
    padding: 0em 1em 0em 1em
}

.returntotop {
  position: fixed;
  background-color: $color;
  //width: 100%;
}

.returntotop:hover{
  color: #FFFFFF;
  background-color: $lighttext;
  color: $color;
  .material-icons {
    color: $color;
  }
}


