<% wrap_layout :layout do %>
  <div class="content air">
  <div class="content_container">
    <div>
      <h5 class="center-align sub-heading">Air Quality</h5>
    </div>
    <div class="enc_nav center-align">
      <ul>
        <li>Page:</li>
        <li><a href="/views_encyclopedia/airquality1.html">1</a></li>
        <li><a href="/views_encyclopedia/airquality2.html">2</a></li>
        <li><a href="/views_encyclopedia/airquality3.html">3</a></li>
        <li><a href="/views_encyclopedia/airquality4.html">4</a></li>
        <li><a href="/views_encyclopedia/airquality5.html">5</a></li>
      </ul>
    </div>

    <%= yield %>
    
    <div class="enc_nav center-align">
      
      <ul>
        <li>Page:</li>
        <li><a href="/views_encyclopedia/airquality1.html">1</a></li>
        <li><a href="/views_encyclopedia/airquality2.html">2</a></li>
        <li><a href="/views_encyclopedia/airquality3.html">3</a></li>
        <li><a href="/views_encyclopedia/airquality4.html">4</a></li>
        <li><a href="/views_encyclopedia/airquality5.html">5</a></li>
      </ul>
    </div>
    <div>
      <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
    </div>
  </div>
</div>
<% end %>