<div class="row header valign-wrapper" id="index-banner">
  <div class="col l8">
    <h1 class="left-align hide-on-med-and-down">Engineers and Inspectors</h1>
  </div>
  <div class="sam-info right-align valign col l4">
    <h6>Sam Sain</h6>
    <h6><a href="tel:1+7248753400">724-875-3400</a></h6>
    <h6><a href="mailto:sks73@zoominternet.net">sks73@zoominternet.net</a></h6>
  </div>
</div>
