<div class="header col s12" id="index-banner">
  <div class="">
    <h1 class="center-align">Engineers and Inspectors</h1>
  </div>
  <div class="sam-info right-align">
    <h6>Sam Sain</h6>
    <h6><a href="tel:1+7248753400">724-875-3400</a></h6>
    <h6><a href="mailto:sks73@zoominternet.net">sks73@zoominternet.net</a></h6>
  </div>
</div>