<div class="logobar">
  <div class="row center logos">
    <img alt="ASHI" src="images/ASHI.JPG" height="96">
    <img alt="ASCE" src="images/asce.jpeg" height="96">
    <img alt="Carnegie Melon" src="images/cmu.png" height="96">
    <img alt="University of Pittsburgh" src="images/pitt.gif" height="96">
  </div>
</div>