<header>
  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
  
  </div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
      <h6>
        <a href="/index.html">Engineers and Inspectors</a>
        <a href="tel:1+7248753400">724-875-3400</a>
        <a href="mailto:sks73@zoominternet.net">sks73@zoominternet.net</a>
      </h6>
    </li>
    
    <li class="no-padding"><a href="/index.html">Other Links</a></li>
    <li class="no-padding"><a href="/index.html">Other Links</a></li>
    <li class="no-padding"><a href="/index.html">Other Links</a></li>
    <li class="no-padding"><a href="/index.html">Other Links</a></li>
      
  </ul>
</header>