<div>
  <div class="navbar-fixed">
    <nav id="nav" class="nav-wrapper valign-wrapper">
      <a href="/index.html" class="brand-logo right">Engineers and Inspectors</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <!-- Dropdown Structure -->
      <!-- <ul id="dropdown1" class="dropdown-content">
        <li><a class="waves-effect waves-teal darken-4" href="/whatsinvolved.html">What's Involved in a Home Inspection</a></li>
        <li><a class="waves-effect waves-teal darken-4" href="/encyclopedia_menu.html">Encyclopedia Home</a></li>
        <li><a class="waves-effect waves-teal darken-4" href="#!">About Radon</a></li>
        <li><a class="waves-effect waves-teal darken-4" href="#!">About Septic Systems</a></li>
        <li><a class="waves-effect waves-teal darken-4" href="#!">About Mold</a></li>
        <li><a class="waves-effect waves-teal darken-4" href="#!">About Wells</a></li>
      </ul> -->

      <ul class="left hide-on-med-and-down">
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/index.html">Home</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/about.html">About</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/services.html">Services</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/references.html">References</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/pricing.html">Pricing</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/faq.html">FAQ</a></li>
        <li><a href="#modal1" class="waves-effect waves-teal darken-4">CONTACT US</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/encyclopedia_menu.html">Home Owners Encyclopedia</a></li>
        <!-- Dropdown Trigger -->
        <!-- <li class="no-padding"><a class="dropdown-button waves-effect waves-teal darken-4" href="#" data-activates="dropdown1">Homeowners Encyclopedia<i class="material-icons right">arrow_drop_down</i></a></li> -->
      </ul>

      <!-- Mobile Nav -->
      <ul class="side-nav" id="mobile-demo">
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/index.html">Home</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/about.html">About</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/services.html">Services</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/references.html">References</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/pricing.html">Pricing</a></li>
        <li class="no-padding"><a class="waves-effect waves-teal darken-4" href="/faq.html">FAQ</a></li>
      </ul>
    </nav>
  </div>
</div>

<div id="contact" class="contact">
  <!-- Modal Trigger -->
  <!-- <a id="contactBtn" class="waves-effect waves-light btn" href="#modal1">CONTACT US</a> -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Contact Us:</h5>
    </div>
    <div class="row">
      <form class="serializableForm col s12" method="post" action="https://remailer.savvysoftworks.com">
        <input type="hidden" name="public_token" value="7e847d4468bcd3562ac3401b4ae576eeb483f72be648df9c37a81fa54e60ef09">
        <input type="hidden" name="after_success" value="http://engineersandinspectors.com/index.html"/>
        <input type="hidden" name="after_failure" value="http://engineersandinspectors.com/index.html"/>
        <div class="input-field">
          <input id="name" placeholder="Name" name="name" type="text" class="validate">
        </div>
        <div class="input-field">
          <input id="email" placeholder="Email" name="email" type="email" class="validate">
        </div>
        <div class="input-field">
          <input id="street" placeholder="Street" name="street" type="text" class="">
        </div>
        <div class="input-field">
          <input id="city" placeholder="City" name="city" type="text" class="">
        </div>
        <div class="input-field">
          <input id="state" placeholder="State" name="state" type="text" class="">
        </div>
        <div class="input-field">
          <input id="zipcode" placeholder="Zip Code" name="zipcode" type="text" class="">
        </div>
        <div class="input-field">
          <input id="phone" placeholder="Phone" name="phone" type="text" class="validate">
        </div>
        <div class="input-field">
          <textarea id="textarea1" placeholder="Request an appointment, request a quote..." name="textarea" class="materialize-textarea" length="240"></textarea>
        </div>
        <div class="modal-footer">
          <button id="submit" class="btn waves-effect waves-light submit" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>