---
title: Engineers & Inspectors | About Radon
---

<div class="content enc">
 	<div class="content_container">

 		<div>
 			<h5 class="sub-heading">Radon Information</h5>
 		</div>

 		<div>
			<h5 class="sub-heading">What is Radon?</h5>
			<p>Radon comes from the natural breakdown of uranium in soil, rock and water.</p>
			<p>
				The release of this radioactive gas enters the air you breathe, causing a potential health risk to you and your family.
			</p>
			<p>
				Radon gas can be found in just about anywhere. It can get into any type of building -- homes, offices, and schools -- and build up to high levels.
			</p>
		</div>

		<div>
			<h5 class="sub-heading">What you should know about Radon </h5>
			<p><strong class="bold-color">Radon is a cancer causing radioactive gas.</strong></p>
			<p>
				You cannot see radon and you cannot smell it or taste it, but it may be a problem in your home. This is because when you breathe air-containing radon, you increase your risk of getting lung cancer. In fact, the Surgeon General has warned that radon is the second leading cause of lung cancer.
			</p>
			<p><strong class="bold-color">You should test for radon.</strong></p>
			<p>
				Testing is the only way to find out about your home's radon level. The EPA and the Surgeon General recommend testing of all homes below the third floor for radon.
			</p> 
			<p><strong class="bold-color">You can fix a radon problem.</strong></p>
			<p>
				If you find that you have high radon levels, there are ways to fix a radon problem. Even very high levels can be reduced to acceptable levels.
			</p>
			<p><strong class="bold-color">If you are buying a home.</strong></p>
			<p>
				The EPA recommends that you obtain the radon level in the home you are considering buying. An EPA publication "The Home Buyer's and Seller's Guide" is available through most State Health Departments or Regional EPA offices listed in your local phone book. EPA also recommends that you use a certified or state licensed radon tester to perform the test. If elevated levels are found it is recommended that these levels be reduced. In most cases, a professional can accomplish this at reasonable cost or homeowner installed mitigation system that adheres to the EPA's approved methods for reduction of radon in a residential structure.
			</p>
			<img src="images/radon_graph.jpg" width="250" height="250">
		</div>

		<div>
			<h5 class="sub-heading">What are the Risk Factors?</h5>
			<p>
				The EPA, Surgeon General and The Center for Disease Control, have all agreed that continued exposure to Radon gas can cause lung cancer.
			</p>
			<p>
				In fact, there position on the matter is that all homes should be tested for radon gas exposure, and all homes testing over 4 pCi/L should be fixed. 
			</p>
		</div>

		<div>
			<h5 class="sub-heading">How Does Radon Enter the Home?</h5>
			<p>
				Typically the air pressure inside your home is lower than the pressure in the soil around your home's foundation.
			</p>
			<p>
				Due to this difference, your house acts like a vacuum, drawing radon gas in through foundation cracks and other openings of your home.
			</p>
			<p>
				Radon may also be present in well water and can be released into the air in your home when water is used for showering and other household uses.
			</p>
			<img src="/images/radon1.jpg" width="415" height="284">
		</div>
		
		<div>
			<h5 class="sub-heading">Potential Entry Points:</h5>
			<ol>
		 		<li>Cavities inside walls</li>
		 		<li>Cracks in solid floors</li>
		 		<li>Construction joints</li>
		 		<li>Cracks in walls</li>
		 		<li>The water supply</li>
		 		<li>Gaps in suspended floors</li>
		 		<li>Gaps around service pipes</li>
		 	</ol>
		</div>

		 <div>
      <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
    </div>

 	</div>
 </div>
