---
title: Engineers and Inspectors | Air Quality
layout: airquality
---
<div>
  <h5 class="sub-heading">Indoor Air Quality Concerns</h5>
  <p>
    All of us face a variety of risks to our health as we go about our day-to-day lives.  Driving in cars, flying in planes, engaging in recreational activities, and being exposed to environmental pollutants all pose varying degrees of risk.  Some risks are simply unavoidable. Some we choose to accept because to do otherwise would restrict our ability to lead our lives the way we want. And some are risks we might decide to avoid if we had the opportunity to make informed choices.  Indoor air pollution is one risk that you can do something about.
  </p>

  <p>
    In the last several years, a growing body of scientific evidence has indicated that the air within homes and other buildings can be more seriously polluted than the outdoor air in even the largest and most industrialized cities. Other research indicates that people spend approximately 90 percent of their time indoors. Thus, for many people, the risks to health may be greater due to exposure to air pollution indoors than outdoors.
  </p>

  <p>
    In addition, people who may be exposed to indoor air pollutants for the longest periods of time are often those most susceptible to the effects of indoor air pollution. Such groups include the young, the elderly, and the chronically ill, especially those suffering from respiratory or cardiovascular disease.
  </p>
</div>

<div>
  <p><strong class="bold-color">Why a Booklet on Indoor Air?</strong></p>
  <p>
    While pollutant levels from individual sources may not pose a significant health risk by themselves, most homes have more than one source that contributes to indoor air pollution. There can be a serious risk from the cumulative effects of these sources. Fortunately, there are steps that most people can take both to reduce the risk from existing sources and to prevent new problems from occurring. This booklet was prepared by the U.S. Environmental Protection Agency (EPA) and the U.S. Consumer Product Safety Commission (CPSC) to help you decide whether to take actions that can reduce the level of indoor air pollution in your own home.
  </p>

  <p>
    Because so many Americans spend a lot of time in offices with mechanical heating, cooling, and ventilation systems, there is also a short section on the causes of poor air quality in offices and what you can do if you suspect that your office may have a problem.  A glossary and a list of organizations where you can get additional information are available in this document.
  </p>
</div>

<div>
  <h5 class="sub-heading">Indoor Air Quality in Your Home</h5>
  <p><strong class="bold-color">What Causes Indoor Air Problems?</strong></p>
  <p>
    Indoor pollution sources that release gases or particles into the air are the primary cause of indoor air quality problems in homes. Inadequate ventilation can increase indoor pollutant levels by not bringing in enough outdoor air to dilute emissions from indoor sources and by not carrying indoor air pollutants out of the home. High temperature and humidity levels can also increase concentrations of some pollutants.
  </p>

  <p><strong class="bold-color">Pollutant Sources</strong></p>
  <p>
    There are many sources of indoor air pollution in any home. These include combustion sources such as oil, gas, kerosene, coal, wood, and tobacco products; building materials and furnishings as diverse as deteriorated, asbestos-containing insulation, wet or damp carpet, and cabinetry or furniture made of certain pressed wood products; products for household cleaning and maintenance, personal care, or hobbies; central heating and cooling systems and humidification devices; and outdoor sources such as radon, pesticides, and outdoor air pollution.
  </p>

  <p>
    The relative importance of any single source depends on how much of a given pollutant it emits and how hazardous those emissions are. In some cases, factors such as how old the source is and whether it is properly maintained are significant. For example, an improperly adjusted gas stove can emit significantly more carbon monoxide than one that is properly adjusted.
  </p>

  <p>
    Some sources, such as building materials, furnishings, and household products like air fresheners, release pollutants more or less continuously.  Other sources, related to activities carried out in the home, release pollutants intermittently. These include smoking, the use of unvented or malfunction-ing stoves, furnaces, or space heaters, the use of solvents in cleaning and hobby activities, the use of paint strippers in redecorating activities, and the use of cleaning products and pesticides in housekeeping. High pollutant concentrations can remain in the air for long periods after some of these activities.
  </p>

  <p><strong class="bold-color">Amount of Ventilation</strong></p>
  <p>
    If too little outdoor air enters a home, pollutants can accumulate to levels that can pose health and comfort problems.  Unless they are built with special mechanical means of ventilation, homes that are designed and constructed to minimize the amount of outdoor air that can "leak" into and out of the home may have higher pollutant levels than other homes.  However, because some weather conditions can drastically reduce the amount of outdoor air that enters a home, pollutants can build up even in homes that are normally considered "leaky."
  </p>

  <p><strong class="bold-color">How Does Outdoor Air Enter a House?</strong></p>
  <p>
    Outdoor air enters and leaves a house by: infiltration, natural ventilation, and mechanical ventilation.  In a process known as infiltration, outdoor air flows into the house through openings, joints, and cracks in walls, floors, and ceilings, and around windows and doors.  In natural ventilation, air moves through opened windows and doors. Air movement associated with infiltration and natural ventilation is caused by air temperature differences between indoors and outdoors and by wind.  Finally, there are a number of mechanical ventilation devices, from outdoor-vented fans that intermittently remove air from a single room, such as bathrooms and kitchen, to air handling systems that use fans and duct work to continuously remove indoor air and distribute filtered and conditioned outdoor air to strategic points throughout the house.  The rate at which outdoor air replaces indoor air is described as the air exchange rate. When there is little infiltration, natural ventilation, or mechanical ventilation, the air exchange rate is low and pollutant levels can increase.
  </p>

  <p><strong class="bold-color">What If You Live in an Apartment?</strong></p>
  <p>
    Apartments can have the same indoor air problems as single-family homes because many of the pollution sources, such as the interior building materials, furnishings, and household products, are similar.  Indoor air problems similar to those in offices are caused by such sources as contaminated ventilation systems, improperly placed outdoor air intakes, or maintenance activities.
  </p>

  <p>
    Solutions to air quality problems in apartments, as in homes and offices, involve such actions as:  eliminating or controlling the sources of pollution, increasing ventilation, and installing air cleaning devices. Often a resident can take the appropriate action to improve the indoor air quality by removing a source, altering an activity, unblocking an air supply vent, or opening a window to temporarily increase the ventilation; in other cases, however, only the building owner or manager is in a position to remedy the problem.  You can encourage building management to follow guidance in EPA and NIOSH's <a href="http://www.epa.gov/iaq/largebldgs/graphics/baqactionplan.pdf" target="_blank">Building Air Quality:  A Guide for Building Owners and Facility Managers</a>.
  </p>
  <!-- <p>
    To obtain the looseleaf-fomat version of the Building Air Quality, complete with appendices, an index, and a full set of useful forms, and the newly released, visit <a href="http://www.epa.gov/iaq/largebldgs/actionpl.html" target="_blank">Building Air Quality Action Plan</a>, order GPO Stock # 055-000-00602-4,  for $28, contact: Superintendent of Documents, U.S. Government Printing Office (GPO), P.O. Box 371954, Pittsburgh, PA 15250-7954, or call (202) 512-1800, fax (202) 512-2250.
  </p> -->
</div>
