---
title: Engineers and Inspectors | Air Quality - page 4
layout: airquality
---
<div>
  <h5 class="sub-heading">A Guide to Indoor Air Quality<br><small> - <i>page 4</i></small></h5>
  <p><strong class="bold-color">Reference Guide to Major Indoor Air Pollutants in the Home</strong></p>
  <p>
    The pollutants listed in this guide have been shown to cause the health effects mentioned.  However, it is not necessarily true that the effects noted occur at the pollutant concentration levels typically found in the home. In many cases, our understanding of the pollutants and their health effects is too limited to determine the levels at which the listed effects could occur.
  </p>

  <p><strong class="bold-color">RADON (Rn)</strong></p>
  <p>Sources: Earth and rock beneath home; well water; building materials.</p>
  <p>
    <strong>Health Effects:</strong> No immediate symptoms. Estimated to contribute to between 7,000 and 30,000 lung cancer deaths each year. Smokers are at higher risk of developing radon-induced lung cancer.
  </p>

  <p>
    <strong>Levels in Homes:</strong>  Based on a national residential radon survey completed in 1991, the average indoor radon level is 1.3 picocuries per liter (pCi/L).  The average outdoor level is about 0.4 pCi/L.
  </p>

  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Test your home for radon_it's easy and inexpensive.</li>
    <li>Fix your home if your radon level is 4 picocuries per liter (pCi/L) or higher.</li>
    <li>Radon levels less than 4 pCi/L still pose a risk, and in many cases may be reduced.</li>
    <li>If you want more information on radon, contact your state radon office, or call 800-SOS-RADON.<BR></li>
  </ul>

  <p><strong class="bold-color">ENVIRONMENTAL TOBACCO SMOKE (ETS)</strong></p>
  <p><strong>Source:</strong> Cigarette, pipe, and cigar smoking.</p>
  <p>
    <strong>Health Effects:</strong> Eye, nose, and throat irritation; headaches; lung cancer; may contribute to heart disease.  Specifically for children, increased risk of lower respiratory tract infections, such as bronchitis and pneumonia, and ear infections; build-up of fluid in the middle ear; increased severity and frequency of asthma episodes; decreased lung function.
  </p>

  <p>
    <strong>Levels in Homes:</strong> Particle levels in homes without smokers or other strong particle sources are the same as, or lower than, those outdoors. Homes with one or more smokers may have particle levels several times higher than outdoor levels.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Do not smoke in your home or permit others to do so.</li>
    <li>Do not smoke if children are present, particularly infants and toddlers.</li>
    <li>If smoking indoors cannot be avoided, increase ventilation in the area where smoking takes place.  Open windows or use exhaust fans.</li>
  </ul>

  <p><strong class="bold-color">BIOLOGICALS</strong></p>
  <p><strong>Sources:</strong> Wet or moist walls, ceilings, carpets, and furniture; poorly maintained humidifiers, dehumidifiers, and air conditioners; bedding; household pets.</p>
  <p>
    <strong>Health Effects:</strong> Eye, nose, and throat irritation; shortness of breath; dizziness; lethargy; fever; digestive problems. Can cause asthma; humidifier fever; influenza and other infectious diseases.
  </p>
  <p>
    <strong>Levels in Homes:</strong> Indoor levels of pollen and fungi are lower than outdoor levels (except where indoor sources of fungi are present). Indoor levels of dust mites are higher than outdoor levels.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Install and use fans vented to outdoors in kitchens and bathrooms.</li>
    <li>Vent clothes dryers to outdoors.</li>
    <li>Clean cool mist and ultrasonic humidifiers in accordance with manufacturer's instructions and refill with clean water daily.</li>
    <li>Empty water trays in air conditioners, dehumidifiers, and refrigerators frequently.</li>
    <li>Clean and dry or remove water-damaged carpets.</li>
    <li>Use basements as living areas only if they are leakproof and have adequate ventilation.  Use dehumidifiers, if necessary, to maintain humidity between 30-50 percent.</li>
  </ul>

  <p><strong class="bold-color">CARBON MONOXIDE (CO)</strong></p>
  <p>
    <strong>Sources:</strong> Unvented kerosene and gas space heaters; leaking chimneys and furnaces; back-drafting from furnaces, gas water heaters, woodstoves, and fireplaces; gas stoves. Automobile exhaust from attached garages. Environmental Tobacco Smoke.
  </p>
  <p>
    <strong>Health Effects:</strong> At low concentrations, fatigue in healthy people and chest pain in people with heart disease. At higher concentrations, impaired vision and coordination; headaches; dizziness; confusion; nausea. Can cause flu-like symptoms that clear up after leaving home. Fatal at very high concentrations.
  </p>
  <p>
    <strong>Levels in Homes:</strong> Average levels in homes without gas stoves vary from 0.5 to 5 parts per million (ppm). Levels near properly adjusted gas stoves are often 5 to 15 ppm and those near poorly adjusted stoves may be 30 ppm or higher.
  </p>
  
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Keep gas appliances properly adjusted.</li>
    <li>Consider purchasing a vented space heater when replacing an unvented one.</li>
    <li>Use proper fuel in kerosene space heaters.</li>
    <li>Install and use an exhaust fan vented to outdoors over gas stoves.</li>
    <li>Open flues when fireplaces are in use.</li>
    <li>Choose properly sized woodstoves that are certified to meet EPA emission standards.  Make certain that doors on all woodstoves fit tightly.</li>
    <li>Have a trained professional inspect, clean, and tune-up central heating system (furnaces, flues, and chimneys) annually. Repair any leaks promptly.</li>
    <li>Do not idle the car inside garage.</li>
  </ul>

  <p><strong class="bold-color">NITROGEN DIOXIDE (NO<sub>2</sub>)</strong></p>
  <p>
    <strong>Sources:</strong> Kerosene heaters, unvented gas stoves and heaters. Environmental tobacco smoke.  Health Effects: Eye, nose, and throat irritation.  May cause impaired lung function and increased respiratory infections in young children.
  </p>
  <p>
    <strong>Levels in Homes:</strong> Average level in homes without combustion appliances is about half that of outdoors. In homes with gas stoves, kerosene heaters, or unvented gas space heaters, indoor levels often exceed outdoor levels.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Keep gas appliances properly adjusted.</li>
    <li>Consider purchasing a vented space heater when replacing an unvented one.</li>
    <li>Use proper fuel in kerosene space heaters.</li>
    <li>Install and use an exhaust fan vented to outdoors over gas stoves.</li>
    <li>Open flues when fireplaces are in use.</li>
    <li>Choose properly sized woodstoves that are certified to meet EPA emission standards.  Make certain that doors on all woodstoves fit tightly.</li>
    <li>Have a trained professional inspect, clean, and tune-up central heating system (furnaces, flues, and chimneys) annually. Repair any leaks promptly.</li>
    <li>Do not idle the car inside garage.</li>
  </ul>

  <p><strong class="bold-color">ORGANIC GASES</strong></p>
  <p>
    <strong>Sources:</strong> Household products including: paints, paint strippers, and other solvents; wood preservatives; aerosol sprays; cleansers and disinfectants; moth repellents and air fresheners; stored fuels and automotive products; hobby supplies; dry-cleaned clothing.
  </p>
  <p>
    <strong>Health Effects:</strong> Eye, nose, and throat irritation; headaches, loss of coordination, nausea; damage to liver, kidney, and central nervous system.  Some organics can cause cancer in animals; some are suspected or known to cause cancer in humans.
  </p>
  <p>
    <strong>Levels in Homes:</strong>  Studies have found that levels of several organics average 2 to 5 times higher indoors than outdoors. During and for several hours immediately after certain activities, such as paint stripping, levels may be 1,000 times background outdoor levels.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <LI>Use household products according to manufac-turer's directions.</LI>
    <LI>Make sure you provide plenty of fresh air when using these products.</LI>
    <LI>Throw away unused or little-used containers safely; buy in quantities that you will use soon.</LI>
    <LI>Keep out of reach of children and pets.</LI>
    <LI>Never mix household care products unless directed on the label.</LI>
  </ul>

  <p><strong class="bold-color">RESPIRABLE PARTICLES</strong></p>
  <p>
    <strong>Sources:</strong> Fireplaces, woodstoves, and kerosene heaters. Environmental tobacco smoke.</p>
    <p>
      <strong>Health Effects:</strong> Eye, nose, and throat irritation; respiratory infections and bronchitis; lung cancer.  (Effects attributable to environmental tobacco smoke are listed elsewhere.)
    </p>
    <p>
      <strong>Levels in Homes:</strong> Particle levels in homes without smoking or other strong particle sources are the same as, or lower than, outdoor levels.
    </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <LI>Vent all furnaces to outdoors; keep doors to rest of house open when using unvented space heaters.</LI>
    <LI>Choose properly sized woodstoves, certified to meet EPA emission standards; make certain that doors on all woodstoves fit tightly.</LI>
    <LI>Have a trained professional inspect, clean, and tune-up central heating system (furnace, flues, and chimneys) annually. Repair any leaks promptly.</LI>
    <LI>Change filters on central heating and cooling systems and air cleaners according to manufacturer's directions.</LI>
  </ul>

  <p><strong class="bold-color">FORMALDEHYDE</strong></p>
  <p>
    <strong>Sources:</strong> Pressed wood products (hardwood plywood wall paneling, particleboard, fiberboard) and furniture made with these pressed wood products. Urea-formaldehyde foam insulation (UFFI). Combustion sources and environmental tobacco smoke. Durable press drapes, other textiles, and glues.
  </p>
  <p>
    <strong>Health Effects:</strong> Eye, nose, and throat irritation; wheezing and coughing; fatigue; skin rash; severe allergic reactions. May cause cancer. May also cause other effects listed under "organic gases."
  </p>
  <p>
    <strong>Levels in Homes:</strong> Average concentrations in older homes without UFFI are generally well below 0.1 (ppm). In homes with significant amounts of new pressed wood products, levels can be greater than 0.3 ppm.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Use "exterior-grade" pressed wood products (lower-emitting because they contain phenol resins, not urea resins).</li>
    <li>Use air conditioning and dehumidifiers to maintain moderate temperature and reduce humidity levels.</li>
    <li>Increase ventilation, particularly after bringing new sources of formaldehyde into the home.</li>
  </ul>

  <p><strong class="bold-color">PESTICIDES</strong></p>
  <p>
    <strong>Sources:</strong> Products used to kill household pests (insecticides, termiticides, and disinfectants). Also, products used on lawns and gardens that drift or are tracked inside the house.
  </p>
  <p>
    <strong>Health Effects:</strong> Irritation to eye, nose, and throat; damage to central nervous system and kidney; increased risk of cancer.
  </p>
  <p>
    <strong>Levels in Homes:</strong> Preliminary research shows widespread presence of pesticide residues in homes.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Use strictly according to manufacturer's directions.</li>
    <li>Mix or dilute outdoors.</li><li>Apply only in recommended quantities.</li>
    <li>Increase ventilation when using indoors. Take plants or pets outdoors when applying pesticides to them.</li>
    <li>Use nonchemical methods of pest control where possible.</li>
    <li>If you use a pest control company, select it carefully.</li>
    <li>Do not store unneeded pesticides inside home; dispose of unwanted containers safely.</li>
    <li>Store clothes with moth repellents in separately ventilated areas, if possible.</li>
    <li>Keep indoor spaces clean, dry, and well ventilated to avoid pest and odor problems.</li>
  </ul>

  <p><strong class="bold-color">ASBESTOS</strong></p>
  <p>
    <strong>Sources:</strong> Deteriorating, damaged, or disturbed insulation, fireproofing, acoustical materials, and floor tiles.
  </p>
  <p>
    <strong>Health Effects:</strong> No immediate symptoms, but long-term risk of chest and abdominal cancers and lung diseases. Smokers are at higher risk of developing asbestos-induced lung cancer.
  </p>
  <p>
    <strong>Levels in Homes:</strong> Elevated levels can occur in homes where asbestos-containing materials are damaged or disturbed.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <LI>It is best to leave undamaged asbestos material alone if it is not likely to be disturbed.</LI>
    <LI>Use trained and qualified contractors for control measures that may disturb asbestos and for cleanup.</LI>
    <LI>Follow proper procedures in replacing woodstove door gaskets that may contain asbestos.</LI>
  </ul>

  <p><strong class="bold-color">LEAD</strong></p>
  <p><strong>Sources:</strong> Lead-based paint, contaminated soil, dust, and drinking water.</p>
  <p>
    <strong>Health Effects:</strong> Lead affects practically all systems within the body.  Lead at high levels (lead levels at or above 80 micrograms per deciliter (80 ug/dl) of blood) can cause convulsions, coma, and even death.  Lower levels of lead can cause adverse health effects on the central nervous system, kidney, and blood cells.  Blood lead levels as low as 10 ug/dl can impair mental and physical development.
  </p>
  <p><strong class="bold-color">Steps to Reduce Exposure:</strong></p>
  <ul>
    <li>Keep areas where children play as dust-free and clean as possible.</li>
    <li>Leave lead-based paint undisturbed if it is in good condition; do not sand or burn off paint that may contain lead.</li>
    <li>Do not remove lead paint yourself.</li>
    <li>Do not bring lead dust into the home.</li>
    <li>If your work or hobby involves lead, change clothes and use doormats before entering your home.</li>
    <li>Eat a balanced diet, rich in calcium and iron.</li>
  </ul>
</div>
