---
title: Engineers and Inspectors | Air Quality - page 5
layout: airquality
---
<div>
  <h5 class="sub-heading">A Guide to Indoor Air Quality<br><small> - <i>page 5</i></small></h5>
  <p><strong class="bold-color">Where To Go For Additional Information on Indoor Air Quality</strong></p>
  <p>Federal agencies with indoor air quality information may be contacted as follows:</p>

  <p><strong class="bold-color">U. S. Environmental Protection Agency (U.S. EPA)</strong></p>

  <p><strong>
    INDOOR AIR QUALITY - Information Clearinghouse (IAQ INFO)</strong><br>
    P.O. Box 37133<br>
    Washington, DC 20013-7133<br>
    <strong>
      <a href="tel:1+8004384318">(800) 438-4318</a><br>
      <a href="tel:1+7033564020">(703) 356-4020</a><br>
    </strong>
    <strong>
      (fax) 703-356-5386
    </strong><br>
    or e-mail: <a href="mailto:iaqinfo@aol.com">iaqinfo@aol.com</a>
  </p>
  <p>
    Operates Monday to Friday from 9a.m. to 5p.m. Eastern Standard Time (EST). Distributes EPA publications, answers questions on the phone, and makes referrals to other nonprofit and governmental organizations.
  </p>

  <p><strong>
    NATIONAL RADON HOTLINES<br>
    (800) SOS-RADON<br>
    <a href="tel:1+8008677235">(800) 767-7236</a><br></strong></p>
  <p>Information recording operates 24 hours a day.</p>

  <p><strong>
    NATIONAL LEAD INFORMATION CENTER<br>
    (800) LEAD-FYI<br>
    <a href="tel:1+8005323396">(800) 532-3394]</a></strong></p>
  <p>
    Operates 24 hours a day, seven days a week. Callers may order an information package.  To speak to an information specialist, call (800) 424-5323.  Operates Monday to Friday from 8:30a.m. to 5p.m. EST.
  </p>

  <p><strong>
    NATIONAL PESTICIDES TELECOMMUNICATIONS NETWORK</strong><br>
    National toll-free number: <strong>(800) 858-PEST</strong> or <strong><a href="tel:1+8008587378">(800) 858-7378</a></strong></p>
  <p>
    Operates Monday to Friday from 6:30a.m. to 4:30p.m. Pacific  Time. Provides information about pesticides to the general public and the medical, veterinary, and professional communities. Medical and government personnel may call 800-858-7377.
  </p>

  <p><strong>
    RCRA/SUPERFUND HOTLINE</strong><br>
    National toll-free number: <strong><a href="tel:1+8004249346">(800) 424-9346</a></strong> or <strong><a href="tel:1+7034129810">(703) 412-9810</a></strong></p>
  <p>
    Operates Monday to Friday from 8:30a.m. to 7:30p.m. EST. Provides information on regulations under both the Resources Conservation and Recovery Act (including solid and hazardous waste issues) and the Superfund law.
  </p>

  <p><strong>
    SAFE DRINKING WATER HOTLINE<br>
    <a href="tel:1+8004264791">(800) 426-4791</a></strong></p>
  <p>
    Operates Monday to Friday from 8:30a.m. to 5p.m. EST. Provides information on regulations under the Safe Drinking Water Act, lead and radon in drinking water, filter information, and a list of state drinking water offices.
  </p>

  <p><strong>
    TSCA ASSISTANCE INFORMATION SERVICE<br>
    <a href="tel:1+2025541404">(202) 554-1404</a></strong></p>
  <p>
    Operates Monday to Friday from 8:30a.m. to 5p.m. EST. Provides information on regulations under the Toxic Substances Control Act and on EPA's asbestos program.
  </p>

  <p><strong class="bold-color">U.S. Consumer Product Safety Commission (CPSC) - <a href="http://www.cpsc.gov/"><i>website</i></a></strong></p>
  <p>
    Washington, DC 20207-0001<br>
    Product Safety Hotline: <strong>(800) 638-CPSC</strong><br>
    Teletypewriter for the hearing impaired (outside Maryland): (800) 638-8270; <br>
    Maryland only: (800) 492-8104.
  </p>
  <p>
    Recorded information is available 24 hours a day when calling from a touch-tone phone.  Operators are on duty Monday to Friday from 10:30 to 4 EST to take complaints about unsafe consumer products.
  </p>

  <hr>
  <p><strong class="bold-color">CPSC Regional Offices</strong></p>
  <hr>

  <p><strong>
    Eastern Regional Center</strong><br>
    6 World Trade Center<br>
    Vesey Street, 3rd Floor Room 350<br>
    New York, NY 10048-0950<br>
    <strong><a href="tel:1+2124661612">(212) 466-1612</a></strong>
  </p>
  <p>
    <strong>States in Eastern Region</strong>: Connecticut, District of Columbia, Delaware, Florida, Massachusetts, Maryland, Maine, North Carolina, New Hampshire, New York, Pennsylvania, South Carolina, Rhode Island, Virginia, Vermont, West Virginia
  </p>

  <p><strong>
    Central Regional Center</strong><br>
    230 South Dearborn Street, Room 2944<br>
    Chicago, IL 60604-1601<br>
    <strong><a href="tel:1+3123538269">(312) 353-8260</a></strong>
  </p>
  <p>
    <strong>States in Central Region: </strong>Alabama, Georgia, Iowa, Illinois, Indiana, Kansas, Kentucky, Michigan, Minnesota, Missouri, Mississippi, North Dakota, Nebraska, Ohio, South Dakota, Tennessee, Wisconsin
  </p>

  <p><strong>
    Western Regional Center</strong><br>
    600 Harrison Street, Room 245<br>
    San Francisco, CA  94107<br>
    <strong><a href="tel:1+4157442966">(415) 744-2966</a></strong>
  </p>
  <p>
    <strong>States in Western Region: </strong>Alaska, Arkansas, Arizona, California, Colorado, Hawaii, Idaho, Louisiana, Montana, New Mexico, Nevada, Oklahoma, Oregon, Texas, Utah, Washington, Wyoming
  </p>

  <hr>

  <p><strong class="bold-color">U.S. Department of Housing and Urban Development - <a href="http://www.hud.gov/"><i>website</i></a></strong></p>
  <p>
    Office of Energy and the Environment, Washington, DC 20410<br>
    HUD USER National toll-free number: <a href="tel:1+8002452691">(800) 245-2691</a><br>
    In Washington, DC area: <a href="tel:1+3012515154">(301) 251-5154</a>
  </p>

  <p><strong class="bold-color">U.S. Department of Energy - <a href="http://www.doe.gov/"><i>website</i></a></strong></p>
  <p>
    Office of Conservation and Renewable Energy<br>
    1000 Independence Ave., SW, Washington, DC 20585
  </p>

  <p><strong class="bold-color">
    Conservation and Renewable Energy Inquiry and Referral Service (CAREIRS)</strong>
    PO Box 3048, Merrifield, VA 22116; <a href="tel:1+8005232929">(800) 523-2929</a>.<br>
    Operates Monday to Friday from 9 to 5 EST. Provides consumer information on conservation and
    renewable energy in residences.
  </p>

  <p><strong class="bold-color">
    U.S. Public Health Service</strong><br>
    Division of Federal Occupational Health<br>
    Office of Environmental Hygiene, Region III, Room 1310<br>
    3535 Market St., Philadelphia, PA 19104<br>
    <a href="tel:1+2155961888">(215) 596-1888</a>; fax: 215-596-5024<br>
  </p>
  <p>Provides indoor air quality consultative services to federal agency managers.</p>

  <p><strong class="bold-color">
    Centers for Disease Control and Prevention< - <a href="http://www.cdc.gov/"><i>website</i></a></strong><br>
    <strong>Lead Poisoning Prevention Branch</strong><br>
    Centers for Disease Control and Prevention<br>
    4770 Buford Highway, NE (F-42)<br>
    Atlanta, GA 30341-3724 <br>
    <a href="tel:1+8004887330">(800) 488-7330</a>
  </p>

  <p><strong>
    Office on Smoking and Health</strong><br>
    Centers for Disease Control and Prevention<br>
    4770 Buford Highway, NE (K-50)<br>
    Atlanta, GA 30341-3724 <br>
    <a href="tel:1+4044885701">(404) 488-5701</a>
  </p>

  <p><strong class="bold-color">
    Occupational Safety and Health Administration (OSHA) - <a href="http://www.osha.gov/"><i>website</i></a></strong><br>
    Office of Information and Consumer Affairs<br>
    Room N-3647, 200 Constitution Avenue, NW<br>
    Washington, DC 20210<br>
    <a href="tel:1+2022198151">(202) 219-8151</a>
  </p>

  <hr>

  <p><strong>
    Bonneville Power Administration</strong><br>
    Portland, OR 97208
  </p>

  <p><strong>
    General Services Administration</strong><br>
    18th and F Streets, NW<br>
    Washington, DC 20405
  </p>

  <p><strong>
    Tennesee Valley Authority</strong><br>
    Industrial Hygiene Branch<br>
    Multipurpose Building (1-B)<br>
    Muscle Shoals, AL 35660
  </p>

  <hr>

  <p><strong>State and Local Organizations</strong></p>
  <p>
    Your questions or concerns about indoor air problems can frequently be answered by the government agencies in your state or local government. Responsibilities for indoor air quality issues are usually divided among many different agencies.  Calling or writing the agencies responsible for health or air quality control is the best way to start getting information from your state or local government. To obtain <a href="http://www.epa.gov/iedweb00/contacts.html" target="_blank">state agency contacts</a>, write or call EPA's <a href="http://www.epa.gov/iedweb00/iaqxline.html" target="_blank">IAQ Information Clearinghouse</a><br>
    <a href="tel:1+8004384318">(800) 438-4318</a> or <a href="tel:1+7033564020">(703) 356-4020</a>
  </p>

  <hr>
  <p><strong class="bold-color">Other Organizations</strong></p>
  <hr>

  <p>
    The following organizations have information specifically discussed in this booklet.  Call the <a href="http://www.epa.gov/iaq/iaqinfo.php" target="_blank">>IAQ Information Clearinghouse</a> at  <a href="tel:1+8004384318">(800) 438-4318</a> for the names of a variety of organizations that have more information on specific and general indoor air quality issues.
  </p>

  <p><strong>
    American Association of Poison Control Centers (AAPCC)</strong><br>
    3800 Reservoir Road, NW<br>
    Washington, DC 20007<br>
    Webiste: <a href="http://www.aapcc.org/">www.aapcc.org</a>
  </p>

  <p><strong>
    Association of Home Appliance Manufacturers (AHAM)</strong><br>
    20 North Wacker Drive<br>
    Chicago, IL  60606<br>
     <a href="tel:1+3129845800">(312) 984-5800</a>, ext. 308<br>
    Website: <a href="http://www.aham.org/">www.aham.org</a>
  </p>

  <p><strong>
    American Society of Heating, Refrigerating, and Air-Conditioning (ASHRAE)</strong><br>
    1791 Tullie Circle NE<br>
    Atlanta, GA 30329<br>
    Website: <a href="http://www.ashrae.org/">www.ashrae.org</a>
  </p>


  <p><strong>
    World Health Organization (WHO)</strong><br>
    Publications Center<br>
    49 Sheridan Avenue<br>
    Albany, NY 12210<br>
    Website: <a href="http://www.who.org/">www.who.org</a>
  </p>

  <p><strong>
    Your Local American Lung Association (ALA)</strong><br>
    National ALA Headquarters<br>
    1740 Broadway<br>
    New York, NY 10019<br>
    (800) LUNG-USA<br>
    Website: <a href="http://www.lungusa.org/">www.lungusa.org</a>
  </p>

  <hr>
  <p><strong>GLOSSARY OF TERMS</strong></p>
  <hr>

  <p><strong>ACID AEROSOL</strong>:  Acidic liquid or solid particles that are small enough to become airborne.  High concentrations of acid aerosols can be irritating to the lungs and have been associated with some respiratory diseases, such as asthma.</p>

  <p><strong>ANIMAL DANDER</strong>:  Tiny scales of animal skin.</p>

  <p><strong>ALLERGEN</strong>:  A substance capable of causing an allergic reaction because of an individual's sensitivity to that substance.</p>

  <p><strong>ALLERGIC RHINITIS</strong>:  Inflammation of the mucous membranes in the nose that is caused by an allergic reaction.</p>

  <p><strong>BUILDING-RELATED ILLNESS</strong>:  A discrete, identifiable disease or illness that can be traced to a specific pollutant or source within a building.  (Contrast with "Sick building syndrome").</p>

  <p><strong>CHEMICAL SENSITIZATION</strong>:  Evidence suggests that some people may develop health problems characterized by effects such as dizziness, eye and throat irritation, chest tightness, and nasal congestion that appear whenever they are exposed to certain chemicals.  People may react to even trace amounts of chemicals to which they have become "sensitized."</p>

  <p><strong>ENVIRONMENTAL TOBACCO SMOKE (ETS)</strong>:  Mixture of smoke from the burning end of a cigarette, pipe, or cigar and smoke exhaled by the smoker (also secondhand smoke or passive smoking).</p>

  <p><strong>FUNGI</strong>:  Any of a group of parasitic lower plants that lack chlorophyll, including molds and mildews.</p>

  <p><strong>HUMIDIFIER FEVER</strong>:  A respiratory illness caused by exposure to toxins from microorganisms found in wet or moist areas in humidifiers and air conditioners.  Also called air conditioner or ventilation fever.</p>

  <p><strong>HYPERSENSITIVITY PNEUMONITIS</strong>:  A group of respiratory diseases that cause inflammation of the lung (specifically granulomatous cells).  Most forms of hypersensitivity pneumon-itis are caused by the inhalation of organic dusts, including molds.</p>

  <p><strong>ORGANIC COMPOUNDS</strong>:  Chemicals that contain carbon.  Volatile organic compounds vaporize at room temperature and pressure.  They are found in many indoor sources, including many common household products and building materials.</p>

  <p><strong>PICOCURIE (pCi)</strong>:  A unit for measuring radioactivity, often expressed as picocuries per liter (pCi/L) of air.</p>

  <p><strong>PRESSED WOOD PRODUCTS</strong>:  A group of materials used in building and furniture construction that are made from wood veneers, particles, or fibers bonded together with an adhesive under heat and pressure.</p>

  <p><strong>RADON (Rn) AND RADON DECAY PRODUCTS</strong>:  Radon is a radioactive gas formed in the decay of uranium.  The radon decay products (also called radon daughters or progeny) can be breathed into the lung where they continue to release radiation as they further decay.</p>

  <p><strong>SICK BUILDING SYNDROME</strong>:  Term that refers to a set of symptoms that affect some number of building occupants during the time they spend in the building and diminish or go away during periods when they leave the building.  Cannot be traced to specific pollutants or sources within the building. (Contrast with "Building related illness").</p>

  <p><strong>VENTILATION RATE</strong>:  The rate at which indoor air enters and leaves a building.  Expressed in one of two ways: the number of changes of outdoor air per unit of time (air changes per hour, or "ach") or the rate at which a volume of outdoor air enters per unit of time (cubic feet per minute, or "cfm").</p>

  <hr>
  
  <p><strong class="bold-color">How Do I Order a Copy of This Booklet?</strong></p>
  <p>
    Send your publication request to <a href="mailto:publications@cpsc.gov">publications@cpsc.gov</A>.  This publication may be reproduced in part or in whole by an individual or organization without permission.
  </p>
</div>
