---
title: Engineers and Inspectors | Asbestos
---
<div class="content enc">
  <div class="content_container">
    <div>
      <h5 class="sub-heading">Asbestos</h5>
    </div>
    <div>
      <p><strong class="bold-color">Sources of Indoor Air Pollution - Asbestos</strong></p>
      <p><a href="http://www.epa.gov/asbestos/" target="_blank">Asbestos at the EPA Wesite</a></p>

      <p>
        Asbestos is a mineral fiber that has been used commonly in a variety of building construction materials for insulation and as a fire-retardant. EPA and CPSC have banned several asbestos products. Manufacturers have also voluntarily limited uses of asbestos. Today, asbestos is most commonly found in older homes, in pipe and furnace insulation materials, asbestos shingles, millboard, textured paints and other coating materials, and floor tiles.
      </p>
      <p>
        Elevated concentrations of airborne asbestos can occur after asbestos-containing materials are disturbed by cutting, sanding or other remodeling activities. Improper attempts to remove these materials can release asbestos fibers into the air in homes, increasing asbestos levels and endangering people living in those homes.
      </p>

      <p><strong class="bold-color">Sources of Asbestos</strong></p>
      <blockquote>
        Deteriorating, damaged, or disturbed insulation, fireproofing, acoustical materials, and floor tiles.
      </blockquote>

      <p><strong class="bold-color">Health Effects</strong></p>
      <blockquote>
        No immediate symptoms, but long-term risk of chest and abdominal cancers and lung diseases. Smokers are at higher risk of developing asbestos-induced lung cancer.&nbsp;  Integrated Risk Information System description on Asbestos - <a href="http://www.epa.gov/iris/subst/0371.htm#I.A."" target="_blank">www.epa.gov/iris/subst/0371.htm#I.A.</a> (Chemical Abstract Service Registry Number - 1332-21-4).<br><br>
        The most dangerous asbestos fibers are too small to be visible. After they are inhaled, they can remain and accumulate in the lungs. Asbestos can cause lung cancer, mesothelioma (a cancer of the chest and abdominal linings), and asbestosis (irreversible lung scarring that can be fatal). Symptoms of these diseases do not show up until many years after exposure began. Most people with asbestos-related diseases were exposed to elevated concentrations on the job; some developed disease from exposure to clothing and equipment brought home from job sites.
      </blockquote>
      <div class="head2">Levels in Homes</div>
      <blockquote>
        Elevated levels can occur in homes where asbestos-containing materials are damaged or disturbed.
      </blockquote>
    </div>

    <div>
      <h5 class="sub-heading">Steps to Reduce Exposure</h5>
    </div>
    <div>
      <ul>
        <li>It is best to leave undamaged asbestos
          material alone if it is not likely to be disturbed.</li>
        <li>Use trained and qualified contractors
          for control measures that may disturb asbestos and for cleanup.</li>
        <li>Follow proper procedures in replacing
          wood stove door gaskets that may contain asbestos.</li>
      </ul>

      <blockquote>
        <p><i><strong>If you think your home may have asbestos, don't panic!</strong></i></p>
        <p>
          Usually it is best to leave asbestos material that is in good condition alone. Generally, material in good condition will not release asbestos fiber. There is no danger unless fibers are released and inhaled into the lungs.
        </p>

        <p><i><strong>Do not cut, rip, or sand asbestos-containing materials.</strong></i></p>
        <p>
          Leave undamaged materials alone and, to the extent possible, prevent them from being damaged, disturbed, or touched. Periodically inspect for damage or deterioration. Discard damaged or worn asbestos gloves, stove-top pads, or ironing board covers. Check with local health, environmental, or other appropriate officials to find out about proper handling and disposal procedures. If asbestos material is more than slightly damaged, or if you are going to make changes in your home that might disturb it, repair or removal by a professional is needed. Before you have your house remodeled, find out whether asbestos materials are present.
        </p>
        
        <p><i><strong>When you need to remove or clean up asbestos, use a professionally trained contractor.</strong></i></p>
        <p>
          Select a contractor only after careful discussion of the problems in your home and the steps the contractor will take to clean up or remove them. Consider the option of sealing off the materials instead of removing them.
        </p>
      </blockquote>
    </div>

    <div>
      <h5 class="sub-heading">Additional Resources</h5>
    </div>
    <div>
      <p><i><strong>
        Asbestos in Your Home</strong></i> <a href="http://www.epa.gov/asbestos/pubs/ashome.html" target="_blank">www.epa.gov/asbestos/pubs/ashome.html</a>
      </p>

      <blockquote>
        <p>
          This brochure, authored by the Office of Pollution Prevention and Toxic Substances&#39; Asbestos Program, discusses health effects of asbestos exposure, identifies common products and building materials from the past that might contain asbestos, and describes conditions that may cause release of asbestos fibers. Describes how to identify materials that contain asbestos and how to control an asbestos problem. Explains the role of asbestos professionals and use of asbestos inspectors and removal contractors. This brochure was co-authored with the American Lung Association and the U.S. Consumer Product Safety Commission.&nbsp; [EPA 4<strong>00-K-90-100</strong>, Sept. 1990]
        </p>
        
        <p>See also:</p>
        <ul>
          <li><strong><i>&quot;The ABC's of Asbestos in Schools&quot;</i></strong> -
          <a href="http://www.epa.gov/asbestos/abcsfinal.pdf">
          http://www.epa.gov/asbestos/abcsfinal.pdf</a> <br>&nbsp;</li>

          <li><strong>Asbestos in Schools Frequently Asked Questions page</strong> -
          <a href="http://www.epa.gov/asbestos/aherafaq.html">
          http://www.epa.gov/asbestos/aherafaq.html</a> </li>
        </ul>
      </blockquote>

      <div>
        <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
      </div>
    </div>
  </div>
</div>
