---
title: Engineers and Inspectors | Carbon Monoxide
---

<div class="content enc">
  <div class="content_container">
    <div>
      <h5 class="sub-heading">Carbon Monoxide</h5>
    </div>
    <div>
      <p><strong class="bold-color">Sources of Indoor Air Pollution - Carbon Monoxide (CO)</strong></p>
      <p>
        <a href="http://www.osha.gov/OshDoc/data_General_Facts/carbonmonoxide-factsheet.pdf"><img src="/images/save.gif" border="0" width="14" height="14" alt="Save">&nbsp;&nbsp;Download a PDF version of this article</a>
      </p>

      <p>
        Indoor Environments Division (6607J)<br>
        Office of Air and Radiation<br>
        EPA-402-F-96-005, October 1996<br>
      </p>

      <p><strong class="bold-color">Definition</strong></p>
      <p>
        Colorless gas or liquid; practically odorless. Burns with a violet flame. Slightly soluble in water; soluble in alcohol and benzene. Specific gravity 0.96716; boiling point -190oC; solidification point -207oC; specific volume 13.8 cu. ft./lb. (70oF). Auto ignition temperature (liquid) 1128oF. Classed as an inorganic compound. <em>Source:</em> "The Condensed Chemical Dictionary," 9th ed., revised by Gessner G. Hawley, Van Nostrand Reinhold Co., NY, 1977.
      </p>

      <p><strong class="bold-color">Sources of Carbon Monoxide</strong></p>
      <p>
        Unvented kerosene and gas space heaters; leaking chimneys and furnaces; back-drafting from furnaces, gas water heaters, wood stoves, and fireplaces; gas stoves; generators and other gasoline powered equipment; automobile exhaust from attached garages; and tobacco smoke.
      </p>

      <p><strong class="bold-color">Health Effects Associated with Carbon Monoxide</strong></p>
      <p>
        At low concentrations, fatigue in healthy people and chest pain in people with heart disease. At higher concentrations, impaired vision and coordination; headaches; dizziness; confusion; nausea. Can cause flu-like symptoms that clear up after leaving home. Fatal at very high concentrations.
      </p>

      <p><strong class="bold-color">Levels in Homes</strong></p>
      <p>
        Average levels in homes without gas stoves vary from 0.5 to 5 parts per million (ppm). Levels near properly adjusted gas stoves are often 5 to 15 ppm and those near poorly adjusted stoves may be 30 ppm or higher.
      </p>
    </div>

    <div>
      <p><strong class="bold-color">Steps to Reduce Exposure to Carbon Monoxide</strong></p>
      <ul>
        <li>Keep gas appliances properly adjusted.</li>
        <li>Consider purchasing a vented space heater when replacing an unvented one.</li>
        <li>Use proper fuel in kerosene space heaters. </li>
        <li>Install and use an exhaust fan vented to outdoors over gas stoves.</li>
        <li>Open flues when fireplaces are in use.</li>
        <li>Choose properly sized wood stoves that are certified to meet EPA emission standards. Make certain that doors on all wood stoves fit tightly.</li>
        <li>Have a trained professional inspect, clean, and tune-up central heating system (furnaces, flues, and chimneys) annually. Repair any leaks promptly.</li>
        <li>Do not idle the car inside garage.</li>
      </ul>

      <p><strong class="bold-color">Carbon Monoxide At A Glance</strong></p>
      
      <table width="100%">
        <tr>
          <td width="33%" valign="top" bgcolor="#F7AA47">Description</td>
          <td width="33%" valign="top" bgcolor="#F7AA47">Sources</td>
          <td width="33%" valign="top" bgcolor="#F7AA47">Standards or Guidelines</td>
        </tr>
        <tr>
          <td width="33%" valign="top">Carbon monoxide (CO) is a colorless, odorless, and tasteless gas. It results from incomplete oxidation of carbon in combustion.</td>
          <td width="33%" valign="top">Incomplete oxidation during combustion in gas ranges and unvented gas or kerosene heaters may cause high concentrations of CO in indoor air.  Worn or poorly adjusted and maintained combustion devices (e.g., boilers, furnaces) can be significant sources, or if the flue is improperly sized, blocked, disconnected, or is leaking.  Auto, truck, or bus exhaust from attached garages, nearby roads, or parking areas can also be a source. <br><br></td>
          <td width="33%" valign="top">No standards for CO have been agreed upon for indoor air.  The U.S. National Ambient Air Quality Standards for outdoor air are 9 ppm (40,000 micrograms per meter cubed) for 8 hours, and 35 ppm for 1 hour.</td>
        </tr>
        <tr>
          <td width="33%" valign="top" bgcolor="#F7AA47">Health Effects</td>
          <td width="33%" valign="top" bgcolor="#F7AA47">Measurement Methods</td>
          <td width="33%" valign="top" bgcolor="#F7AA47">Control Measures</td>
        </tr>
        <tr>
          <td width="33%" valign="top">Acute effects are due to the formation of carboxyhemoglobin in the blood, which inhibits oxygen intake.  At moderate concentrations, angina, impaired vision, and reduced brain function may result.  At higher concentrations, CO exposure can be fatal.</td>
          <td width="33%" valign="top">Some relatively high-cost infrared radiation adsorption and electrochemical instruments do exist.  Moderately priced real-time measuring devices are also available.  A passive monitor is currently under development.</td>
          <td width="33%" valign="top">It is most important to be sure combustion equipment is maintained and properly adjusted.  Vehicular use should be carefully managed adjacent to buildings and in vocational programs.  Additional ventilation can be used as a temporary measure when high levels of CO are expected for short periods of time.</td>
        </tr>
      </table>

      <p>
        <em>Source:</em>
        <a href="http://www.epa.gov/iaq/schools/tfs/guidee.html">IAQ Tools for Schools Kit - IAQ Coordinator's Guide</a>
      </p>
    </div>

    <div>
      <p><strong class="bold-color">What Is Carbon Monoxide?</strong></p>
      <p>
        Carbon monoxide (CO) is a poisonous, colorless, odorless, and tasteless gas. Although it has no detectable odor, CO is often mixed with other gases that do have an odor. So, you can inhale carbon monoxide right along with gases that you can smell and not even know that CO is present.
      </p>
      <p>
        CO is a common industrial hazard resulting from the incomplete burning of natural gas and any other material containing carbon such as gasoline, kerosene, oil, propane, coal, or wood. 
        Forges, blast furnaces and coke ovens produce CO, but one of the most common sources of exposure in the workplace is the internal combustion engine.
      </p>

      <p><strong class="bold-color">How Does CO Harm You?</strong></p>
      <p>
        Carbon monoxide is harmful when breathed because it displaces oxygen in the blood and
        deprives the heart, brain, and other vital organs of oxygen. Large amounts of CO can overcome
        you in minutes without warning-causing you to lose consciousness and suffocate.
        Besides tightness across the chest, initial symptoms of CO poisoning may include
        headache, fatigue, dizziness, drowsiness, or nausea. Sudden chest pain may occur in people
        with angina. During prolonged or high exposures, symptoms may worsen and include vomiting,
        confusion, and collapse in addition to loss of consciousness and muscle weakness. Symptoms
        vary widely from person to person. CO poisoning may occur sooner in those most susceptible: young children, elderly people, people with lung or heart disease, people at high altitudes, or those who already have elevated CO blood levels, such as smokers. Also, CO poisoning poses a special risk to fetuses.
      </p>
      <p>
        CO poisoning can be reversed if caught in time. But even if you recover, acute poisoning
        may result in permanent damage to the parts of your body that require a lot of oxygen such as the
        heart and brain. Significant reproductive risk is also linked to CO.
      </p>
    </div>

    <div>
      <p><strong class="bold-color">Who is at risk?</strong></p>
      <p>
        You may be exposed to harmful levels of CO in boiler rooms, breweries, warehouses, petroleum refineries, pulp and paper production, and steel production; around docks, blast furnaces, or coke ovens; or in one of the following occupations:
      </p>
        <ul>
          <li>Welder</li>
          <li>Garage mechanic</li>
          <li>Firefighter</li>
          <li>Carbon-black maker</li>
          <li>Organic chemical synthesizer</li>
          <li>Metal oxide reducer</li>
          <li>Longshore worker</li>
          <li>Diesel engine operator</li>
          <li>Forklift operator</li>
          <li>Marine terminal worker</li>
          <li>Toll booth or tunnel attendant</li>
          <li>Customs inspector</li>
          <li>Police officer</li>
          <li>Taxi driver.</li>
        </ul>

      <p><strong class="bold-color">What can you do if you suspect someone has been poisoned?</strong></p>

      <p>When you suspect CO poisoning, promptly taking the following actions can save lives:</p>
      <ul>
        <li>Move the victim immediately to fresh air in an open area.</li>
        <li>Call 911 or another local emergency number for medical attention or assistance.</li>
        <li>Administer 100-percent oxygen using a tight-fitting mask if the victim is breathing.</li>
        <li>Administer cardiopulmonary resuscitation if the victim has stopped breathing.
        </li>
      </ul>

      <p>
        <em><strong>Warning:</strong></em> 
        You may be exposed to fatal levels of CO poisoning in a rescue attempt. Rescuers should be skilled at performing recovery operations and using recovery equipment. Employers should make sure that rescuers are not exposed to dangerous CO levels when performing rescue operations.
      </p>
    </div>

    <div>
      <p><strong class="bold-color">What are the OSHA standards for CO exposure?</strong></p>
      <ul>
        <li>The OSHA PEL is 50 parts per million (ppm). OSHA standards prohibit worker exposure to
        more than 50 parts of the gas per million parts of air averaged during an 8-hour time period.</li>
        <li>The 8-hour PEL for CO in maritime operations is also 50 ppm. Maritime workers, however,
        must be removed from exposure if the CO concentration in the atmosphere exceeds
        100 ppm. The peak CO level for employees engaged in Ro-Ro operations (roll-on roll-off
        operations during cargo loading and unloading) is 200 ppm.

        </li>
      </ul>

      <p><strong class="bold-color">How can you get more information on safety and health?</strong></p>
      <p>
        OSHA has various publications, standards, technical assistance, and compliance tools to help you, and offers extensive assistance through workplace consultation, voluntary protection programs, grants, strategic partnerships, state plans, training, and education. OSHA's Safety and Health Program Management Guidelines ( Federal Register 54:3904-3916, January 26, 1989) detail elements critical to the development of a successful safety and health management system. This and other information are available on OSHA's website.
      </p>

      <ul>
        <li>
          For one free copy of OSHA publications, send a self-addressed mailing label to<br>
          OSHA Publications Office,<br>
          P.O. Box 37535<br>
          Washington, DC 20013-7535<br>
          phone: (202) 693-1888<br>
          fax: (202) 693-2498<br><br>
        </li> 
        <li>To order OSHA publications online at www.osha.gov, go to Publications and follow the instructions for ordering.</li>
        <li>
          To file a complaint by phone, report an emergency, or get OSHA advice, assistance, or products, contact your nearest OSHA office under the "U.S. Department of Labor" listing in your phone book, or call toll-free at <strong>(800) 321-OSHA (6742)</strong>. The teletypewriter (TTY) number is (877) 889-5627.</li>
        <li>To file a complaint online or obtain more information on OSHA federal and state programs, visit OSHA's website.</li>
      </ul>
    </div>

    <div>
      <p><strong class="bold-color">Links</strong></p>
      <p>
        Office of Air and Radiation page - <a href="http://www.epa.gov/air/urbanair/co/index.html">&quot;CO - How Carbon Monoxide Affects the Way We Live and Breathe&quot;</a>
      </p>
      
      <p>Office of Research and Development:</p>
        <ul>
          <li>
            <a href="http://cfpub2.epa.gov/ncea/cfm/recordisplay.cfm?deid=65766">Carbon Monoxide and the Nervous System</a>. Raub, J. A., and V. A. Benignus. Carbon Monoxide and the Nervous System. NEUROSCIENCE AND BIOBEHAVIORAL REVIEWS 26(8):925-940, (2002).<br><br>
          </li>
          <li>
            <a href="http://cfpub2.epa.gov/ncea/cfm/recordisplay.cfm?deid=65703">Carbon Monoxide Poisoning - A Public Health Perspective</a>. Raub, J. A., M. Mathieunolf, N. B. Hampson, and S. R. Thom. Carbon Monoxide Poinsoning--a Public Health Perspective. TOXICOLOGY (145):1-14, (2000).<br><br>
          </li>
          <li>
            <a href="http://cfpub2.epa.gov/ncea/cfm/recordisplay.cfm?deid=38202">Revised Evaluation of Health Effects Associated With Carbon Monoxide Exposure: An Addendum to the 1979 EPA Air Quality Criteria Document for Carbon Monoxide</a> Benignus, V., L. Grant, D. Mckee, and J. Raub. Revised Evaluation of Health Effects Associated With Carbon Monoxide Exposure: An Addendum to the 1979 EPA Air Quality Criteria Document for Carbon Monoxide. U.S. Environmental Protection Agency, Washington, D.C., EPA/600/8-83/033F (NTIS PB85103471).<br><br>
          </li>
        </ul>

      <p><strong class="bold-color">National Center for Environmental Health</strong></p>
      <p>
        Air and Respiratory Health Branch<br>
        Centers for Disease Control and Prevention (CDC)<br>
        &quot;Carbon Monoxide Poisoning Fact Sheet&quot; (in English and Spanish) -
        <a href="http://www.cdc.gov/co/faqs.htm">
        www.cdc.gov/nceh/airpollution/carbonmonoxide/cofaq.htm</a><br>
        &quot;Checklist for Prevention of Carbon Monoxide Poisoning&quot;&nbsp;
        <a href="http://www.cdc.gov/co/checklist.htm">
        www.cdc.gov/nceh/airpollution/carbonmonoxide/checklist.htm</a>&nbsp;
      </p>
      
      <p>
        <strong class="bold-color">U.S. Consumer Product Safety Commission</strong>, Office of Information and Public Affairs, Washington, D.C. 20207<br>
        <a href="http://www.cpsc.gov/cpscpub/pubs/466.html">Carbon Monoxide Questions and Answers</a> (CPSC document #466) 
      </p>

      <blockquote>
        <p>The U.S. Consumer Product Safety Commission protects the public from the unreasonable risk of injury or death from 15,000 types of consumer products under the agency's jurisdiction. To report a dangerous product or a product-related injury, you can go to CPSC's forms page &#151; 
        <a href="http://www.cpsc.gov/talk.html">www.cpsc.gov/talk.html</a>   and use the first on-line form on that page. Or, you can call CPSC's hotline at (800) 638-2772 or CPSC's teletypewriter at (800) 638-8270, or send the information to <a href="mailto:info@cpsc.gov">info@cpsc.gov</a>.</p>
        <p>&quot;<b>Your Home Fire Safety Checklist</b>&quot; (<a href="http://www.cpsc.gov/cpscpub/pubs/556.html">www.cpsc.gov/cpscpub/pubs/556.html</a>) - CPSC </p>
      </blockquote>

      <p>
        <strong class="bold-color">American Lung Association Fact Sheet on Carbon Monoxide<br>
        <a href="http://www.lungusa.org/air/carbon_factsheet99.html">www.lungusa.org/air/carbon_factsheet99.html</a></p>
        <p>Occupational Safety and Health Administration's Fact Sheet on Carbon Monoxide (a pdf file) -
        <a href="http://www.osha.gov/OshDoc/data_General_Facts/carbonmonoxide-factsheet.pdf">www.osha.gov/OshDoc/data_General_Facts/carbonmonoxide-factsheet.pdf</a>&nbsp;</p>
        <p>&quot;Carbon Monoxide Poisoning&quot;&nbsp;
        <a href="http://www.nlm.nih.gov/medlineplus/carbonmonoxidepoisoning.html">www.nlm.nih.gov/medlineplus/carbonmonoxidepoisoning.html</a>
      </p>

      <p>
        Medline Plus Health Topics, a service of the U.S. National National Library of Medicine and the National Institute of Health
      </p>
      
      <p><strong class="bold-color">About Carbon Monoxide Detectors:</strong></p>
      
      <blockquote>
        <p>
          Underwriters' Laboratory - Product Safety Tips - Carbon Monoxide Alarms - <a href="http://www.ul.com/consumers/co.html">www.ul.com/consumers/co.html</a>
        </p>
        <p>
          About Your House - Carbon Monoxide, Canadian Mortgage and Housing Corporation (CMHC) <a href="http://www.cmhc-schl.gc.ca/en/burema/gesein/abhose/abhose_ce25.cfm">www.cmhc-schl.gc.ca/en/burema/gesein/abhose/abhose_ce25.cfm</a>
        </p>
        <p>About.com &quot;What You Need to Know about Carbon Monoxide Detectors&quot;
          <a href="http://www.chemistry.about.com/library/weekly/aa092202a.htm">www.chemistry.about.com/library/weekly/aa092202a.htm</a>
        </p>
      </blockquote>
      
        <p><strong class="bold-color">
          CPSC Recommends Carbon Monoxide Alarm for Every Home (January 18, 2001 CPSC Release # 01-069)
        </strong></p>
      
      <blockquote>
        <p>
          The U.S. Consumer Product Safety Commission (CPSC) recommends that every home should have a carbon monoxide (CO) alarm. CPSC also urges consumers to have a professional inspection of all fuel- burning appliances -- including furnaces, stoves, fireplaces, clothes dryers, water heaters, and space heaters -- to detect deadly carbon monoxide leaks.&nbsp; CPSC recommends that every home should have at least one CO alarm that meets the requirements of the most recent Underwriters Laboratories (UL) 2034 standard or International Approval Services 6-96 standard.&nbsp;&nbsp;<a href="http://www.cpsc.gov/cpscpub/prerel/prhtml01/01069.html">www.cpsc.gov/cpscpub/prerel/prhtml01/01069.html</a>
        </p>
      </blockquote>

      <div>
        <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
      </div>

  </div>
</div>