---
title: Engineers and Inspectors | Concrete
---
<div class="content">
  <div class="content_container">
    <div>
      <h5 class="sub-heading">Concrete Flatwork</h5>
    </div>
    
    <div>
      <p>
        Concrete is one of the most durable building materials, but it does require occasional repair and maintenance. 
        Problems can be caused by outside forces such as freezing water, structural problems or surface damage, which is usually caused by improper finishing methods or poorly mixed concrete. 
        Whatever the cause, it's best to tackle concrete problems as soon as you discover them. Repair projects can span a wide range, from sealing a surface to replacing an entire structure. The most common repairs are filling cracks and repairing surface damage. Another solution is resurfacing-covering an old surface with fresh concrete. A good surface repair can last for many years, but if there is underlying structural damage, it is only a temporary solution. 
      </p>
    </div>

    <div>
      <p><strong class="bold-color">Common Concrete Problems</strong></p>
      
      <p>Problem: Dirty or stained concrete</p>
      <p>Solution: Splotches or stains on concrete surfaces can usually be removed by a professional powerwasher. Sealing the surface against spills can prevent this.</p>

      <p>Problem: Cracked or chipped concrete</p>
      <p>Solution: Often fissure openings in the surface or small pieces breaking away are signs of future problems. Take these tiny signals seriously and have a contractor check out the problems and make repairs.</p>

      <p>Problem: Concrete edge is cracked or broken</p>
      <p>Solution: Unfortunately, any hard surface can chip or break away at the edges. Commonly caused by impact or erosion, cracks can be fixed if the problem is small.</p>

      <p>Problem: Flaking concrete</p>
      <p>Solution: If you see the surface breaking away, this may signal that the concrete mixture may be flawed. Concrete's unique blend of elements gives it strength and durability. Flaking is not a common characteristic. 
      Flaking can also be a sign that the concrete was poured during cold weather. A strong freeze will cause the new surface to become brittle and can make the surface prone to flaking. Some surfaces can be repaired by a professional, however, if damage is deeper, the pad will need replacing.</p>

      <p>Problem: Settling</p>
      <p>Solution: Settling is a common cause of damage as soils shift up and down over time. Concrete is designed for strength, but not necessarily for extreme flexibility. Small shifts are okay, but larger shifts will damage concrete. Settling is often a serious and expensive problem. In most cases, repair is not an option.</p>
    </div>


    <div> 
      <p><strong class="bold-color">Concrete Surfaces and Uses</strong></p>
      <p>
        There are several different types of concrete surfaces and which type you install depends on the area it will be installed. Here are where the most common types of concrete are typically used. 
      </p>

      <p>Garage or basement</p>
      <p>Garage or basement concrete surfaces work well in garages and basements because they are structural floorings and can take heavy use with little maintenance. Cleaning concrete is also easier than other, more-delicate flooring.</p>


      <p>Driveway and parking areas</p>
      <p>Most driveway or parking areas are either concrete or asphalt. Brick or stone masonry is an expensive alternative. These areas need to handle heavy use and be easy to maintain. With concrete, you will need to finish the surface with a "brush-textured finish," a rougher surface that helps with traction.</p>


      <p>Exterior walkways</p>
      <p>Concrete or stone masonry are popular options for exterior walkways. Stone masonry will be more decorative, however, concrete will be less expensive and requires less maintenance. A concrete walkway should also have a "brush-textured finish."</p>

      <p>Patios</p>
      <p>Like walkways, concrete or stone masonry are popular options for a patio. Concrete will be less expensive and quicker to custom make and should have a "brush-textured finish" like all exterior concrete surfaces.</p>

      <p>Detached garages, sheds and porches.</p>
      <p>Detached garages, sheds and porches need a concrete base flooring for support and structure.</p>

      <p>Steps</p>
      <p>Concrete steps are commonly installed at the same time as concrete walkways, patios and porches and the same factors should be considered.</p>
    </div>

    <div>
      <p><strong class="bold-color">Concrete Installation</strong></p>

      <p>Site preparation</p>
      <p>Concrete is often one of the very base foundations of any structure. However, good site preparation, including proper excavation and grading, is necessary to insure a good foundation.</p>
      
      <p>Concrete form work</p>
      <p>Concrete can either be flat or shaped into three-dimensional objects. If you need steps, curbs or other form work, discuss your options with your contractor.</p>

      <p>Rebar installation</p>
      <p>In some cases it is necessary to install steel rebar within the concrete, as this makes the concrete structure stronger.</p>

      <p>Removing old concrete</p>
      <p>Removing concrete or paving material is difficult work. Often it's best to leave this to a contractor, who will have proper equipment and training to handle the removal.</p>
    </div>

    <div>
      <p><strong class="bold-color">Concrete Finishes</strong></p>
      <p>Concrete surfaces come in three different finishes. The most common for interiors has a smooth finish created by running a flat trowel over the top. This can be quite smooth, almost like glass.</p>

      <p>Smooth surfaces don't work well outside. A little water can turn a smooth concrete surface into a slip hazard. Contractors should texture exterior surfaces with a brush-textured finish, a rougher surface that wicks away water and provides traction.</p>
      
      <p>Exposed aggregate finish is a rougher finish and less common. The gravel that makes up the concrete is exposed to the surface and good for traction.</p>
    </div>

    <div>
      <p><strong class="bold-color">Concrete color additives</strong></p>
      <p>Concrete can come in a wide variety of colors created by adding dyes to the liquid mixture.</p>
      <p>Fixing damage to colored concrete is tricky. Getting the right blend of colors is not an exact science. Don't expect a repair person to create the perfect match.</p>
      <p>If a perfect match is critical, consider removing and replacing the area with new concrete.</p>
    </div>
  </div>
</div>
  