---
title: Engineers and Inspectors | EIFS
---

<div class="content">
  <div class="content_container"> 
    <div class="row">
    	<div class="col s12 m4 l3 hide-on-small-only">
        	<ul class="section table-of-contents fixed">
        		<h5 class="left-align sub-heading">EIFS</h5>
        		<li><a href="#eifs">About</a></li>
          	<li><a href="#america">In North America</a></li>
          	<li><a href="#stucco">EIFS vs. Stucco</a></li>
          	<li><a href="#problems">Possible Problems</a></li>
          	<li><a href="#guidelines">EIMA Guidelines</a></li>
        	</ul>
      </div>

      <div class="col s12 m8 l9">
      	<div id="eifs" class="section scrollspy">
      		<div>
      			<h5 class="sub-heading">Exterior Insulation and Finish Systems</h5>

    				<p>
    					<a href="http://www.eima.com/Guide_to_EIFS.pdf"> <img src="images/save.gif" border="0" width="14" height="14" alt="Save">Read the EIMA Guide to EIFS Construction</a>
    				</p>

    				<p>
    					EIFS stands for Exterior Insulation and Finish Systems. The product is also called synthetic stucco, and refers to a multi-layered exterior finish that's been used in European construction since shortly after World War II. Contractors found it to be a suitable repair choice for buildings damaged in the war. The majority of repairs to buildings were to structures constructed of stone, concrete, brick, or other similar, sturdy materials. 
    				</p>
      		</div>
      	</div>
      	<div id="america" class="section scrollspy">
      		<div>
    				<h5 class="sub-heading">EIFS in North America</h5>
						<p>
							North American builders began using EIFS in the 1980s, first in commercial buildings, then applying it as an exterior finish to residences - mostly wood frame houses - using the same techniques that had been successful in Europe. 
						</p>
						
						<p>There are three layers to EIFS</p>
						<ul>
							<li><p><strong class="bold-color">Inner Layer</strong> - Foam insulation board that's secured to the exterior wall surface, often with adhesive.</p></li>
							<li><p><strong class="bold-color">Middle Layer</strong> - A polymer and cement base coat that's applied to the top of the insulation, then reinforced with a glass fiber mesh.</p></li>
							<li><p><strong class="bold-color">Exterior Layer</strong> - A textured finish coat.</p></li>
						</ul>
		
						<p>
							EIFS layers bond to form a covering that does not breathe. That is fine when there is little or no moisture is present behind the cladding, but if any kind of moisture seeps in it can become trapped behind the layers. With no place to go, exposure to moisture will lead to wood rot, mold, and even mildew in the vulnerable materials within the home.
						</p>
						
						<p>
							An Exterior Insulation Finish System, or "EIFS," is a synthetic stucco-cladding used on exterior walls in both commercial and residential construction. EIFS uses a stucco-like polymer-based outer coating containing a plastic resin, which makes the coating softer and more flexible than traditional hard-coat stucco. EIFS is applied using an expanded polystyrene (EPS) insulation board resembling Styrofoam. The EPS board is attached directly to the substrate (typically wood, Oriented Strand Board ("OSB") or gypsum board) with adhesive or mechanical fasteners. A cementious base coat (usually gray in color) is then troweled onto the EPS board. Before the base coat dries, a fiberglass reinforcing mesh is worked into it until the mesh is completely covered. A finish coat is then troweled over the base coat. The finish coat can be colored to the homeowner's taste.
						</p>

						<p>
							<img src="http://www.lazrweb.com/inc/images/eifsdrawing.gif" width="300" height="245" alt="EIFS drawing">
							<img src="http://www.lazrweb.com/inc/images/scroll1.gif" width="300" height="338" alt="EIFS drawing">
						</p>

						<p>
							The original EIFS stucco cladding used in residential construction was designed to be a complete water barrier system, theoretically 100% waterproof. This "Barrier EIFS" was installed on thousands of homes all over America.
						</p>

						<p>There was no provision made to drain water that may penetrate a barrier EIFS.</p>

						<p>
							Manufacturers have recently begun to market a new generation of EIFS, supposedly to solve the problem by allowing drainage. The new "drainable EIFS" cladding is more difficult to install, and its effectiveness and reliability have yet to be proven. The new system provides little consolation to thousands of homeowners whose houses, condominium units and townhouses are clad with a barrier EIFS.
						</p>

						<p>
							Without the ability to drain water, moisture penetrates the face of a barrier EIFS and gets trapped within the wall hollow. Eventually, the home absorbs this moisture. Now it is only a matter of time before bordering materials begin to decompose and decay. In many cases, the home's framing also rots, causing structural harm.
						</p>
      		</div>
      	</div>
      	
      	<div id="stucco" class="section scrollspy">
      		<div>
      			<h5 class="sub-heading">What's The Difference Between EIFS and Stucco?</h5>

      			<p><strong class="bold-color">Materials</strong></p>
      			<p>
      				A traditional hard-coat stucco exterior system is extremely durable because it essentially covers your home with a layer of rock. Cement stucco is made of sand, a small quantity of lime, Portland cement and water. Basically, it is a fine-grained concrete that is attached to your house using a waterproof barrier paper, galvanized wire mesh and metal flashings (devices that channel water to the exterior of a wall). The stucco's facade is meant to be a primary barrier, but a secondary or "concealed" barrier directs any water that gets behind the facade to the exterior. This creates a dual barrier to wind-driven rain, snow and ice. Barrier EIFS on the other hand, uses a multi-layer "synthetic" stucco that is much softer than traditional stucco.
      			</p>

      			<p><strong class="bold-color">Breathability</strong></p>
      			<p>
							While it has the appearance of stucco and is installed the same way; EIFS has some very unique properties. One of the most important differences is that Barrier EIFS will not allow water to pass back through its coating in vapor form once moisture gets behind the system. By contrast, traditional stucco is a porous material; which will permit moisture to move in and out of the wall cavity.
						</p>
						
						<p><strong class="bold-color">Installation</strong></p>
						<p>
							Barrier EIFS consists of a base coat and finish coat applied over an EPS board that is attached directly to the sheathing underneath using fasteners or adhesive. The system provides no opportunity for water to drain out once it penetrates behind the EPS board. Traditional stucco, on the other hand, is applied over a wire mesh, and installed with standoffs that allow space behind the stucco for "weeping" of water. No EPS or Styrofoam board is used in a traditional stucco exterior.
						</p>
					</div>

					<div>
						<h5 class="sub-heading">EIFS or Stucco, what do you have?</h5>
						<p>
							There are tests that any homeowner can perform to determine whether he or she has EIFS or traditional stucco.
						</p>

						<p><strong class="bold-color">The Knock Test</strong></p>
						<p>
							Knock on an outer "stucco" wall of your home. If it sounds hollow, there is a good chance you have EIFS. If it feels like you are knocking on a stonewall, it is more likely that you are knocking on traditional "hard-coat" stucco.
						</p>

						<p><strong class="bold-color">The Touchy Feely Test</p></strong>
						<p>
							Put your hand under the bottom edge of the cladding near the foundation, assuming that is possible (another common installation error occurs when the EIFS is installed below grade, making this test nearly impossible). If you can feel that the cladding comes out away from the foundation 3/4 of an inch or more, chances are you have an EIFS cladding. This is because the EPS board used in EIFS makes the system extend farther away from the wall than a traditional stucco system.
						</p>

						<p><strong class="bold-color">The Penetration Test</p></strong>
						<p>
							Inspect some of the penetrations in the stucco. Most installers of EIFS do not create proper joints around penetrations such as light fixtures, gutter straps, or doorbell/intercom devices. Remove one or more of these items and check for the foam board used in EIFS. If you see a Styrofoam-like board, you have EIFS. Traditional stucco exteriors do not use this component.
						</p>
      		</div>
      	</div>

      	<div id="problems" class="section scrollspy">
      		<div>
      			<h5 class="sub-heading">Possible Problems</h5>
      			<p>
							The problems with barrier EIFS cladding all come from water intrusion. These problems include moisture accumulation in the wall cavity, and subsequent wood damage in more advanced cases. Other problems include mold growth and the infestation of pests such as carpenter ants or termites. 
						</p>

						<p><strong class="bold-color">Moisture in Your Wall</strong></p>
						<p>
							Water intrusion problems with EIFS are not unique to any part of the country. Field investigations of EIFS have identified excessive moisture accumulation problems in New Jersey, New York and Pennsylvania, North Carolina and in Virginia. The more it rains, the greater the likelihood of water intrusion problems.
						</p>
						<p>
							There are many ways water gets in barrier EIFS, including improper joints around penetrations where EIFS meets dissimilar materials, and the lack of correct flashing. Water can also enter the system through cracks in the face of the EIFS, regardless of how small the crack. Any joint or penetration in the EIFS material may be suspect to contributing to water penetration.
						</p>

						<p><strong class="bold-color">Wood Damage</strong></p>
						<p>
							When water enters behind the EIFS on an ongoing basis, there is little chance of the system ever drying out. Elevated moisture levels (over 20%) lead to wood decay and fungus, which is often visually imperceptible. The result can be saturation, wood rot and severe damage to the wood structure.
						</p>
						
						<p><strong class="bold-color">Pest Infestation</strong></p>
						<p>
							The moisture behind a barrier EIFS cladding creates a perfect environment for many pests. In addition, the EPS foam panels used in EIFS offer an ideal home for insects, especially carpenter ants and termites.
						</p>

						<p><strong class="bold-color">Carpenter Ants</strong></p>
						<p>
							EIFS carpenter ant infestation can be much more complicated to treat than typical ant problems. Because of the saturated foam board and elevated moisture content in the wood, carpenter ants tend to remain within the structure of the home and do not migrate to the exterior. As a result, pesticide treatments around the foundation of the home are less effective. Also, traditional powder treatments often fail because the powder "cakes" when it contacts the saturated wall cavity, reducing its effectiveness.
						</p>

						<p><strong class="bold-color">Termites</strong></p>
						<p>
							Termites also present unique problems in EIFS, as they are virtually undetectable in the foam panels used in EIFS, which can be up to four inches thick. Termites prefer to tunnel inside the material as they migrate from the ground to the wood structure and back to the ground. Some experts suggest that termites like the elevated carbon dioxide levels found in the boards, and the relative ease of tunneling through the damp panels. Many pest control professionals actually recommend moisture intrusion tests be performed by specialists to determine if a problem exists before they will even inspect the home. 
						</p>

						<p><strong class="bold-color">Mold</strong></p>
						<p>
							Mold will grow anywhere where there is moisture. This is especially true given the vapor impermeability of EIFS, which creates an ideal environment for the growth of molds including Cladosporium, Penicillium, Aspergillus, Alternaria and one of the more toxic molds gaining media attention, Stachybotrys Chartarum (also known as Stachybotrys Atra). Constant moisture, a problem with EIFS, is required for Stachybotrys Chartarum to grow. While it is less common than other mold species, it is not rare.
						</p>
						<p>
							Mold exposure does not always present a health problem. However, some people are sensitive to molds. These people may experience mild symptoms such as nasal stuffiness, eye irritation, or wheezing when exposed to molds. Some people however, may have more severe reactions, including fever and shortness of breath. People with chronic illnesses, such as obstructive lung disease, may even develop mold infections in their lungs. 
						</p>

						<p><strong class="bold-color">What to look for</strong></p>
						<p>
							Because EIFS cannot drain water, the system's success depends heavily on a perfect installation job -- something rarely done. Common installation errors include errors in installation detail when sealing openings, failure to properly "backwrap" the mesh at termination points, and failure to use proper flashing.
						</p>

						<p>Here are some areas around the home most susceptible to water intrusion:</p>
						<ul>
							<li><p>Joints around windows, doorframes and sills or where the EIFS meets other materials such as wood trim, stone or brick</p></li>
							<li><p>Areas where rooflines intersect with the EIFS, or anywhere diverter flashing or step flashing is missing</p></li>
							<li><p>Deck connections</p></li>
							<li><p>Decorative trim which is butted against or nailed through the EIFS</p></li>
							<li><p>Fireplace chimney chase</p></li>
							<li><p>Cap flashing and cricket flashing</p></li>
							<li><p>Any penetration in the EIFS, such as utility lines & pipes, hose bibs, screws and nails driven through the EIFS, A/C refrigerant lines, exterior light fixtures and receptacles, etc.<p></li>
							<li><p>Expansion joints between floors<p></li>
							<li><p>Any horizontal surfaces where water can pond</p></li>
							<li><p>Cracks or damage in the finish coat of the EIFS</p></li>
						</ul>
      		</div>
      	</div>

      	<div id="guidelines" class="section scrollspy">
      		<div>
      			<h5 class="sub-heading">EIMA Guidelines for the Inspection of EIFS-Clad Houses</h5>
						<p>
							The primary objective of inspecting the exterior of any existing house is to determine whether or not it is installed and functioning properly. Merely comparing the home's existing specifics to current published guidelines fails to accomplish this objective. An inspection should identify repairs that are essential, effective and cost-effective.
						</p>

						<p>
							Inspection reports that identify existing details and conditions as "defective" because they depart from current published manufacturers' guidelines can mislead the homeowner, real estate agent, or other parties into starting unnecessary remedial work. This is especially true if there is positive evidence that the existing details are functioning properly.
						</p>

						<p>
							The following guidelines may be helpful in determining if there is a need for remedial work on single-family, EIFS-clad houses.
						</p>

						<p>
							Overall Description: EIMA-Published Details.<br>
							Function: For general information and guidance only.<br>
							Guidelines:For new construction, EIMA details provide a helpful guide in designing the critical interfaces between various exterior building components. Alternate detailing is acceptable, as long as it provides the desired performance characteristics.
						</p>

						<p>
							<strong class="bold-color">Item Description</strong>: Horizontal Joint at Floor Lines<br>
							Function: Address cross-grain shrinkage in dimensional lumber that could result in wrinkling or cracking of coatings, or bulging of the system.<br>
							Guidelines: This type of shrinkage occurs when lumber experiences its initial loss of moisture. This happens only once in the life of a house, typically in the first two years.
							For houses two or more years old, a joint or other re-medial work is unnecessary if there is no evidence of bulging, wrinkling or cracking at the floor line. (The American Institute of Timber Construction can provide information on wood properties.) 
						</p>


						<p>
							<strong class="bold-color">Item Description</strong>: Sealant Joints around Openings and Penetrations<br>
							Function: Prevent water entry where EIFS meet other materials. Sealant is installed to provide a weather seal and to accommodate movement between materials.<br>
							Guidelines:</strong> Sealant must be utilized at all terminations, including where EIFS terminate or meet other materials. Filet beads with bond breaker (such as triangular backer rod, or bond breaker tape) are appropriate for weather seal joints around windows, doors and other minor penetrations in single-family houses.
						</p>


						<p>
							<strong class="bold-color">Item Description</strong>: Projecting Surfaces<br>
							Provides architectural features (i.e. trim around windows and doors, quoins, and other decorative features).<br>
							Guidelines: Location and climate will influence the performance of a projecting surface. Residential trim protruding horizontally is acceptable if no damage has occurred to the EIFS surface.
						</p>


						<p>
							<strong class="bold-color">Item Description</strong>: Termination above Roof or Deck<br>
							Function: A gap allows for appropriate system edge termination, ease of roof or deck replacement or repair. It also allows for the system and flashing to be inspected for proper installation.<br>
							Guidelines: On an existing project, the termination can occur closer to the roof or deck surfaces than indicated in published details, as long as the bottom edge of the EIF system satisfies the manufacturer's specifications.
						</p>


						<p>
							<strong class="bold-color">Item Description</strong>: Termination Above Finished Grade<br>
							Function: A gap should be maintained between EIFS and the finished grade. The gap must be wide enough to allow access for visual inspection and treatment of the foundation for pest control.<br>
							Guidelines: Where access to the foundation is not required for visual inspection or treatment for pest control, the EIFS can remain in place.
						</p>


						<p>
							<strong class="bold-color">Item Description</strong>: Kickout/Diverter at Roof/ Wall Intersection<br>
							Function: Accumulating water runoff should be directed out and away from the structure. Roof-to-wall flashing requires a kickout/ diverter at its termination to insure that water is directed to the outside.<br>
							Guidelines: The diverter can vary in its dimensions to accommodate local exposure conditions and specific detailing requirements, as long as it directs water completely away from wall surfaces.
						</p>

						<p>
							The information in this document is intended to serve only as a guide for inspecting and determining what remedial work may be necessary if EIFS are not installed in accordance with EIMA's published application instructions, guideline specifications and typical details. EIMA assumes no responsibility for architecture, engineering, or design, or its members' products, or for the success of jobs on which EIFS products are used, or any remedial work. For this document's purpose, it is assumed that the house was built by a qualified builder, and all remedial work is performed by qualified personnel according to local building code requirements. For new construction, as opposed to EIFS remediation work, EIFS manufacturers' recommendations, details and specifications should always be followed.
						</p>

						<p>
							The "Guide to Exterior Insulation and Finish Systems Construction" provides an easy-to-follow roadmap showing how EIFS are installed and integrated into a typical wall assembly. If you're a home inspector, architect, construction engineer, homebuilder, or a homeowner, you'll find the sketches and accompanying descriptions to be particularly helpful. The guide replaces the "EIMA Exterior Insulation and Finish Systems Class PB Details", and applies to all EIF systems on the market.
						</p>

						<p>
							<a href="http://www.eima.com/" target="_blank"><img src="http://www.lazrweb.com/images/eimalogo.gif" border="0" width="76" height="51" alt="EIMA"></a>
						</p>
							
						<p>
							Article provided by <a href="http://www.eima.com/">EIMA</a>; visit <a href="http://www.eima.com/specialinterests/homeinspectionprofessionals/" target="_blank">http://www.eima.com/specialinterests/homeinspectionprofessionals/</a> for more EIFS info for Home Inspectors.
						</p>

      		</div>
      	</div>

      </div>
    </div>



   	<div>
      <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
    </div>
  </div>
</div>

