---
title: Engineers and Inspectors | Lead
---
<div class="content enc">
  <div class="content_container">
    <div class="row">

      <div class="col s12 m4 l3 hide-on-small-only">
        <ul class="section table-of-contents fixed">
          <h5 class="left-align sub-heading">Lead</h5>
          <li><a href="#about">About</a></li>
          <li><a href="#prevention">Prevention</a></li>
          <li><a href="#health">Health Effects</a></li>
          <li><a href="#exposure">Exposure</a></li>
          <li><a href="#levels">Levels</a></li>
          <li><a href="#resources">Resources</a></li>
        </ul>
      </div>

      <div class="col s12 m8 l9">
        <div id="about" class="section scrollspy">
          <div>
            <h5 class="sub-heading">Download PDF Content</h5>
            <p>Download a PDF version of the content in this article:</p>
            <p>
              <a href="http://www.epa.gov/lead/pubs/leadrev.pdf" target="_blank"><img src="images/save.gif" border="0" width="14" height="14" alt="Save"> EPA's Lead in Your Home: A Parent's Reference Guide</a>
            </p>
            <p>
              <a href="http://www.epa.gov/lead/pubs/lpandyce.pdf" target="_blank"><img src="images/save.gif" border="0" width="14" height="14" alt="Save"> EPA's Lead Poisoning and Your Children</a>
            </p>
            <p>
              <a href="http://www.epa.gov/lead/pubs/leadpdfe.pdf" target="_blank"><img src="images/save.gif" border="0" width="14" height="14" alt="Save"> EPA's Protect Your Family From Lead in Your Home</a>
            </p>
            <p>
              <a href="http://www.epa.gov/lead/pubs/leadtest.pdf" target="_blank"><img src="images/save.gif" border="0" width="14" height="14" alt="Save"> EPA's Testing Your Home for Lead in Paint, Dust, and Soil</a>
            </p>
            <p>
              <a href="http://www.epa.gov/lead/pubs/nutrition.pdf" target="_blank"><img src="images/save.gif" border="0" width="14" height="14" alt="Save"> EPA's Lead and a Healthy Diet</a>
            </p>
            <p>
              <a href="http://www.epa.gov/lead/pubs/rrpamph.pdf" target="_blank"><img src="images/save.gif" border="0" width="14" height="14" alt="Save"> EPA's Reducing Lead when Remodeling</a>
            </p>
            <ul>
              <li><p>Lead exposure can be dangerous, especially to children ages 6 and younger.</p></li>
              <li>
                <p>Exposure to lead-contaminated dust, not lead-based paint is the most common way to get lead poisoning.</p>
              </li>
              <li><p>Lead poisoning can be prevented.</p></li>
            </ul>
            <p>
              Lead is highly toxic. Exposure to it can be dangerous, especially for children who are 6 or younger. But lead is also stable and easy to work with, so it has been used for many purposes. even in our homes. It is important that every parent know where lead can be found, and how to control it. It is also important to know what to do if you or a member of your family is exposed to lead.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">How Lead Has Commonly Been Used</h5>
            <p>
              Lead is a metal that has been mined for thousands of years. In the past, it was used to make common items found in or near homes. These items include paint, gasoline, water pipes, and food cans. 
            </p>
            <p>
              <strong class="bold-color">Lead in paint.</strong><br>
              Manufacturers used to put lead pigments in paint because the pigments make the paint last longer and cling to surfaces better. But problems can occur later. Paint that is disturbed or that is breaking down with age can contaminate dust. Lead-based paint is no longer used in homes, on children's toys, or on household furniture. In 1978, the Consumer Product Safety Commission (CPSC) banned its sale for use in residences. That same year the CPSC also made it illegal to paint children's toys and household furniture with lead-based paint.
            </p>
            <p>
              <strong class="bold-color">Lead in gasoline.</strong><br>
              Oil companies used to add lead to gasoline to stop engine knocking in automobiles, but dangerous lead particles escaped into the air through auto exhaust systems. In 1978, the U.S. Environmental Protection Agency (EPA) reduced the amount of lead allowed in gasoline.
            </p>
            <p>
              <strong class="bold-color">Lead in household pipes.</strong><br>
              Lead used in fixtures, pipes, or pipe soldering can leach into water that flows through the pipes. In 1986, and again in 1988, Congress changed the Safe Drinking Water Act to restrict the use of lead in pipes, solder, and other components used in public water systems and residential and nonresidential plumbing. Unfortunately, lead may still be found in pipes today.
            </p>
            <p>
              <strong class="bold-color">Lead in food cans.</strong><br>
              The lead solder used to seal food cans can mix with the food in the can. The United States banned the use of lead solder in cans in 1995, but it is still used in many other countries. Lead solder may be found in cans imported to the United States.
            </p>
            <p>
              Lead has long been recognized as a harmful environmental pollutant. In late 1991, the Secretary of the Department of Health and Human Services called lead the "number one environmental threat to the health of children in the United States." There are many ways in which humans are exposed to lead: through air, drinking water, food, contaminated soil, deteriorating paint, and dust. Airborne lead enters the body when an individual breathes or swallows lead particles or dust once it has settled. Before it was known how harmful lead could be, it was used in paint, gasoline, water pipes, and many other products.
            </p>
            <p>
              Old lead-based paint is the most significant source of lead exposure in the U.S. today. Harmful exposures to lead can be created when lead-based paint is improperly removed from surfaces by dry scraping, sanding, or open-flame burning. High concentrations of airborne lead particles in homes can also result from lead dust from outdoor sources, including contaminated soil tracked inside, and use of lead in certain indoor activities such as soldering and stained-glass making.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Definition</h5>
            <p>
              [From "The Condensed Chemical Dictionary, 9th ed., Van Nostrand Reinhold Company, New York, 1977.] Metallic element of atomic number 82, Group IVA of the periodic table.  Atomic weight 207.2; valences 2, 4; 4 stable isotopes.  The isotopes are the end products of the three series of natural radioactive elements uranium (206), thorium (208), and actinium (207).
            </p>
            <p>
              <strong class="bold-color">Properties</strong> - Heavy, ductile, soft gray solid.  Sp. gr. 11.35; m.p. 327.4oC; b.p. 1755oC; soluble in dilute nitric acid; insoluble in water but dissolves slowly in water containing a weak acid; resists corrosion; relatively impenetrable to radiation.  Poor electrical conductor; good sound and vibration absorber.  Non-combustible.
            </p>
            <p>
              <strong class="bold-color">Sources of Lead:</strong> Lead-based paint, contaminated soil, dust, and drinking water.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Lead Health Effects</h5>
            <p>
              Lead affects practically all systems within the body. Lead at high levels (lead levels at or above 80 micrograms per deciliter of blood) can cause convulsions, coma, and even death. Lower levels of lead can cause adverse health effects on the central nervous system, kidney, and blood cells. Blood lead levels as low as 10 micrograms per deciliter can impair mental and physical development.  EPA's Integrated Risk Information System profile on Lead and Lead Compounds - <a href="http://epa.gov/iris/subst/0277.htm" target="_blank">epa.gov/iris/subst/0277.htm</a>
            </p>
            <p>
              The effects of lead exposure on fetuses and young children can be severe. They include delays in physical and mental development, lower IQ levels, shortened attention spans, and increased behavioral problems. Fetuses, infants, and children are more vulnerable to lead exposure than adults since lead is more easily absorbed into growing bodies, and the tissues of small children are more sensitive to the damaging effects of lead. Children may have higher exposures since they are more likely to get lead dust on their hands and then put their fingers or other lead-contaminated objects into their mouths.
            </p>
            <p>
              Get your child tested for lead exposure. To find out where to do this, call your doctor or local health clinic. For more information on health effects, get a copy of the Centers for Disease Control's (CDC - <a href="http://www.cdc.gov/" target="_blank">www.cdc.gov</a>), "<a href="http://www.cdc.gov/mmwr/preview/mmwrhtml/00000659.htm" target="_blank">Preventing Lead Poisoning in Young Children</a>."
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Finding Lead Hazards in Your Home</h5>
            <p>
              Changes in the law have greatly reduced the amount of lead in our homes and in the air today. But it is important to remember that lead does not break down over time. Therefore, you should know how to identify sources of lead in your home and how to keep your family safe.
            </p>
            <p>The most common household lead hazards are lead-based paint, lead dust, and contaminated soil.</p>
            <p><strong class="bold-color">Lead-based paint:</strong></p>
            <blockquote>
              <p>
                Lead-based paint is a hazard if it is peeling, chipping, chalking, or cracking. Even lead-based paint that appears to be undisturbed can be a problem if it is on surfaces that children chew or that get a lot of wear and tear. These areas include: windows and window sills; doors and door frames; stairs, railings and banisters, porches, and fences. Even surfaces that have been covered with new paint or another covering can expose older lead-based paint layers when they become cracked or chipped. The older your home is, the more likely it is to contain lead-based paint.
              </p>
            </blockquote>
            <p><strong class="bold-color">Dust:</strong></p>
            <blockquote>
              <p>
                Dust can become contaminated with lead when lead-based paint is dry scraped or sanded. Dust can also become contaminated when painted surfaces bump or rub together. Lead chips and dust can gather on surfaces and objects that people touch or that children put into their mouths.
              </p>
            </blockquote>
            <p><strong class="bold-color">Soil:</strong></p>
            <blockquote>
              <p>
                Soil can become contaminated when exterior lead-based paint from houses, buildings, or other structures flake or peels and gets into the soil. Soil near roadways may also be contaminated from past use of leaded gasoline in cars. Avoid these areas when planting vegetable gardens.
              </p>
            </blockquote> 
            <p><strong class="bold-color">Older plumbing fixtures:</strong></p>
            <blockquote>
              <p>
                Older plumbing fixtures, such as faucets, lead pipes, and pipes connected with lead solder, can contaminate drinking water. Older water well pumps made with brass or bronze parts that contain lead can also contaminate drinking water. The amount of lead in your water depends on the types and amounts of minerals in the water, how long the water stays in the pipes, the amount of wear in the pipes, the water's acidity, and its temperature. Lead can leach into water at any temperature, but the amount of lead can be much greater when the water is hot or warm, so don't drink or cook with water from the "hot" faucet. Carbon, sand, and cartridge filters do not remove lead from water, although some filters are "certified" for lead removal. Boiling your water will not get rid of the lead.
              </p>
            </blockquote>
            <p><strong class="bold-color">Vinyl mini-blinds:</strong></p>
            <blockquote>
              <p>
                Some imported, non-glossy, vinyl mini-blinds can be a leadhazard, especially to young children. Sunlight and heat can break down the blinds and may release lead-contaminated dust. Children who touch the mini-blinds and put their fingers in their mouths may ingest the lead particles. It's best to removethese blinds if you have children who are 6 or younger. If you purchase new mini-blinds, look for products with labels that say "new formulation," "non-leaded formula," "no lead added,"" or "New! Non-leaded vinyl formulation."
              </p>
            </blockquote>
            <p><strong class="bold-color">Painted toys and household furniture:</strong></p>
            <blockquote>
              <p>
                Painted toys and household furniture made before 1978 may be painted with lead-based paint. Do not let children chew on any older, painted toys or furniture, such as cribs or playpens.
              </p>
            </blockquote>
            <p><strong class="bold-color">Lead-glazed ceramic ware, pottery, and leaded crystal:</strong></p>
            <blockquote>
              <p>
                Food and liquids can absorb lead and become contaminated when stored in these items. Lead may be present in some glassware and in glazes found on ceramic wares.
              </p>
            </blockquote>
            <p><strong class="bold-color">Exposed to lead at your job site:</strong></p>
            <blockquote>
              <p>
                If you are exposed to lead at your job site, you could bring lead dust home on your clothes, shoes, hair, or skin. Lead smelters or other industries can release lead into the air.
              </p>
            </blockquote> 
            <p><strong class="bold-color">Hobbies:</strong></p>
            <blockquote>
              <p>Hobbies such as making pottery, working with stained glass, or refinishing furniture can expose you to lead hazards. Try not to work on these hobbies in your home.</p>
            </blockquote>
            <p><strong class="bold-color">Folk remedies:</strong></p>
            <blockquote>
              <p>
                Folk remedies that contain lead can cause lead poisoning. Two examples are "Greta" and "Azarcon," which are often used in the Hispanic and Asian communities to treat an upset stomach. Another is "Pay loo ah" which is a red powder used to treat a rash or fever. Putting lead into a human body is dangerous, and it does not cure such ailments.
              </p>
            </blockquote>
          </div>
        </div>


        <div id="prevention" class="section scrollspy">
          <div>
            <h5 class="sub-heading">How Can I Reduce or Get Rid of the Lead-Based Paint Hazards in My Home?</h5>
            <p>
              In addition to the day-to-day steps outlined in the previous section, you can prevent lead poisoning by using either interim controls, abatement, or both.
            </p>
            <ul>
              <li>
                <p>
                  <strong class="bold-color">Interim controls.</strong><br>
                  Interim controls are treatments that temporarily reduce the risk of exposure to lead hazards. For example, you can repair damaged painted surfaces or plant grass to cover soil.
                </p>  
              </li>
              <li>
                <p>
                  <strong class="bold-color">Abatement.</strong><br>
                  Abatement is the permanent elimination of lead-based paint hazards. The four methods below are for abatement of structural components in housing.
                </p>
                <ul>
                  <li>
                    <p>
                      <strong class="bold-color">Replacement.</strong> The removal of lead-painted items - such as windows, doors, and trim - and the installation of new, lead-free items.
                    </p>
                  </li>
                  <li>
                    <p>
                      <strong class="bold-color">Enclosure.</strong> The covering of lead-painted surfaces with a stiff material - such as paneling or wallboard - to prevent lead dust from getting into the environment. Enclosure also prevents contact with the lead-based paint.
                    </p>
                  </li>
                  <li>
                    <p>
                      <strong class="bold-color">Encapsulation.</strong> The covering of lead-painted surfaces with a special liquid coating. Once it dries, the coating prevents contact with the lead-based paint and the spread of lead dust.
                    </p>
                  </li>
                  <li>
                    <p>
                      <strong class="bold-color">Paint removal.</strong> The removal of paint done either in your home or at a paint stripping facility. Methods often used include wet scraping, wet planing, or chemical stripping.
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
            <p>
              You can perform many simple interim controls yourself, but - because performing an abatement can be dangerous - only a certified contractor should perform an abatement. Call your state lead contact or the HUD Lead Listing at (888) LEAD-LIST for a list of certified contractors in your area.
            </p>
            <p><strong class="bold-color">Q. What is the difference between interim controls and abatement?</strong></p>
            <p>
              A. Interim controls temporarily reduce lead hazards. They may solve the problem, at least until the condition of the affected area worsens. If that happens, the hazard needs to be reevaluated. Abatement permanently eliminates the lead hazard.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Routine Cleaning and Maintenance</h5>
            <p>
              It is very important to care for the lead-painted surfaces in your home. Lead-based paint in good condition is usually not harmful.
            </p>
            <p><strong class="bold-color">What Causes Lead Dust?</strong></p>
            <p>
              Certain household activities are likely to disturb lead-painted surfaces and contaminate dust, including repeatedly opening and closing windows and bumping furniture or other objects against painted walls. Dust can also become contaminated during many home improvement.
            </p>
            <p>These activities include:</p>
            <ul>
              <li><p>Nailing, drilling, or screwing into lead-painted surfaces.</p></li>
              <li><p>Prying painted surfaces apart.</p></li>
              <li><p>Cutting, sawing, or chopping lead-painted surfaces.</p></li>
              <li><p>Tearing out walls.</p></li>
              <li><p>Making holes in walls or ceilings to access pipes or install electrical outlets.</li>
              <li>
                <p>
                  Scraping, sanding, brushing, or using a heat gun on painted surfaces before repainting. Heat guns should not be warmed above 1100&deg; F. If heated above this temperature, lead-based paint can give off toxic fumes.
                </p>
              </li>
            </ul>
            <p>
              Although the lead-based paint in your home may be in good condition, if it is on a surface that is often rubbed, bumped, or chewed, it can easily peel and flake and can be harmful.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">How Do I Prevent Lead Dust?</h5>
            <p>
              Follow three important rules when dealing with lead-based paint:</p>
            <ul>
              <li>
                <p>
                  Do not dry scrape or sand most lead-painted surfaces. Instead, wet scrape areas by misting the surface with water before and during scraping. Limit dry scraping to areas that cannot get wet, such as those around electrical outlets.
                </p>
              </li>
              <li>
                <p>
                  Try to control dust during work on lead-painted surfaces by using the equipment and following the precautions listed.
                </p>
              </li>
              <li>
                <p>
                  Use a wet sponge or a mister to dampen and wipe down surfaces when cleaning. Never dry sweep or dust lead-painted surfaces.
                </p>
              </li>
            </ul>
          </div>

          <div>
            <h5 class="sub-heading">What Are the Best Ways to Clean Dust?</h5>
            <p>
              There are ways to clean your home that will help you reduce or prevent your family's exposure to lead dust. Here are some tips on how to clean and how not to clean your home. It's best to follow these steps weekly
            </p>
            <p><strong class="bold-color">Cleaning Uncarpeted Floors</strong></p>
            <blockquote>
              <p><strong class="bold-color">Do use: </strong></p>
              <p>Damp or wet mopping.</p>
              <p>
                Standard sponge or string type mops and an all-purpose cleaner or a cleaner made specifically for lead.
              </p>
              <p>Standard vacuum cleaners if no visible dust or debris from chipping or flaking paint is present.</p>
            </blockquote>
            <blockquote>
              <p><strong class="bold-color">Don't use:</strong></p>
              <p>Mops with a scrubber strip attached.</p>
              <p>Powered buffing or polishing machines.</p>
              <p>Vacuums with beater bars that may wear away the painted surface.</p>
            </blockquote>
            <p><strong class="bold-color">Cleaning Carpets and Rugs</strong></p>
            <blockquote>
              <p><strong class="bold-color">Do use:</strong></p>
              <p>Wet scrubbing methods to remove stains.</p>
              <p>Steam cleaning methods.</p>
              <p>Standard vacuum cleaners if no visible dust or debris from chipping or flaking paint is present.</p>
            </blockquote>
            <blockquote>
              <p><strong class="bold-color">Don't use:</strong></p>
              <p>Dry sweeping of surface dust and debris.</p>
              <p>Shaking or beating of carpets and rugs.</p>
            </blockquote>
            <p><strong class="bold-color">Cleaning Walls</strong></p>
            <blockquote>
              <p><strong class="bold-color">Do use:</strong></p>
              <p>Soft cloths to wet wipe walls.</p>
              <p>All-purpose cleaner or a cleaner made specifically for lead.</p>
            </blockquote>
            <blockquote>
              <p><strong class="bold-color">Don't use:</strong></p>
              <p>Steel wool, scouring pads, and abrasive cleaners.</p>
              <p>Solvent cleaners that may dissolve paint.</p>
            </blockquote>
            <p><strong class="bold-color">Cleaning Other Painted Surfaces</strong></p>
            <blockquote>
              <p><strong class="bold-color">Do use:</strong></p>
              <p>Soft cloths.</p>
              <p>All-purpose cleaner or a cleaner made specifically for lead.</p>
            </blockquote>
            <blockquote>
              <p><strong class="bold-color">Don't use:</strong></p>
              <p>Abrasive cleaners and scouring pads.</p>
              <p>Solvent cleaners that may dissolve the paint.</p>
              <p>Excessive rubbing of spots to remove them.</p>
            </blockquote>
            <p><strong class="bold-color">Dusting</strong></p>
            <blockquote>
              <p><strong class="bold-color">Do use:</strong></p>
              <p>Disposable, non-abrasive dusting cloths or dusters.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


