---
title: Engineers and Inspectors | Mold
---
<div class="content enc">
  <div class="content_container">
    <div class="row">
      <div class="col s12 m4 l3 hide-on-small-only">
        <div class="toc-wrapper">
          <ul class="section table-of-contents">
            <h5 class="left-align sub-heading">Mold</h5>
            <li><a href="#dangers">Dangers</a></li>
            <li><a href="#control">Control</a></li>
            <li><a href="#basics">Basics</a></li>
            <li><a href="#cleanup">Clean Up</a></li>
            <li><a href="#prevention">Prevention</a></li>
          </ul>
        </div>
      </div>

      <div class="col s12 m8 l9">
        <div id="dangers" class="section scrollspy">
          <div>
            <p>
              <a href="http://www.epa.gov/mold/images/moldguide.pdf"><img src="/images/save.gif" border="0" width="14" height="14" alt="Save">  Download a PDF version of this article</a>
            </p>
            <h5 class="sub-heading">Why Is Mold So Dangerous?</h5>
            <p>
              Mold is a fungus; molds are plants that make spores instead of seeds that float in the air like pollen. They are a common trigger for allergies. Molds are found in damp areas, such as the basement or bathroom, as well as in the outdoor environment in grass, leaf piles, hay, and mulch.
            </p>
            <ul>
              <li>Headaches</li>
              <li>Skin rashes</li>
              <li>Respiratory problems</li>
              <li>Lung disease</li>
              <li>Memory loss and brain damage (in extreme circumstances)</li>
            </ul>
          </div>

          <div>
            <h5 class="sub-heading">Black Mold Associated With Health Problems</h5>
              <p>
                Although there are many varieties of mold that are benign or even beneficial (think of bleu cheese and penicillin), some are very toxic to humans and pets. Many common health problems, including some that are very severe, have been related to living or working in an environment that is contaminated with toxic mold. One of the worst is the black mold known as stachybotrys atra, a member of a family of molds that produce airborne mycotoxins which can cause serious breathing difficulties, memory and hearing loss, dizziness, flu like symptoms, and bleeding in the lungs.
              </p>
          </div>

          <div>
            <h5 class="sub-heading">How Severe Is The Problem?</h5>
              <p>
                A USA WEEKEND report ("MOLD: A Health Alert", Dec. 5, 1999) describes how, "people with prolonged exposure to mycotoxins from Stachybotrys and other fungi experienced chronic fatigue, loss of balance, irritability, memory loss and difficulty speaking." The article also mentions several other studies that describe the extent of the problem. In one Harvard study of 10,000 homes, mold was associated with a 50 to 100% increase in respiratory symptoms. A Mayo Clinic Study indicated that nearly all of the 37 million sufferers of chronic sinus infection may be able to attribute it to mold. Other studies mentioned in the article link mold to the 300% increase in asthma over the past 20 years.
              </p>
          </div>

          <div>
            <h5 class="sub-heading">Problem Signs</h5>
            <p>
              <strong class="bold-color">Mold and/or Mildew</strong><br>
              Fungus that grows in damp, dark areas. Causes discoloration, musty smells and odors.
            </p>
            <p>
              <strong class="bold-color">Musty Odors</strong><br>
              This is the result of the decay process from mold, mildew, and dry rot.
            </p>
            <p>
              <strong class="bold-color">Damp Spots on Walls</strong><br>
              Sign that water has absorbed through wall block will have dark gray splotches in various places.
            </p>
            <p>
              <strong class="bold-color">White Chalky Substance on Walls</strong><br>
              Known as efflorescence, this is a chemical breakdown of the bonding agent that holds your walls together. Sign of possible structural deterioration.
            </p>
            <p>
              <strong class="bold-color">Cracked Walls</strong><br>
              Sign that foundation has moved/shifted Should be inspected to determine the exact cause.
            </p>
            <p>
              <strong class="bold-color">Peeling Paint</strong><br>
              Sign that the wall has taken moisture inside, as Paint will not stick to a wet surface.
            </p>
            <p>
              <strong class="bold-color">Rust on Appliances or Furniture</strong><br>
              Look for rust on bottoms of furnaces, Water heaters, and other metal appliances for signs of dampness and water evaporation.
            </p>
            <p>
              <strong class="bold-color">Dry Rot</strong><br>
              Dark brown/black fungus. Grows on walls And other surfaces. Grows mostly on wooden surfaces, causing wood to decay.
            </p>
            <p>
              <strong class="bold-color">Warped Paneling</strong><br>
              Moisture will cause paneling to bow and discolor, commonly at the bottom portion of the paneling.
            </p>
          </div>
        </div>


        <div id="control" class="section scrollspy">
          <div>
            <h5 class="sub-heading">Concerns</h5>
            <p>
              Concern about indoor exposure to mold has been increasing as the public becomes aware that exposure to mold can cause a variety of health effects and symptoms, including allergic reactions. This article presents guidelines for the remediation/cleanup of mold and moisture problems in schools and commercial buildings; these guidelines include measures designed to protect the health of building occupants and remediators. It has been designed primarily for building managers, custodians, and others who are responsible for commercial building and school maintenance. It should serve as a reference for potential mold and moisture remediators.
            </p>
            <p>
              Using this document, individuals with little or no experience with mold remediation should be able to make a reasonable judgment as to whether the situation can be handled in-house.
            </p>
            <p>
              It will help those in charge of maintenance to evaluate an in-house remediation plan or a remediation plan submitted by an outside contractor. Contractors and other professionals who respond to mold and moisture situations in commercial buildings and schools may also want to refer to these guidelines.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Mold Inspection & Investigation</h5>
            <p>
              Visual inspection including roof, crawl spaces, walls, basements, attic,  cupboard, cabinet, closets, maintenance areas, and other hidden areas.
            </p>
            <ul>
              <li>Visual inspection around building envelope exterior.</li>
              <li>Moisture meter measurements on suspected areas. </li>
              <li>Sampling Methods: Air Sample, Bulk Sample, Tape Sample, Wall Check or Carpet Check. </li>
              <li>Digital photos of any detected mold. </li>
              <li>Acquisition of bulk or surface samples if visible mold is detected. </li>
              <li>Management of sample handling and analysis. </li>
              <li>Verbal interpretation of results.</li>
              <li>Written preliminary lab results.</li>
              <li>Written interpretation report. (E-mailed to you and send by regular mail)</li>
              <li>Questions about the properties maintenance and damage history.</li>
            </ul>
          </div>

          <div>
            <h5 class="sub-heading">Moisture Control is the Key to Mold Control</h5>
            <p>
              Moisture control is the key to mold control especially those involving large areas of contamination, the remediation plan may include temporary relocation of some or all of  the building occupants. The decision to relocate occupants should be considered regarding the size and type of the area affected by mold growth, the type and extent of health effects reported by the occupants, the potential health risks that could be associated with debris, and the amount of disruption likely to be caused by remediation activities. If possible, remediation activities should be scheduled during off-hours when building occupants are less likely to be affected.
            </p>
            <p>
              Remediators, particularly those with health-related concerns, may wish to check with their doctors or health care professionals before working on mold remediation or investigating potentially moldy areas. If you have any doubts or questions, you should consult a health professional before beginning a remediation project.
            </p>
            <p><strong class="bold-color">HVAC System</strong></p>
            <p>
              Do not run the HVAC system if you know or suspect that it is contaminated with mold. If you suspect that it may be contaminated (it is part of an identified moisture problem, for instance, or there is mold growth near the intake to the system), consult EPA's guide Should You Have the Air Ducts in Your Home Cleaned? before taking further action.
            </p>
            <p>
              In some cases, indoor mold growth may not be obvious. It is possible that mold may be growing on hidden surfaces, such as the backside of dry wall, wallpaper, or paneling, the top of ceiling tiles, the underside of carpets and pads, etc. Possible locations of hidden mold can include pipe chases and utility tunnels (with leaking or condensing pipes), walls behind furniture (where condensation forms), condensate drain pans inside air handling units, porous thermal or acoustic liners inside ductwork, or roof materials above ceiling tiles (due to roof leaks or insufficient insulation). Some building materials, such as dry wall with vinyl wallpaper over it or wood paneling, may act as vapor barriers, trapping moisture underneath their surfaces and thereby providing a moist environment where mold can grow. You may suspect hidden mold if a building smells moldy, but you cannot see the source, or if you know there has been water damage and building occupants are reporting health problems. Investigating hidden mold problems may be difficult and will require caution when the investigation involves disturbing potential sites of mold growth-make sure to use PPE. For example, removal of wallpaper can lead to a massive release of spores from mold growing on the underside of the paper. If you believe that you may have a hidden mold problem, you may want to consider hiring an experienced professional. If you discover hidden mold, you should revise your remediation plan to account for the total area affected by mold growth.
            </p>
            <p>
              The remediation plan should include steps to fix the water or moisture problem, or the problem may reoccur. The plan should cover the use of appropriate Personal Protective Equipment (PPE) and include steps to carefully contain and remove moldy building materials to avoid spreading the mold. A remediation plan may vary greatly depending on the size and complexity of the job, and may require revision if circumstances change or new facts are discovered.
            </p>
          </div>
        </div>


        <div id="basics" section="section scrollspy">
          <div>
            <h5 class="sub-heading">Mold Basics</h5>
            <ul>
              <li>The key to mold control is moisture control.</li>
              <li>
                If mold is a problem in your home, you should clean up the mold promptly and fix the water problem.
              </li>
              <li>It is important to dry water-damaged areas and items within 24-48 hours to prevent mold growth.</li>
            </ul>
            <p><strong class="bold-color">Why is mold growing in my home?</strong></p>
            <p>
              Molds are part of the natural environment. Outdoors, molds play a part in nature by breaking down dead organic matter such as fallen leaves and dead trees, but indoors, mold growth should be avoided. Molds reproduce by means of tiny spores; the spores are invisible to the naked eye and float through outdoor and indoor air. Mold may begin growing indoors when mold spores land on surfaces that are wet. There are many types of mold, and none of them will grow without water or moisture.
            </p>
            <p><strong class="bold-color">Can mold cause health problems?</strong></p>
            <p>
              Molds are usually not a problem indoors, unless mold spores land on a wet or damp spot and begin growing. Molds have the potential to cause health problems. Molds produce allergens (substances that can cause allergic reactions), irritants, and in some cases, potentially toxic substances (mycotoxins). 
            </p>
            <p>
              Inhaling or touching mold or mold spores may cause allergic reactions in sensitive individuals. Allergic responses include hay fever-type symptoms, such as sneezing, runny nose, red eyes, and skin rash (dermatitis). Allergic reactions to mold are common. They can be immediate or delayed. Molds can also cause asthma attacks in people with asthma who are allergic to mold. In addition, mold exposure can irritate the eyes, skin, nose, throat, and lungs of both mold allergic and non-allergic people. Symptoms other than the allergic and irritant types are not commonly reported as a result of inhaling mold. Research on mold and health effects is ongoing. This brochure provides a brief overview; it does not describe all potential health effects related to mold exposure. For more detailed information consult a health professional. You may also wish to consult your state or local health department.
            </p>
            <p><strong class="bold-color">How do I get rid of mold?</strong></p>
            <p>
              It is impossible to get rid of all mold and mold spores indoors; some mold spores will be found floating through the air and in house dust. The mold spores will not grow if moisture is not present. Indoor mold growth can and should be prevented or controlled by controlling moisture indoors. If there is mold growth in your home, you must clean up the mold and fix the water problem. If you clean up the mold, but don't fix the water problem, then, most likely, the mold problem will come back.
            </p>
            <p><strong class="bold-color">Molds can gradually destroy the things they grow on.</strong></p>
            <p>
              <strong class="bold-color">You can prevent damage to your home and furnishings, save money, and avoid potential health problems by controlling moisture and eliminating mold growth.</strong>
            </p>
            <p>
              If you already have a mold problem - <strong class="bold-color">ACT QUICKLY</strong><br>
              Mold damages what it grows on. The longer it grows, the more damage it can cause.
            </p>
            <p><strong class="bold-color">Who should do the cleanup?</strong></p>
            <p>
              Who should do the cleanup depends on a number of factors. One consideration is the size of the mold problem. If the moldy area is less than about 10 square feet (less than roughly a 3 ft. by 3 ft. patch), in most cases, you can handle the job yourself, following the guidelines below. However:
            </p> 
            <ul>
              <li>
                If there has been a lot of water damage, and/or mold growth covers more than 10 square feet, consult the U.S. Environmental Protection Agency (EPA) guide: Mold Remediation in Schools and Commercial Buildings. Although focused on schools and commercial buildings, this document is applicable to other building types. It is available free by calling the EPA Indoor Air Quality Information Clearinghouse at (800) 438-4318, or on the Internet at: <a href="http://www.epa.gov/iaq/molds/mold_remediation.html">www.epa.gov/iaq/molds/mold_remediation.html</a>.
              </li>
              <li>
                If you choose to hire a contractor (or other professional service provider) to do the cleanup, make sure the contractor has experience cleaning up mold. Check references and ask the contractor to follow the recommendations in EPA's Mold Remediation in Schools and Commercial Buildings, the guidelines of the American Conference of Governmental Industrial Hygenists (ACGIH), or other guidelines from professional or government organizations.
              </li>
              <li>
                If you suspect that the heating/ventilation/air conditioning (HVAC) system may be contaminated with mold (it is part of an identified moisture problem, for instance, or there is mold near the intake to the system), consult EPA's guide Should You Have the Air Ducts in Your Home Cleaned? before taking further action. Do not run the HVAC system if you know or suspect that it is contaminated with mold - it could spread mold throughout the building. Visit <a href="http://www.epa.gov/iaq/pubs/airduct.html">www.epa.gov/iaq/pubs/airduct.html</a>, or call (800) 438-4318 for a free copy.
              </li>
              <li>
                If the water and/or mold damage was caused by sewage or other contaminated water, then call in a professional who has experience cleaning and fixing buildings damaged by contaminated water.
              </li>
              <li>If you have health concerns, consult a health professional before starting cleanup.</li>
            </ul>
          </div>
        </div>


        <div id="cleanup" class="section scrollspy">
          <div>
            <h5 class="sub-heading">Mold Cleanup Guidelines</h5>
            <p><strong class="bold-color">Bathroom Tip</strong></p>
            <p>
              Places that are often or always damp can be hard to maintain completely free of mold. If there's some mold in the shower or elsewhere in the bathroom that seems to reappear, increasing the ventilation (running a fan or opening a window) and cleaning more frequently will usually prevent mold from recurring, or at least keep the mold to a minimum.
            </p>
            <p><strong class="bold-color">Tips and techniques</strong></p>
            <p>
              The tips and techniques presented in this section will help you clean up your mold problem. Professional cleaners or remediators may use methods not covered in this publication. Please note that mold may cause staining and cosmetic damage. It may not be possible to clean an item so that its original appearance is restored.
            </p>
            <ul>
              <li>Fix plumbing leaks and other water problems as soon as possible. Dry all items completely.</li>
              <li>Scrub mold off hard surfaces with detergent and water, and dry completely.</li>
              <li>
                Absorbent or porous materials, such as ceiling tiles and carpet, may have to be thrown away if they become moldy. Mold can grow on or fill in the empty spaces and crevices of porous materials, so the mold may be difficult or impossible to remove completely. 
              </li>
              <li>Avoid exposing yourself or others to mold.</li>
              <li>
                Do not paint or caulk moldy surfaces. Clean up the mold and dry the surfaces before painting. Paint applied over moldy surfaces is likely to peel. 
              </li>
              <li>
                If you are unsure about how to clean an item, or if the item is expensive or of sentimental value, you may wish to consult a specialist. Specialists in furniture repair, restoration, painting, art restoration and conservation, carpet and rug cleaning, water damage, and fire or water restoration are commonly listed in phone books. Be sure to ask for and check references. Look for specialists who are affiliated with professional organizations. 
              </li>
            </ul>
          </div>

          <div>
            <h5 class="sub-heading">What to Wear When Cleaning Moldy Areas</h5>
            <p>It is important to take precautions to LIMIT YOUR EXPOSURE to mold and mold spores.</p>
            <ul>
              <li>
                Avoid breathing in mold or mold spores. In order to limit your exposure to airborne mold, you may want to wear an N-95 respirator, available at many hardware stores and from companies that advertise on the Internet. (They cost about $12 to $25.) Some N-95 respirators resemble a paper dust mask with a nozzle on the front, others are made primarily of plastic or rubber and have removable cartridges that trap most of the mold spores from entering. In order to be effective, the respirator or mask must fit properly, so carefully follow the instructions supplied with the respirator. Please note that the Occupational Safety and Health Administration (OSHA) requires that respirators fit properly (fit testing) when used in an occupational setting; consult OSHA for more information (800-321-OSHA or osha.gov/).
              </li>
              <li>
                Wear gloves. Long gloves that extend to the middle of the forearm are recommended. When working with water and a mild detergent, ordinary household rubber gloves may be used. If you are using a disinfectant, a biocide such as chlorine bleach, or a strong cleaning solution, you should select gloves made from natural rubber, neoprene, nitrile, polyurethane, or PVC. Avoid touching mold or moldy items with your bare hands. 
              </li>
              <li>
                Wear goggles. Goggles that do not have ventilation holes are recommended. Avoid getting mold or mold spores in your eyes.
              </li>
            </ul>
          </div>

          <div>
            <h5 class="sub-heading">How do I know when the remediation or cleanup is finished?</h5>
            <p>
              You must have completely fixed the water or moisture problem before the cleanup or remediation can be considered finished.
            </p>
            <ul>
              <li>
                You should have completed mold removal. Visible mold and moldy odors should not be present. Please note that mold may cause staining and cosmetic damage. 
              </li>
              <li>
                You should have revisited the site(s) shortly after cleanup and it should show no signs of water damage or mold growth. 
              </li>
              <li>
                People should have been able to occupy or re-occupy the area without health complaints or physical symptoms. 
              </li>
              <li>
                Ultimately, this is a judgment call; there is no easy answer. If you have concerns or questions call the EPA Indoor Air Quality Information Clearinghouse at (800) 438-4318. 
              </li>
            </ul>
          </div>
        </div>


        <div id="prevention" class="section scrollspy">
          <div>
            <h5 class="sub-heading">Moisture and Mold Prevention and Control Tips</h5>
            <ul>
              <li>
                <strong class="bold-color">Moisture Control is the Key to Mold Control</strong><br>
                When water leaks or spills occur indoors - ACT QUICKLY - If wet or damp materials or areas are dried 24-48 hours after a leak or spill happens, in most cases mold will not grow.
              </li>
              <li>Clean and repair roof gutters regularly.</li>
              <li>
                Make sure the ground slopes away from the building foundation, so that water does not enter or collect around the foundation.
              </li>
              <li>Keep air-conditioning drip pans clean and the drain lines unobstructed and flowing properly.</li>
              <li>
                Keep indoor humidity low. If possible, keep indoor humidity below 60 percent (ideally between 30 and 50 percent) relative humidity. Relative humidity can be measured with a moisture or humidity meter, a small, inexpensive ($10-$50)  instrument available at many hardware stores.
              </li>
              <li>
                If you see condensation or moisture collecting on windows, walls or pipes - ACT QUICKLY to dry the wet surface and reduce the moisture/water source. Condensation can be a sign of high humidity.
              </li>
            </ul>
            <p>Actions that will help to reduce humidity:</p>
            <ul>
              <li>
                Vent appliances that produce moisture, such as clothes dryers, stoves, and kerosene heaters to the outside where possible. (Combustion appliances such as stoves and kerosene heaters produce water vapor and will increase the humidity unless vented to the outside.)
              </li>
              <li>Use air conditioners and/or de-humidifiers when needed.</li>
              <li>
                Run the bathroom fan or open the window when showering. Use exhaust fans or open windows whenever cooking, running the dishwasher or dishwashing, etc.
              </li>
            </ul>
            <p>Actions that will help prevent condensation:</p>
            <ul>
              <li>Reduce the humidity. </li>
              <li>
                Increase ventilation or air movement by opening doors and/or windows, when practical. Use fans as needed.
              </li>
              <li>Cover cold surfaces, such as cold water pipes, with insulation.</li>
              <li>Increase air temperature.</li>
            </ul>

            <p><strong class="bold-color">Testing or sampling for mold</strong></p>
            <p>
              Is sampling for mold needed? In most cases, if visible mold growth is present, sampling is unnecessary.
            </p>
            <p>
              Since no EPA or other federal limits have been set for mold or mold spores, sampling cannot be used to check a building's compliance with federal mold standards. Surface sampling may be useful to determine if an area has been adequately cleaned or remediated. Sampling for mold should be conducted by professionals who have specific experience in designing mold sampling protocols, sampling methods, and interpreting results. Sample analysis should follow analytical methods recommended by the American Industrial Hygiene Association (AIHA), the American Conference of Governmental Industrial Hygienists (ACGIH), or other professional organizations.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Hidden Mold</h5>
            <p><strong class="bold-color">Suspicion of hidden mold</strong></p>
            <p>
              You may suspect hidden mold if a building smells moldy, but you cannot see the source, or if you know there has been water damage and residents are reporting health problems. Mold may be hidden in places such as the backside of dry wall, wallpaper, or paneling, the topside of ceiling tiles, the underside of carpets and pads, etc.
            </p>
            <p>
              Other possible locations of hidden mold include areas inside walls around pipes (with leaking or condensing pipes), the surface of walls behind furniture (where condensation forms), inside ductwork, and in roof materials above ceiling tiles (due to roof leaks or insufficient insulation). Investigating hidden mold problems Investigating hidden mold problems may be difficult and will require caution when the investigation involves disturbing potential sites of mold growth. For example, removal of wallpaper can lead to a massive release of spores if there is mold growing on the underside of the paper.
            </p>
            <p>If you believe that you may have a hidden mold problem, consider hiring an experienced professional.</p>
            <p><strong class="bold-color">Cleanup and Biocides</strong></p>
            <p>
              Biocides are substances that can destroy living organisms. The use of a chemical or biocide that kills organisms such as mold (chlorine bleach, for example) is not recommended as a routine practice during mold cleanup. There may be instances, however, when professional judgment may indicate its use (for example, when immune-compromised individuals are present). In most cases, it is not possible or desirable to sterilize an area; a background level of mold spores will remain - these spores will not grow if the moisture problem has been resolved. If you choose to use disinfectants or biocides, always ventilate the area and exhaust the air to the outdoors. Never mix chlorine bleach solution with other cleaning solutions or detergents that contain ammonia because toxic fumes could be produced.
            </p>
            <p>
              <strong class="bold-color">Please note:</strong> Dead mold may still cause allergic reactions in some people, so it is not enough to simply kill the mold, it must also be removed.
            </p>
            <p>
              For more information on mold related issues including mold cleanup and moisture control/condensation/humidity issues, you can call the EPA Indoor Air Quality Information Clearinghouse at (800) 438-4318, or visit: <a href="http://www.epa.gov/iaq/molds">www.epa.gov/iaq/molds</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
    </div>
  </div>
</div>
