---
title: Engineers and Inspectors | Swimming Pools
---
<div class="content enc">
  <div class="content_container">
    <div class="row">

      <div class="col s12 m4 l3 hide-on-small-only">
        <ul class="section table-of-contents fixed">
          <h5 class="left-align sub-heading">Swimming Pools</h5>
          <li><a href="#about">About</a></li>
          <li><a href="#problems">Problems</a></li>
          <li><a href="#safety">Safety</a></li>
        </ul>
      </div>

      <div class="col s12 m8 l9">
        <div id="about" class="section scrollspy">
          <div>
            <h5 class="head1">Swimming Pools</h5>
            <p>
              Under the Swimming Pool Regulations of the Public & Environmental Health Act, 1987 Environmental Health Officers have the responsibility and authority to inspect 'public' swimming pools, spa pools and water slides.
            </p>
            <p>A pool is considered to be available for public use' if it is:</p>
            <ul>
              <li>available for use by members of the public on payment of an admission or membership fee</li>
              <li>
                available for use by persons staying at
                <ul>
                  <li>a hotel, motel or guesthouse</li>
                  <li>a camping or caravan ground</li>
                  <li>any other similar place where accommodation is provided on a temporary basis </li>
                </ul>
              </li>
              <li>
                available for use by persons who live or work in, or attend, the premises where the pool is situated, other than where the pool is used in connection with a single private residence and is only available for the use of residents or their guests. This includes flats or units with a shared swimming pool and schools.
              </li>
            </ul>
            <p>
              When inspecting a public swimming pool the Environmental Health Officer will look for a number of things including:
            </p>
            <ul>
              <li>
                the pool is fitted with automatic equipment that continuously analyses and controls the level of disinfectant in the water, and the pH level of the water to the required standards
              </li>
              <li>the levels of disinfectant (e.g.: Chlorine), pH and alkalinity are to the required standards</li>
              <li>a log book is kept of results of tests or readings carried out</li>
              <li>all equipment (e.g.: filters) are maintained in clean and efficient condition</li>
              <li>
                the condition of the pool cleanliness, structure and surroundings (e.g.: presence of leaves & algae, broken tiles, rusty ladders, etc)
              </li>
            </ul>
          </div>
          <div>
            <h5 class="sub-heading">Pool Inspection Process</h5>
            <p>
              The Inspector follows specific steps when inspecting the swimming pool. On arrival at the swimming pool property, the inspector looks around the general area to get an overview of the site and to observe any potential safety hazards. The pool water is tested for free chlorine and pH.  Free chlorine is the chlorine available to disinfect the water. pH is a measure of the acidity of the water.  Below are the levels that the chemicals should be maintained.
            </p>
            <blockquote>
              <p>
                <strong class="bold-color">Type of Pool: </strong>Swimming or Wading Pool<br>
                <strong class="bold-color">Range of Free Chlorine: </strong>1.0 to 3.0 part per million<br>
                <strong class="bold-color">Range of pH: </strong>7.2-7.8
              </p>
            </blockquote>
            <blockquote>
              <p>
                <strong class="bold-color">Type of Pool: </strong>Spa (Hot Tub)<br>
                <strong class="bold-color">Range of Free Chlorine: </strong>2.0 to 5.0 parts per million<br>
                <strong class="bold-color">Range of pH: </strong>7.2-7.8
              </p>
            </blockquote>
            <p>
              If there is a spa (hot tub) at the property, the maximum temperature allowed is 104&deg; Fahrenheit.  There is no minimum temperature for pools or spas.
            </p>
            <p>
              After recording the chemical readings on the inspection form, the pumps and filters in the mechanical room are observed. If a flow meter is present on the filter, the flow rate in gallons per minute is recorded on the report. A flow meter is required on new construction or modifications of existing equipment. There are specific flow rates needed to turn over the water of the pool within the required period. Check the local code or law.
            </p>
          </div>
        </div>


        <div id="problems" class="section scrollspy">
          <div>
            <h5 class="sub-heading">Commercial Pools</h5>
            <p>
              A Pool Licensed Operator (PLO) is required for any commercial pool. During the inspection a review of the daily chemical readings that the PLO has recorded is completed to see if there have been any long-term trends in the chemical readings of the pool. In addition, the inspector verifies that the pool chemicals are being stored in a safe matter.
            </p>
            <p>
              After inspecting the pump room, the inspector walks around all of the pool area to look for problems or safety concerns. At the time of the walkabout he will check the stability of all ladders and handrails.
            </p>
            <p>
              After completing the survey of the pool, the inspector will fill out the inspection form for the property. Anything that is found to be in violation of the local Sanitary Code is noted on the inspection report.
            </p>
            <p>
              If the pool was in operation before the local Sanitary Codes were passed in the city where the pool is located, the pool is "grandfathered" in and does not have to make structural changes to meet the county code. However, if any additions or modifications are made to the swimming pool or equipment, the pool has to meet all of the code.
            </p>
          </div>
          <div>
            <h5 class="sub-heading">Typical Pool Problems</h5>
            <p>
              <strong class="bold-color">Is the pool clear?</strong><br>
              If the pool is cloudy, there is something wrong. There is not enough chlorine, the filter system is not doing the job or someone just threw in a powdered chemical. Any of which is a reason to stay away.
            </p>
            <p>
              <strong class="bold-color">Is the pump running?</strong><br>
              Pool owners have sent their pump out for repairs and kept their pool open. A pool without a pump is called a BATHTUB. You should NOT swim in it.
            </p>
            <p>
              <strong class="bold-color">Is there black algae?</strong><br>
              Black algae is a sign of a serious pool problem.
              Look for black spots in the cracks, crevices, and in all grouting.
            </p>
            <p>
              <strong class="bold-color">Is someone pouring chemicals into the pool while people are swimming?</strong><br>
              Get out of pool immediately.
            </p>
            <p>
              <strong class="bold-color">Is the water burning your eyes?</strong><br>
              Contrary to popular belief this is not usually due to high chlorine levels, but is a sign that the water's pH (acid level) is out of balance. Test water, and adjust properly.
            </p>
            <p>
              <strong class="bold-color">Is there a lot of "stuff" floating on the water and/or a lot of oily scum on the surface?</strong><br>
              The water level may be at the wrong position for the pool skimmers to properly skim the surface of the water. This is a good indication that the operator may not know what he or she is doing.
              Furthermore, the pool is not at optimal condition for swimming and that the pool is not functioning correctly.
            </p>
            <p>
              <strong class="bold-color">Does the pool area look clean and orderly?</strong><br>
              If the entire pool area is cluttered and dirty, and is not properly cared for, this is an indication of the overall maintenance of the pool; and should be noted and remediated.
            </p>
            <p>
              <strong class="bold-color">Did you over hear the pool operator say "Oh there's nothing to it"?</strong><br>
              Most of the pool operation problems that exist are a result of poor or no training of the "pool person". Unfortunately, most states require NO license, certification or training to operate a pool.
            </p>
          </div>
        </div>


        <div id="safety" class="section scrollspy">
          <div>
            <h5 class="sub-heading">Electric and Water</h5>
            <p>
              Electrical devices near water should always be protected with a ground fault circuit interrupter, a safety device that disconnects power from a circuit when a potentially dangerous electrical condition exists. A GFCI protects people while fuses or circuit breakers protect equipment.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Unsafe/Weathered Pool Slide</h5>
            <p>
              A slide is a fun addition to a pool, but the surface of an aging slide can be coarse and may cause injuries if left unattended. Repairs can be done by a handy homeowner or by a professional pool supply company.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Broken Gate Spring</h5>
            <p>
              Fences or some other kind of barrier should always be installed around a pool accessible to the public in order to prevent unattended children from getting in. The gate on such a fence should be equipped with a spring so the gate will automatically close when opened.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Pool Ladders</h5>
            <p>
              Swimming pool ladders should be regularly inspected for wear and safety. If the ladder is not securely fastened to the pool decking or lifts when in use, for example, it needs repair.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Resurfacing a Pool</h5>
            <p>
              Most pool liners last between five to eight years, depending on what chemicals are used in the pool. When a liner begins to degrade, water begins seeping through the porous cement below, the deteriorating areas shown by darker colors on the pool bottom. When this occurs, the pool liner probably needs resurfacing. Check with a qualified pool company.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Automatic Pool Cleaner</h5>
            <p>
              Automatic pool-cleaning devices are a convenient way to keep a pool clear of debris, but they can get blocked up and stop working. Regular maintenance of the device will keep it working properly.
            </p>
          </div>

          <div>
            <h5 class="sub-heading">Inspecting Pool Ladders</h5>
            <p>
              Swimming pool ladders should be regularly inspected for wear and safety. If the ladder is not securely fastened to the pool decking or lifts when in use, for example, it needs repair.
            </p>
          </div>
          <div>
            <h5 class="sub-heading">Plugging a Leak</h5>
            <p>
              Like other household equipment, swimming pool equipment requires regular maintenance to catch small leaks before they become large problems. A qualified pool service may have to be called in to make repairs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>