---
title: Engineers and Inspectors | Wells
---
<div class="content enc">
  <div class="content_container">

   <div>
      <h5 class="sub-heading">Wells</h5>
      <p>
        If your family gets drinking water from a private well, do you know if your water is safe to drink? What health risks could you and your family face? Where can you go for help or advice?
      </p>
      <p>The information contained in this web site will help you answer these questions.</p>
      <p>
        EPA regulates public water systems; it does not have the authority to regulate private drinking water wells. Approximately 15 percent of Americans rely on their own private drinking water supplies, and these supplies are not subject to EPA standards, although some state and local governments do set rules to protect users of these wells. Unlike public drinking water systems serving many people, they do not have experts regularly checking the water's source and its quality before it is sent to the tap. These households must take special precautions to ensure the protection and maintenance of their drinking water supplies.
      </p>
      <ul>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/basicinformation.html" target="_new">Basic Information</a> - Learn about the types of drinking water wells and guidelines for proper construction.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/whereyoulive_state.html" target="_new">Where You Live</a> - Find information about private drinking water wells in your region or state.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/faq.html" target="_new">Frequent Questions</a> -This page answers questions you may have about your well water.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/health.html" target="_new">Human Health</a> - Learn about health risks associated with drinking water wells.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/partners.html" target="_new">Partnerships</a> - Several organizations are working to keep private drinking water wells safe.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/whatyoucando.html" target="_new">What You Can Do</a> - Learn how to do your part in keeping your drinking water well safe.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/publications.html" target="_new">Publications</a> -Download or order copies of brochures, booklets, posters, reports, and multi-media publications.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/links.html" target="_new">Related Links</a> - Link to web sites with additional information on private drinking water wells.
        </li>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/glossary.html" target="_new">Glossary</a> - Look up unfamiliar terms in EPA's electronic glossary.
        </li>
      </ul>
    </div>

    <div>
      <h5 class="sub-heading">Basic Information</h5>
      <p>
        There are three types of private drinking water wells: dug, driven, and drilled. See the three links below for an explaination and graphic of the types of wells.
      </p>
      <ul>
        <li><a href="http://www.epa.gov/safewater/privatewells/basic_dug.html">Dug</a></li>
        <li><a href="http://www.epa.gov/safewater/privatewells/basic_driven.html">Driven</a></li>
        <li><a href="http://www.epa.gov/safewater/privatewells/basic_drilled.html">Drilled</a></li>
      </ul>
      <p>
        Proper well construction and continued maintenance are keys to the safety of your water supply. Your state water-well contractor licensing agency, local health department, or local water system professional can provide information on well construction.
      </p>
      <p>
        The well should be located so rainwater flows away from it. Rainwater can pick up harmful bacteria and chemicals on the land's surface. If this water pools near your well, it can seep into it, potentially causing health problems.
      </p>
      <p>
        Water-well drillers and pump-well installers are listed in your local phone directory. The contractor should be bonded and insured. Make certain your ground water contractor is registered or licensed in your state, if required. If your state does not have a licensing/registration program contact the National Ground Water Association. They have a voluntary certification program for contractors. (In fact, some states use the Association's exams as their test for licensing.) For a list of certified contractors in your state contact the Association at (614) 898-7791 or (800) 551-7379. There is no cost for mailing or faxing the list to you.
      </p>
      <p>
        To keep your well safe, you must be sure possible sources of contamination are not close by. Experts suggest the following distances as a minimum for protection - farther is better
      </p>
      <ul>
        <li>Septic Tanks, 50 feet</li>
        <li>Livestock yards, Silos, Septic Leach Fields, 50 feet</li>
        <li>Patroleum Tanks, Liquid-Tight Manure Storage and Fertilizer Storage and Handling, 100 feet</li>
        <li>Manure Stacks, 250 feet</li>
      </ul>
      <p>
        Many homeowners tend to forget the value of good maintenance until problems reach crisis levels. That can be expensive. It's better to maintain your well, find problems early, and correct them to protect your well's 
        performance. Keep up-to-date records of well installation and repairs plus pumping and water tests. Such records can help spot changes and possible problems with your water system. If you have problems, ask a local expert to check your well construction and maintenance records. He or she can see if your system is okay or needs work.
      </p>
      <p>
        Protect your own well area. Be careful about storage and disposal of household and lawn care chemicals and wastes. Good farmers and gardeners minimize the use of fertilizers and pesticides. Take steps to reduce erosion 
        and prevent surface water runoff. Regularly check underground storage tanks that hold home heating oil, diesel, or gasoline. Make sure your well is protected from the wastes of livestock, pets, and wildlife.
      </p>
      <p><strong class="bold-color">For additional information see:</strong></p>
      <ul>
        <li>
          EPA's <a href="http://www.epa.gov/safewater/privatewells/booklet/index.html" target="_new">Drinking Water From Household Wells</a><strong class="bold-color">(EPA 816-K-02-003 January 2002)</strong>
        </li>
        <li>
          <a href="http://www.epa.gov/seahome/private.html" target="_new">EPA Software for Environmental Awareness -Private Water Systems</a> - A complete minicourse in design and construction of private drinking water systems (wells and piping). Includes water quantities required, water pumps, systems controls, design considerations and piping.
        </li>
      </ul>
    </div>

    <div>
      <h5 class="sub-heading">Dug Wells</h5>
      <p>
        Dug wells are holes in the ground dug by shovel or backhoe. Historically, a dug well was excavated below the groundwater table until incoming water exceeded the digger's bailing rate. The well was then lined (cased) with stones, brick, tile, or other material to prevent collapse. It was covered with a cap of wood, stone, or concrete. Since it is so difficult to dig beneath the ground water table, dug wells are not very deep. Typically,  they are only 10 to 30 feet deep. Being so shallow, dug wells have the highest risk of becoming contaminated.To minimize the likelihood of contamination, your dug well should have certain features. These features help to prevent contaminants from traveling along the outside of the casing or through the casing and into the well.
      </p>
      <p><strong class="bold-color">Dug Well Construction Features</strong></p>
      <ul>
        <li>
          The well should be cased with a watertight material (for example, tongue-and-groove precast concrete) and a cement grout or bentoniteclay sealant poured along the outside of the casing to the top of the well.
          </li>
        <li>The well should be covered by a concrete curband cap that stands about a foot above the ground.</li>
        <li>
          The land surface around the well should be mounded so that surface water runs away from the well and is not allowed to pond around the outside of the wellhead.
        </li>
        <li>
          Ideally, the pump for your well should be inside your home or in a separate pump house, rather than in a pit next to the well.
        </li>
      </ul>
      <p>
        Land activities around a dug well can also contaminate it. <a href="http://www.epa.gov/safewater/privatewells/whatyoucando.html#sources" target="_new">(see our chart of activites that may contaminate a drinking water well)</a>
      </p>
      <p>
        While dug wells have been used as a household water supply source for many years, most are "relics" of older homes, dug before drilling equipment was readily available or when drilling was considered too expensive. If you have a dug well on your property and are using it for drinking water, check to make sure it is properly covered and sealed. Another problem relating to the shallowness of a dug well is that it may go dry during a drought when the ground water table drops.
      </p>
    </div>

    <div>
      <h5 class="sub-heading">Driven Wells</h5>
      <p>
        Like dug wells, driven wells pull water from the water-saturated zone above the bedrock. Driven wells can be deeper than dug wells. They are typically 30 to 50 feet deep and are usually located in areas with thick sand and gravel deposits where the ground water table is within 15 feet of the ground's surface. In the proper geologic setting, driven  wells can be easy and relatively inexpensive to install.
      </p>
      <p>
        Although deeper than dug wells, driven wells are still relatively shallow and have a moderate-to-high risk of contamination from nearby land activities. 
      </p>
      <ul>
        <li>
          <a href="http://www.epa.gov/safewater/privatewells/whatyoucando.html#sources" target="_new">See our chart of activites that may contaminate a drinking water well.</a>
        </li>
      </ul>
      <p><strong class="bold-color">Driven Well Construction Features</strong></p>
      <ul>
        <li>
          Assembled lengths of two inches to three inches diameter metal pipes are driven into the ground. Ascreened &"well point" located at the end of the pipe helps drive the pipe through the sand and gravel. The screen allows water to enter the well and filters out sediment. 
        </li>
        <li>
          The pump for the well is in one of two places: on top ofthe well or in the house. An access pit is usually dug around the well down to the frost line and a water discharge pipe to the house is joined to the well pipe with a fitting.
        </li>
        <li>
          The well and pit are capped with the same kind of large-diameter concrete tile used for a dug well. The access pit may be cased with pre-cast concrete.
        </li>
      </ul>
      <p>
        To minimize this risk, the well cover should be a tight-fitting concrete curb and cap with no cracks and should sit about a foot above the ground. Slope the ground away from the well so that surface water will not pond around the well. If there's a pit above the well, either to hold the pump or to access the fitting, you may also be able to pour a grout sealant along the outside of the well pipe. Protecting the water quality requires that you maintain proper well construction and monitor your activities around the well. It is also important to follow the same land use precautions around the driven well as described under <a href="wells3.html">dug wells</a>.
      </p>
    </div>

    <div>
      <h5 class="sub-heading">Drilled Wells</h5>
      <p>
        Drilled wells penetrate about 100-400 feet into the bedrock. Where you find bedrock at the surface, it is commonly called ledge. To serve as a water supply, a drilled well must intersect bedrock fractures containing ground water.
      </p>
      <p><strong class="bold-color">Drilled Well Construction Features</strong></p>
      <ul>
        <li>
          The casing is usually metal or plastic pipe, six inches in diameter that extends into the bedrock to prevent shallow ground water from entering the well. By law, the casing has to extend at least 18 feet into the ground, with at least five feet extending into the bedrock. The casing should also extend a foot or two above the ground's surface. A sealant, such as cement grout or bentonite clay, should be poured along the outside of the casing to the top of the well. The well is capped to prevent surface water from entering the well. 
        </li>
        <li>
          Submersible pumps, located near the bottom of the well, are most commonly used in drilled wells. Wells with a shallow water table may feature a jet pump located inside the home. Pumps require special wiring and electrical service. Well pumps should be installed and serviced by a qualified professional registered with your state.
        </li>
        <li>
          Most modern drilled wells incorporate a pitless adapter designed to provide a sanitary seal at the point where the discharge water line leaves the well to enter your home. The device attaches directly to the casing below the frost line and provides a watertight subsurface connection, protecting the well from frost and contamination.
        </li>
        <li>
          Older drilled wells may lack some of these sanitary features. The well pipe used was oftene ight-, 10- or 12- inches in diameter, and covered with a concrete well cap either at or below the ground's surface. This outmoded type of construction does not provide the same degree of protection from surface contamination. Also, older wells may not have a pitless adapter to provide a seal at the point of discharge from the well.
        </li>
      </ul>
      <p><strong class="bold-color">National Secondary Drinking Water Regulations</strong></p>
      <p>
        National Secondary Drinking Water Regulations (NSDWRs or secondary standards) are non-enforceable guidelines regulating contaminants that may cause cosmetic effects (such as skin or tooth discoloration) or aesthetic effects (such as taste, odor, or color) in drinking water. EPA recommends secondary standards to water systems but does not require systems to comply. However, states may choose to adopt them as enforceable standards.
      </p>
      <p>
        <table width="100%">
          <tr>
            <td width="30%" valign="top" bgcolor="#F7AA47">Contaminant</td>
            <td width="30%" valign="top" bgcolor="#F7AA47">Secondary Standard</td>
          </tr>
          <tr>
            <td width="30%" valign="top">
              Aluminum<br>
              Color<br> 15 (color units)
              Copper<br>  1.0 mg/L
              Corrosivity<br>
              Fluoride<br>
              Foaming Agents<br>
              Iron<br>
              Manganese<br>
              Odor<br>
              pH<br>
              Silver<br>
              Sulfate<br>
              Total Dissolved Solids<br>
              Zinc
            </td>
            <td width="30%" valign="top">
              0.05 to 0.2 mg/L<br>
              250 mg/L<br>
              15 (color units)<br>
              1.0 mg/L<br>
              noncorrosive<br>
              2.0 mg/L<br>
              0.5 mg/L<br>
              0.3 mg/L<br>
              0.05 mg/L<br>
              3 threshold odor number<br>
              6.5-8.5<br>
              0.10 mg/L<br>
              250 mg/L<br>
              500 mg/L<br>
              5 mg/L
            </td>
          </tr>
        </table>
      </p>
      <p>
        <strong class="bold-color">Environmental Protection Agency Part 143 - National Secondary Drinking Water Regulations</strong>
      </p>
      <p>
        <a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.1.pdf"><img src="/images/save.gif" border="0" width="14" height="14" alt="Save"></a><a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.1.pdf">143.1 - Purpose.</a>
      </p>
      <p>
        <a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.2.pdf"><img src="/images/save.gif" border="0" width="14" height="14" alt="Save"></a> <a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.2.pdf">143.2 - Definitions.</a>
      </p>
      <p>
        <a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.3.pdf"><img src="/images/save.gif" border="0" width="14" height="14" alt="Save"></a> <a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.3.pdf">143.3 - Secondary maximum contaminant levels.</a>
      </p>
      <p>
        <a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.4.pdf"><img src="/images/save.gif" border="0" width="14" height="14" alt="Save"></a> <a href="http://a257.g.akamaitech.net/7/257/2422/14mar20010800/edocket.access.gpo.gov/cfr_2002/julqtr/pdf/40cfr143.4.pdf">143.4 - Monitoring.</a>
      </p>
    </div>

     <div>
      <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
    </div>

  </div>
</div>
