---
title: Engineers and Inspectors | About
---
<div class="content">
  <div class="content_container">
    <div class="center-align sub-heading">
      <h5>Who We Are in the Inspection Business</h5>
    </div>
    <div>
      <p>
        We are experienced civil engineers.  We are specially trained and nationally certified residential inspectors.  We are in full compliance with Pennsylvania Home Inspection Laws.
      </p>

      <p>
        Your Lead Inspector,<strong> Sam Sain</strong> is a Civil Engineer.
         Sam has a Master's degree in Civil Engineering from Carnegie-Mellon University
         and undertook additional Doctoral studies in Civil Engineering at the University of Pittsburgh. He is registered as a licensed professional engineer in Pennsylavania.
         Sam is a full member of <a target="_new" href="http://www.ashi.org/">ASHI</a> and has earned a ACI designation. Sam is also a member of American Society of Civil Engineers.
         Sam has over 30 years of designing, inspecting, building and maintaining residential and commercial buildings.
       </p>
      
        <p>
          <strong>Don Boggs</strong> is an electrical engineer from Penn State and assists Sam in Commercial, Historic/Landmark structures and other large home inspections.
          Don has over 20 years of residential construction experience as a builder and a contractor.
        </p>
  
        <ul>
          <li>Professional Home Inspection</li>
          <li>Commercial/Industrial Inspection</li>
          <li>Historic and Landmark Building Inspection</li> 
          <li>Well and Septic Tests</li>
          <li>Solar System, Internal Cabling and Home Computer Network Inspection</li>
          <li>FHA/HUD Inspection/Certification</li>
          <li>Swimming Pool and SPA Inspection</li>
          <li>New Construction Inspection</li>
        </ul>
      </div>

      <div>
        <img src="images/homepic3.jpg" alt="aaHomeInspec" align="right" hspace="10" width="270" height="200">
        <p>
          When buying an existing home or building a brand new one, home inspection by educated and experienced home inspectors will protect investment for a long time.
        </p>
        <p>
          For a nominal expense, one can get a wealth of information about the home you are going to buy. We work for our clients to make their new home purchase experiences better. We avoid any conflict of interest, providing our client maximum satisfaction and peace of mind.
        </p>
        <p>
          Today's homes are complex. Mechanical, structural and electrical components of any house could be fairly elaborate. We strictly follow (ASHI) <a target="_new" href="http://www.ashi.org/">American Society of Home Inspectors</a> standards and code of ethics. We do not have any conflict of interest and we do not bid on any work on the property we inspect.
        </p>
        <p>
          When client requires, we write contracts and scope of work for repairs. We supervise and inspect repair work at the request of the client.
        </p>
      </div>
      <div>
        <img src="images/homepic4.jpg" alt="aaHomeInspec" align="left" hspace="10" width="270" height="200">
        <p>
          Beside home inspection, we also inspect on request well and septic systems, check solar system, internal cable TV wiring and home Internet and computer wiring. We perform FHA/HUD certification and inspection. Swimming pools and Spas are inspected per request. We also specialize in historic and landmark structures.
        </p>
        <p>
          <strong>Commercial Industrial Property</strong> - Inspected by a specialized team of Civil and Electrical engineers, HVAC and environmental specialists. We are a state of the art inspection company. We use non-invasive diagnostic tools.
        </p>
      </div>
     
  </div>
</div>