---
title: Engineers and Inspectors | FAQ
---
<div class="content">
  <div class="content_container">
    <div class="row">
      <h5 class="center-align sub-heading">Frequently Asked Questions</h5>
    </div>

    <div>
      <p><strong>Q. Why do I need a home inspection?</strong></p>
      <p>
        A. Professionally trained home inspectors assist in maintaining the health of your home and a property inspection makes home maintenance easy by catching minor problems before they become big projects.
      </p>
      <p>
        In just a few hours you'll have a detailed report of the condition of your home so that you can plan for needed repairs and upgrades when it's time to make them. When purchasing a home, many homebuyers have saved literally thousands of dollars through information provided by the home inspector.
      </p>
      <p>
        Homeowners who have owned their homes for several years can even benefit from a home inspector's knowledge of maintenance and repairs, and experience to avert potential problems. In many areas where disasters have occurred, homeowners have relied on inspectors to help them identify any damage resulting from storms, earthquakes, floods, etc.
      </p>
      <p>
        Many independent and nonprofit organizations exist to promote ethical practice and professional standards throughout the home inspection industry. 
      </p>
    </div>

    <div>
      <p><strong>Q. Who exactly would require a home inspection?</strong></p>
      <p>
        A. When buying a new home, new construction home or a pre-owned home, you need an inspection for your peace of mind. Sellers also benefit from home inspections by knowing the condition of their home before listing. They are spared the embarrassment of the buyers home inspector finding major defects with their home that they were not aware of and possibly will hold up the real estate transaction. If your new home still has a home warranty through a builder it is smart to have a home inspection before it expires.
      </p>
    </div>

    <div>
      <p><strong>Q. I've checked this house out thoroughly myself, why do I need an inspection?</strong></p>
      <p>
        A. Inspectors have the training, experience and competence that comes with being in the industry and inspecting hundreds of homes. We know what to look for and what to look at. Considering the average home, there are literally hundreds items that should be inspected.
      </p>
      <p>
        While you or someone you may know can examine the home and roughly determine the overall condition of it, inspectors inspect homes daily, each and every week throughout the year and know exactly what to look for in a home. We detect minor/major flaws, defects in workmanship, proper installation and construction parameters and unsafe conditions that the general public would miss.
      </p>
    </div>

    <div>
      <p><strong>Q. What makes you different from the local competition?</strong></p>
      <p>
        A. The industry is full of inspectors who neither have the training, experience or qualifications to qualify as a professional home inspector.
      </p>
      <p>
        A professional knows what to look for and reports the condition to their clients in a detailed report outlining the condition of the home and provides insight to the buyer as to the actual condition of all the items in the home, so the buyer can make an informed buying decision.
      </p>
    </div>

    <div>
      <p><strong>Q. What is included in your home inspection?</strong></p>
      <p>
        A. A proper home inspection will take account of:  Physical structure, Roof, sub roof, gutters/leaders, and downspouts. Overall plumbing and electrical systems, heating and air conditioning systems, appliances, foundations, drainage, septic or sewer systems just to cover a few. Every home is unique and inspected accordingly.
      </p>
    </div>

    <div>
      <p><strong>Q. What is the cost of a good home inspection?</strong></p>
      <p>
        A. Cost of your inspection depends on the square footage of the subject home and any other related home structures. Optional testing for air quality, water quality, etc is additional.
      </p>
    </div>

    <div>
      <p><strong>Q. How long does your inspection take?</strong></p>
      <p>
        A. Every home is different, the average home is about 2500 square feet, and usually takes around 3 to 4 hours to inspect properly.
      </p>
    </div>

    <div>
      <p><strong>Q. How large is the inspection report?</strong></p>
      <p>
        A. A completed inspection report is about 15-25 pages including graphics and based upon the state of the home inspected, the more things found in the home that are deficient, the more the report contains.
      </p>
    </div>

    <div>
      <p><strong>Q. Should my Realtor get a copy of your report?</strong></p>
      <p>
        A. Whether or not you decide to provide the Realtor with a copy is up to you. If you want to re-negotiate the purchase based upon the inspection report, then include the Realtor. If you feel that you can handle the re-negotiation your self, by all means do not include the Realtor. If however, you wish to get the seller to fix or repair an item or just to give you an allowance for it, include the Realtor.
      </p>
    </div>

    <div>
      <p><strong>Q. Should I be at the home inspection?</strong></p>
      <p>
        A. Yes, you should be there at the home inspection.
      </p>
    </div>
  </div>


  </div>
</div>
