---
title: Welcome to Middleman
---

<div class="content">

<div class="home_page_head">
  <div class="row">
    <h5>
      <ul>
        <li class="col s12 m4">Home<br>Inspection</li>
        <li class="col s12 m4">Commercial<br>Inspection</li>
        <li class="col s12 m4">Structural<br>Engineers</li>
      </ul>
    </h5>
  </div>
  <hr>
</div>

  <div class="content_container">
    <div class="center-align sub_heading">
      <h5>Sam Sain, P. E., (Civil) Professional Engineer and Certified ASHI Inspector</h5>
      <h5>Don Boggs, B.S. (Electrical)</h5>
    </div>
  <div>
      <p><img alt="aaHomeInspec" src="images/homepic1.jpg" width="245" align="left" height="185" hspace="10"> </p>
      <p>Welcome and thank you for visiting our website. We are experienced residential and commercial real estate inspectors. We are unique in the business as we are all graduate engineers. Sam has masters in Civil Engineering from Carnegie-Mellon University.&nbsp; His doctoral work was in Civil Engineering with minor in Economics&nbsp;and Public Health.&nbsp;Sam's undergraduate degree is also in Civil Engineering with Architecture as minor.&nbsp; Don is Penn State graduate in Electrical Engineering.&nbsp; Being engineers, we can do more than a typical home inspector can do.&nbsp; We can do structural engineering.&nbsp; We can certify foundations.&nbsp; We can undertake environmental studies.&nbsp; We are trained and experienced in Commercial and Industrial inspections.&nbsp;  
      We do not provide litigation support. If you need that service, please call 
      Bruce Thomas at 724-836-0328 Office&nbsp; 724-396-9919 Cell.<br>
      </p>
      <p>Our references are in this webpage. Two engineers, Don and I, to inspect your 
      property together. </p>
      <p>Beside residential inspection, large commercial inspections are our specialty. Commercial inspection requires teamwork with many professionals. We coordinate all the work under one umbrella. </p>
      <p>We are computer savvy people. We are a good match for you, if you like to do everything through e-mails 
      or text (SMS), without too many phone calls. </p>
      <p>We do not end our relationship after an inspection. We keep the line of communication open in case you need our help in the future, just ask our clients. 
      We will send an email or two a year to keep in touch. </p><!--
      <p>Welcome and thank you for visiting aaHomeSpec website.  If you are buying a property and looking for a residential inspection, we will be glad to perform the inspection for you.
      <p>If you are looking for some useful information, we have gathered useful homeowner information for you to review.
      <p> We are unique in this business as we are graduate engineers and also nationally certified real estate inspectors.  My name is Sam Sain, a Carnegie Mellon graduate in Civil Engineering.
      <p> I inspect with Don Boggs. Don is a graduate from Penn State in Electrical Engineering.  We are dedicated to work for you.  We do not end our relationship after the inspection.  We stand by you long after the sale is completed.  You can ask our other clients.  References are in this website.<br>
      <br>
      <p>Please browse through the website.  Our prices and qualifications are all here.  We are not the cheapest.  We are the most qualified and we spend the time to do a great inspection for you.  Please send us any comments or questions via e-mail through this webpage.
      We can do just about everything through e-mail.--><br>
      <p align="center"><strong>Our inspections are from an engineering point of view.</strong></p>
      <p>Even before we arrive at your property for inspection, we already studied your property through USGS, Satellite Maps and Mine Maps (where available). </p>
      <p>We report the condition of the physical components, structures and foundations. We recommend maintenance items and educate our buyers during an inspection. We keep in touch with you as long as you want to keep in touch with us. We will help you during your ownership of the property. <br>
      <br></p>
      <p>Home inspectors do not judge or evaluate the home for cost or value, but do report objectively in writing the specific condition of the subject home's condition and the subsequent physical systems involved. <br>
      <br></p>
      <p>A home inspection is an independent, unbiased review and report on a home's systems, components and their condition. Consumers and real estate professionals should expect no less than full professionalism, education, competence, credentials, knowledge, and courtesy. <br>
      <br></p>
      <p><img alt="aaHomeInspec" src="images/homepic2.jpg" width="245" align="right" height="185" hspace="10">A detailed home inspection usually takes two to three hours or longer, depending on the home's age and square footage. We recommend that you be present at your home inspection so that you can ask your inspector any questions and to look at any areas needing maintenance or repair. <br>
      <br>
      Please take the time to look through our web site. We've included a wealth of information which will help you better understand the ins and outs of home inspection, and we hope this information will be useful to you. <br>
      </p>
      <p>Serving the following areas:<strong> Allegheny, Fayette, Greene, Somerset, 
      Washington, and Westmoreland Counties. </strong></p>
      <p><strong>Bear Rocks, Connellsville, Greensburg, Hidden Valley, Irwin, Johnstown, Latrobe, Ligonier, Monroeville, Penn Hills, Pittsburgh, Seven Springs, Somerset, 
      Uniontown.</strong> </p>
  </div>
 
  
</div>
</div>
