---
title: Engineers and Inspectors
---

<div class="content">

  <div class="content_container">
    <div class="center-align sub-heading" style="margin-bottom: 1em;">
      <div class="profile" style="width: 45%; display: inline-block"> 
        <h5>Sam Sain, P. E.</h5>
        <h6>(Civil) Professional Engineer<br>
            Certified ASHI Inspector</h6>
      </div>
      <div class="profile" style="display: inline-block; width: 45%""> 
        <h5>Don Boggs</h5>
        <h6>(Electrical) B.S.</h6>
      </div>
    </div>
    <div style="clear:both; margin-top: 1em;">
      <p>
        <img alt="aaHomeInspec" src="images/homepic1.jpg" width="245" align="left" height="185" hspace="10"> </p>
      <p>
        Welcome and thank you for visiting our website. We are experienced residential and commercial real estate inspectors. We are unique in the business as we are all graduate engineers. Sam has a masters in Civil Engineering from Carnegie-Mellon University. His doctoral work was in Civil Engineering with a minor in Economics and Public Health. Sam's undergraduate degree is also in Civil Engineering with Architecture as a minor. Don is a Penn State graduate in Electrical Engineering. 
      </p>
      <p>
        Being engineers, we can do more than a typical home inspector can do. We can do structural engineering, certify foundations, and undertake environmental studies. We are also trained and experienced in Commercial and Industrial inspections.
      </p>
      <p>
        <small><i>* We do not provide litigation support. If you need that service, please call Bruce Thomas at:  (Office: 724-836-0328) | (Cell: 724-396-9919)</i></small>
      </p>

      <p>
        Our references are in this webpage. Two engineers, Don and I, will inspect your property together.
      </p>
      <p>
        Beside residential inspection, large commercial inspections are our specialty. Commercial inspection requires teamwork with many professionals. We coordinate all the work under one umbrella.
      </p>
      <p>
        We are computer savvy people. We are a good match for you, if you like to do everything through e-mails or text (SMS), without too many phone calls.
      </p>
      <p>
        We do not end our relationship after an inspection. We keep the line of communication open in case you need our help in the future, just ask our clients. We will send an email or two a year to keep in touch.
      </p>

      <h5 class="sub-heading">Our Inspections are from an Engineering Point of View</h5>

      <p>
        Even before we arrive at your property for inspection, we already studied your property through USGS, Satellite Maps and Mine Maps (where available).
      </p>
      <p>
        We report the condition of the physical components, structures and foundations. We recommend maintenance items and educate our buyers during an inspection. We keep in touch with you as long as you want to keep in touch with us. We will help you during your ownership of the property.
      </p>
      <p>
        Home inspectors do not judge or evaluate the home for cost or value, but do report objectively in writing the specific condition of the subject home's condition and the subsequent physical systems involved.
      </p>
      <p>
        A home inspection is an independent, unbiased review and report on a home's systems, components and their condition. Consumers and real estate professionals should expect no less than full professionalism, education, competence, credentials, knowledge, and courtesy.
      </p>
      <p>
        <img alt="aaHomeInspec" src="images/homepic2.jpg" width="245" align="right" height="185" hspace="10">A detailed home inspection usually takes two to three hours or longer, depending on the home's age and square footage. We recommend that you be present at your home inspection so that you can ask your inspector any questions and to look at any areas needing maintenance or repair.
      </p>
      <p>
      Please take the time to look through our web site. We've included a wealth of information which will help you better understand the ins and outs of home inspection, and we hope this information will be useful to you. <br>
      </p>
      <p>
        Serving the following areas:<br>
        Allegheny, Fayette, Greene, Somerset, Washington, and Westmoreland Counties.<br>
        Bear Rocks, Connellsville, Greensburg, Hidden Valley, Irwin, Johnstown, Latrobe, Ligonier, Monroeville, Penn Hills, Pittsburgh, Seven Springs, Somerset, Uniontown.
      </p>
    </div>
  </div>
</div> 
