<div class="content">
  <div class="content_container">
    <div>
      <h5 class="center-align sub_heading">Great Links</h5>
    </div>

    <div>&#160;</div>
    <div><strong>INDUSTRY</strong><br>
    </div><a target="_blank" href="http://www.bearrocksconstruction.com/">Bear Rocks Construction<br>
    </a><a target="_blank" href="http://www.homeblue.com/">HomeBlue Contractor Network<br>
    </a><a title="" href="http://www.homeinspectionservices.com">San Luis Obispo and Santa Maria Home Inspector - Camelot Home Inspection Services</a>
    <p><strong>GENERAL</strong><strong><br>
    </strong><a target="_blank" href="http://www.bearrocksconstruction.com/"><br>
    </a><a target="_blank" href="http://www.blueprintforsafety.org/">Blueprint for Safety<br>
    </a><a target="_blank" href="http://www.thisoldhouse.com/">This Old House<br>
    </a><a target="_blank" href="http://consumerreports.org/">Consumer Reports<br>
    </a><a target="_blank" href="http://www.howstuffworks.com/">Explanations of How Stuff Works<br>
    </a><a target="_blank" href="http://www.citysteelbuildings.com/">City Steel Building resources will help you pick the right steel building<br>
    </a><a target="_blank" href="http://www.homerisk.com/">Home Risk - Seismic Evaluation</a><a target="_blank" href="http://www.homeinspectionexam.org/"><br>
                           National Home Inspector Examination</a><br>
    <a target="_blank" href="http://www.gm.com/company/onlygm/livegreengoyellow/index.html">GM Info about E85, a Clean Ethanol Fuel<br>
    </a><a target="_blank" href="http://www.fema.gov/business/nfip/">National Flood Insurance Program (NFIP)- Myths and Facts</a><br>
    <a target="_blank" href="http://www.ashi.org/inspectors/state.asp">State Home Inspector Regulatory Legislation</a> <br>
    <a target="_blank" href="http://www.cpsc.gov/">U.S. Consumer Product Safety Commission</a> </p>
    <p><strong>APPLIANCES</strong><strong><br>
    </strong><a target="_blank" href="http://www.aham.org/">Association of Home Appliance Manufacturers</a> </p>
    <p><strong>ATTIC</strong><strong><br>
    </strong><a target="_blank" href="http://www.epa.gov/ne/enforcement/asbestos/qa.html">Q & A Regarding Vermiculite Insulation</a></p>
    <p><strong>BUILDING CODES</strong><strong><br>
    </strong><a target="_blank" href="http://www.iccsafe.org/">International Code Council</a><br>
    <a target="_blank" href="http://www.nfpa.org/aboutthecodes/list_of_codes_and_standards.asp">All NFPA Codes and Standards</a><br>
    <a target="_blank" href="http://www.mikeholt.com/index.php?id=homegeneral">Electric Code Information and Forum</a><br>
    <a target="_blank" href="http://www.energycodes.gov/">U.S. Energy Codes</a></p>
    <p><strong>CHIMNEYS</strong><strong><br>
    </strong><a target="_blank" href="http://www.csia.org/">Chimney Safety Institute of America</a><br>
    <a target="_blank" href="http://www.rumford.com/">Rumford Fireplaces</a></p>
    <p><strong>CONCRETE</strong><br>
    <a target="_blank" href="http://www.concrete.org/">American Concrete Institute</a></p>
    <p><strong>ELECTRICAL</strong><strong><br>
    </strong><a target="_blank" href="http://www.cpsc.gov/CPSCPUB/PREREL/prhtml74/74040.html">Aluminum Wiring- CPSC</a><br>
    <a target="_blank" href="http://www.inspect-ny.com/aluminum.htm">Aluminum Wiring- Inspect-NY</a><br>
    <a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/afcifac8.pdf">Arc-Fault Protection- CPSC</a> (PDF)<br>
    <a target="_blank" href="http://www.codecheck.com/FPE_breakers.htm">Federal Pacific Components- Code Check</a> <br>
    <a target="_blank" href="http://home.howstuffworks.com/question117.htm">How does a GFCI Outlet Work?</a> <br>
    <a target="_blank" href="http://home.howstuffworks.com/circuit-breaker.htm">How Circuit Breakers Work</a></p>
    <p><strong>EXTERIOR</strong><strong><br>
    </strong><a target="_blank" href="http://www2.sherwin-williams.com/ProductsServices/default.asp">Painting- Sherwin-Williams</a><br>
    <a target="_blank" href="http://www.deckmagazine.com/">Decks- Deck Magazine</a></p>
    <p><strong>FIRE SAFETY</strong><strong><br>
    </strong><a target="_blank" href="http://www.firesafety.gov/">Fire Safety</a><br>
    <a target="_blank" href="http://www.firewise.org/index.php">Wildfire Safety</a><br>
    <a target="_blank" href="http://www.usfa.fema.gov/">U.S. Fire Administration</a><br>
    <a target="_blank" href="http://www.nfpa.org/index.asp">National Fire Protection Assn (NFPA)</a></p>
    <p><strong>Garage Doors</strong><br>
    <a target="_new" href="http://www.dasma.com/SafetyGDMaint.asp">DASMA</a><br>
    </p>
    <p><strong>HEATING AND COOLING</strong><strong><br>
    </strong><a target="_blank" href="http://www.ashrae.org/">ASHRAE</a><br>
    <a target="_blank" href="http://hvac-talk.com/vbb/">HVAC Talk</a><br>
    <a target="_blank" href="http://www.gamanet.org/">HVAC Venting - GAMA</a><br>
    <a target="_blank" href="http://www.heatexchangerexperts.com/">Heat Exchanger Experts</a><br>
    <a target="_blank" href="http://www.acca.org/">Air Conditioning Contractors of America</a><br>
    <a target="_blank" href="http://www.phccweb.org/">Plumbing Heating & Cooling Contractors Assn</a><br>
    <a target="_blank" href="http://home.howstuffworks.com/question49.htm">How Does a Heat Pump Work?</a><br>
    <a target="_blank" href="http://www.eere.energy.gov/consumer/your_home/space_heating_cooling/index.cfm/mytopic=12610">DOE Info on Heat Pumps</a><br>
    <a target="_blank" href="http://www.flexibleduct.org/">Flexible Ductwork- Air Diffusion Council</a><br>
    <a target="_blank" href="http://www.easyheat.com/">Easy Heat Inc.- Radiant heating</a></p>
    <p><strong>INTERIOR CONCERNS</strong><strong><br>
    </strong><a target="_blank" href="http://www.nkba.org/">National Kitchen and Bath Association</a><br>
    <a target="_blank" href="http://www.americanlightingassoc.com/">American Lighting Association</a><br>
    <a target="_blank" href="http://www.indoor-air-quality.org/">American Indoor Air Quality Council</a></p>
    <p><strong>LEAD POISONING</strong><strong><br>
    </strong><a target="_blank" href="http://www.nsc.org/issues/lead/">NSC &#195;&#162;&#226;&#8218;&#172;&#226;&#8364;&#339; Lead Information</a></p>
    <p><strong>LOG HOMES</strong><strong><br>
    </strong><a target="_blank" href="http://loghomelinks.com/articles/articles.htm">Log Home Info</a></p>
    <p><strong>MANUFACTURED HOMES</strong><strong><br>
    </strong><a target="_blank" href="http://www.manufacturedhousing.org/default.asp">Manufactured Housing Institute</a><br>
    <a target="_blank" href="http://mobilehome.com/mhi1.html">How to Buy a Manufactured Home</a></p>
    <p><strong>MOLD</strong><strong><br>
    </strong><a target="_blank" href="http://www.epa.gov/iaq/molds/moldguide.html">EPA Mold Guide</a><br>
    <a target="_blank" href="http://www.moldtips.com/">National Association of Home Builders Mold Tips</a><br>
    <a target="_blank" href="http://www.cdc.gov/mold/default.htm">National Center for Environmental Health</a></p>
    <p><strong>PLUMBING</strong><strong><br>
    </strong><a target="_blank" href="http://www.plumbnet.com/">PlumbNet</a><br>
    <a target="_blank" href="http://www.theplumber.com/">The Plumber.com</a><br>
    <a target="_blank" href="http://www.pbpipe.com/index1.htm">Polyethylene Pipe</a><br>
    <a target="_blank" href="http://www.terrylove.com/">LOVE Plumbing & Remodel- Tips & Expert Advice</a></p>
    <p><strong>REMODELING</strong><strong><br>
    </strong><a target="_blank" href="http://www.nari.org/">National Association of the Remodeling Industry</a></p>
    <p><strong>ROOFING</strong><strong><br>
    </strong><a target="_blank" href="http://www.asphaltroofing.org/">Asphalt Roofing Manufacturers Association</a><br>
    <a target="_blank" href="http://www.metalroofing.com/">Metal Roofing Alliance</a><br>
    <a target="_blank" href="http://www.nrca.net/select.aspx">National Roofing Contractors Association</a><br>
    <a target="_blank" href="http://www.roofingcontractor.com/">Roofing Contractor Online Magazine</a><br>
    <a target="_blank" href="http://www.cemwoodclaims.com/">American Cemwood Cement/Wood Fiber Shakes Lawsuit</a><br>
    <a target="_blank" href="http://www.masoniteclaims.com/">Masonite Claims</a><br>
    <a target="_blank" href="http://www.roofhelp.com/">RoofHelp.Com</a></p>
    <p><strong>SEPTIC SYSTEMS</strong><br>
    <a target="_blank" href="http://people.howstuffworks.com/sewer1.htm">How Septic and Sewer Systems Work</a></p>
    <p><strong>SIDING</strong><strong><br>
    </strong><a target="_blank" href="http://www.bia.org/">Brick Industry Association</a><br>
    <a target="_blank" href="http://www.masoniteclaims.com/">Masonite Hardboard Siding Lawsuits</a><br>
    <a target="_blank" href="http://www.abtcoclaims.com/">ABITIBI Lawsuits</a><br>
    <a target="_blank" href="http://www.lpsidingclaims.com/">Louisiana Pacific InnerSeal Siding Lawsuits</a><br>
    <a target="_blank" href="http://www.weyerclaims.com/">Weyerhouser Hardboard Siding Lawsuits</a><br>
    <a target="_blank" href="http://www.vinylsiding.org/">Vinyl Siding Institute</a></p>
    <p><strong>SWIFTMUD</strong><br>
    <a target="_new" href="http://www.swfwmd.state.fl.us/">South West Florida Water Management District</a></p>
    <p><strong>SYNTHETIC STUCCO (EIFS)</strong><strong><br>
    </strong><a target="_blank" href="http://homebuying.about.com/cs/syntheticstucco/a/eifs_facts.htm">EIFS Stucco: About.com</a><br>
    <a target="_blank" href="http://www.exterior-design-inst.com/">Exterior Design Institute</a><br>
    <a target="_blank" href="http://www.eima.com/">EIFS Industry Members Association (EIMA)</a></p>
    <p><strong>TERMITES & WOOD DESTROYING ORGANISMS</strong><strong><br>
    </strong><a target="_blank" href="http://www.pestworld.org/">National Pest Management Association (NPMA)</a><br>
    <a target="_blank" href="http://www.orkin.com/pestlibrary/pestgroup.asp?category=termites">Orkin Termite Identification Guide</a><br>
    <a target="_blank" href="http://www.nisuscorp.com/boracare.html">Boric Acid Based Termidicides</a><br>
    <a target="_blank" href="http://www.ent.iastate.edu/List/">Entomology Search Engine- Iowa State U.</a> <br>
    <a target="_blank" href="http://www.umass.edu/bmatwt/publications/articles/controlling_ants_termites.html">Controlling Termites & Carpenter Ants- U of Mass</a></p>
    <p><strong>WATER HEATERS</strong><strong><br>
    </strong><a target="_blank" href="http://www.waterheaterrescue.com/">General Information and Troubleshooting</a><br>
    <a target="_blank" href="http://www.wattsreg.com/">Temperature and Pressure Relief Valves</a><br>
    <a target="_blank" href="http://www.wattsreg.com/">Thermal Expansion Devices</a></p>
    <p><strong>WINDOWS</strong><strong><br>
    </strong><a target="_blank" href="http://www.aamanet.org/">American Architectural Manufacturers Assn (AAMA)</a> <br>
    <a target="_blank" href="http://www.nfrc.org/">National Fenestration Rating Council</a></p>
    <p>&#160;<em>Federal Information Sources</em><br>
                           - <a target="_blank" href="http://www.epa.gov/">Environmental Protection Agency</a><br>
                           - <a target="_blank" href="http://www.cpsc.gov/">Consumer Product Safety Commission</a><br>
                           - <a target="_blank" href="http://www.hud.gov/">Department of Housing and Urban Development</a><br>
                           - <a target="_blank" href="http://www.doe.gov/">Department of Energy</a><br>
                           - <a target="_blank" href="http://www.hhs.gov/pharmacy/pp/DHHSpresent/">Public Health Service</a><br>
                           - <a target="_blank" href="http://www.cdc.gov/">Centers for Disease Control and Prevention</a><br>
                           - <a target="_blank" href="http://www.osha.gov/">Occupational Safety and Health Administration</a><br>
                           - <a target="_blank" href="http://www.bpa.gov/">Bonneville Power Administration</a><br>
                           - <a target="_blank" href="http://www.gsa.gov/">General Services Administration</a><br>
                           - <a target="_blank" href="http://www.tvppa.com/">Tennessee Valley Authority</a><br>
                           - <a target="_blank" href="http://www.epa.gov/epahome/locate2.htm">EPA Regional Offices</a><br>
                           - <a target="_blank" href="http://www.fema.gov/">Federal Emergency Management Agency</a></p>
    <p><a target="_blank" href="http://www.cpsc.gov/cgi-bin/recalldb/pub.asp"><strong>Find Publications by Specific Topic</strong></a></p>
    <p><a target="_blank" href="http://www.cpsc.gov/cgi-bin/recalldb/key.asp"><strong>Find Publications by Title</strong></a> </p>
    <p><strong>Find Publications by General Category:</strong></p>
    <ul>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/atvpubs.html">All Terrain Vehicles Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/art.html">Art and Crafts Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/bikepubs.html">Bicycle Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/chld_sfy.HTML">Child Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/chld_frn.html">Children's Furniture</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/clothpub.html">Clothing Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/cpsr.html">Consumer Product Safety Review</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/cribsafe.html">Crib Safety and SIDS Reduction</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/elec_sfy.html">Electrical Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/fire_sfy.html">Fire Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/gen_pub.html">General Information</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/holpubs.html">Holiday Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/heatpubs.html">Home Heating Equipment</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/house.html">Household Products Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/iaq.html">Indoor Air Quality</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/older.html">Older Consumers Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/tools.html">Outdoor Power Equipment Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/playpubs.html">Playground Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/pois_prv.html">Poison Prevention</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/chdrown.html">Pool & Spa Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/pubuse.html">Public Use Products</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/rec_sfy.html">Recreational & Sports Safety</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/reports.html">Reports</a> </li>
    <li><a target="blank" href="http://www.usa.safekids.org/">Safe Kids</a> </li>
    <li><a target="_blank" href="http://www.cpsc.gov/cpscpub/pubs/toy_sfy.html">Toy Safety</a> </li></ul>
    <p><strong>Order hard copies of publications by email:</strong><br>
                           The following email address can be used to order hard copies of publications. <br>
                           Be sure to include mailing address and specify the publications desired: <a href="mailto:info@cpsc.gov"><strong>info@cpsc.gov</strong></a>.<br>
                           Please allow 3-4 weeks for delivery. </p>
    <p><a target="_blank" href="http://www.cpsc.gov/CPSCPUB/SPANISH/other/languages.html"><strong>CPSC Publications in Languages Other Than English and Spanish</strong></a></p>
    <ul>
    <li><a target="_blank" href="http://www.cpsc.gov/">US CPCS</a> - Consumer Products Safety Commission </li>
    <li><a target="_blank" href="http://www.nsc.org/">National Safety Council</a> - National Safety Council </li>
    <li><a target="_blank" href="http://www.epa.gov/">US EPA</a> - Environmental Protection Agency </li>
    <li><a target="_blank" href="http://www.annualcreditreport.com/">Get your FREE credit report from each of the three credit bureaus</a></li></ul><br>
    </td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table>

  </div>
</div>
