---
title: Engineers and Inspectors | Pricing
---
<div class="content pricing">
  <div class="content_container">
    <div>
      <h5 class="center-align sub-heading">Fee Schedule for Home Inspection</h5>
      <h5 class="center-align">Inspection by Engineers and Certified Real Estate Inspectors</h5>
      <p class="center-align">E-Mail Report in PDF Format or Computer Generated Report Delivered On Site</p>
      <p class="center-align">VA/FHA Mobile Home Foundation Inspections</p>
    </div>

    <div>
      <h5 class="sub-heading">Structural and Foundation Inspections from $450</h5>
    </div>
    <div>
      <p>
        <strong>Reinspection if needed from $350</strong><br>
        Ask For Package Price Discounts in Addition<br>
        <a href="testimonials.html">References are in this Website</a></p>
    </div>

    <div>
      <table>
        <tr>
          <td colspan="2" class="bold-color">Following price schedule for houses less than 2000 sq. ft and less than 50 years old.</td>
        </tr>
        <tr >
          <th bgcolor="#F7AA47" class="text-center">Service</th>
          <th bgcolor="#F7AA47" class="text-center">Fee</th>
        </tr>
        <tr>
          <th>Inspection</th>
          <td class="text-right">$350</td>
        </tr>
        <tr>
          <th colspan="2" class="text-center"> Termite/WDI by Local Independent Exterminating Companies:</th>
        </tr>
        <tr>
          <td>- Dauphin County</td>
          <td class="text-right">$120</td>
        </tr>
        <tr>
          <td>- Lancaster, Berks, Bucks Counties</td>
          <td class="text-right"> $160</td>
        </tr>
        <tr>
          <td>- Schuylkill county</td>
          <td class="text-right">$130</td>
        </tr>
        <tr>
          <td>- Allegheny, Westmoreland, Fayette and Somerset County </td>
          <td class="text-right">$90</td>
        </tr>
        <tr>
          <th>Radon by DEP Certified Testers</th>
          <td class="text-right">$150</td>
        </tr>
        <tr>
          <td>- Foreclosed Houses</td>
          <td class="text-right">add $100</td>
        </tr>
        <tr>
          <th bgcolor="#F7AA47" class="text-center">Additions</th>
          <th bgcolor="#F7AA47" class="text-center">Fee</th>
        </tr>
        <tr>
          <td>
            Any Package Above and Septic Dye Test
            <p>(Septic Tank Lid Must Be Visible and Drain Field Identified)</p>
            <p>(Please Ask the Seller for Copies of Septic Permit)</p>
          </td>
          <td class="text-right">$150</td>
        </tr>
        <tr>
          <td>Any Package Above and Well Water Flow Test</td>
          <td class="text-right">Add $75</td>
        </tr>
        <tr>
          <td>Any Package Above and Mold</td>
          <td class="text-right">
            Add $100 per sample<br>
            + report if needed
          </td>
        </tr>
        <tr>
          <td>Any Package Above and Swimming Pool</td>
          <td class="text-right">Add $100</td>
        </tr>
      </table>

      <p><strong>Note:</strong></p>
      <ul>
        <li>Up to 2500 sq. ft. add $50</li>
        <li>Up to 3000 sq. ft. add $75</li>
        <li>Up to 3500 sq. ft. add $100</li>
        <li>Up to 4000 sq. ft. add $150</li>
        <li>Up to 4500 sq. ft add $200</li>
        <li>Up to 5000 sq. ft add $250</li>
        <li> Houses more than 40 years old add $50</li>
        <li>Houses more than 60 years old add $75</li>
        <li>Houses more than 80 years old add $100</li>
        <li>Houses more than 100 years old add $125</li>
        <li>Additional kitchen add $50 per extra kitchen</li>
      </ul>
    </div>

    <div>
      <h5 class="center-align">Individual Services</h5>
      <p class="center"><strong><i>Minimum $100 Travel Expenses</i></strong></p>

      <ul>      
        <li>Septic -  $150</li>
        <li>Water (Bacti) - $50</li>
        <li>Water (UST) - $310</li>
        <li>Water (FHA) - $150</li>
        <li>Swimming Pool - $100</li>
        <li>Mold - $100/sample and $150 for report</li>
        <li>Sewer video - $200</li>
      </ul>

    </div>
    <div>
      <h5 class="center-align">Professional Engineering Services</h5>
      <p>Engineering Inspection of Structure, Foundation, Water Intrusion, Soil Instability, Mine Subsidence, Geological Anomaly, etc., starts at $450.</p>
      <p>Fees are calculated based on $150/hour port to port for field work hours and engineering report hours in the office.</p>
      <p>FHA/VA/HUD foundation certification for manufactured or mobile home starts at $450.</p>
    </div>

    <div class="center-align" style="padding-top: 2em;">
      <a href="#modal1" class="">CONTACT US</a>
      <p> - OR - </p>
      <p>
        Email: <a href="mailto:sks73@zoominternet.net">sks73@zoominternet.net</a></strong><br>
        <i>Send your MLS link page to us via e-mail.</i>
      </p>
    </div>
  </div>
</div>
