---
title: Engineers and Inspectors | Pricing
---
<div class="content pricing">
  <div class="content_container">
    <div class="row">
      <div class="col m2 hide-on-small-and-down"></div>
      <div class="col s12 m8">
        <div>
          <h5 class="sub-heading-pricing">
            Fee Schedule for Home Inspection
          </h5>
          <p class="bold-color">
            by Engineers and Certified Real Estate Inspectors
          </p>
          <p>
            <i>
              E-Mail Report in PDF Format or Computer Generated Report Delivered On Site
            VA/FHA Mobile Home Foundation Inspections</i></p>
        </div>

        <div>
          <h5 class="sub-heading-pricing">Structural and Foundation Inspections from $450</h5>
          <p>
            <strong>Reinspection if needed from $350</strong><br>
            Ask For Package Price Discounts in Addition
          </p>
          <p class="text-center">
            <strong class="bold-color" style="padding-top: 2em;"><i>Following prices schedule for houses less than 2000 sq. ft and less than 40 years old.</i></strong>
          </p>
          <table>
            <tr>
              <th class="table-header left-align">Service</th>
              <th class="table-header right-align">Fee</th>
            </tr>
            <tr>
              <th>Inspection</th>
              <td class="fee">$350</td>
            </tr>
            <tr>
              <th colspan="2">Termite/WDI by Local Independent Exterminating Companies:</th>
            </tr>
            <tr>
              <td>- Dauphin County</td>
              <td class="fee">$120</td>
            </tr>
            <tr>
              <td>- Lancaster, Berks, Bucks Counties</td>
              <td class="fee"> $160</td>
            </tr>
            <tr>
              <td>- Schuylkill county</td>
              <td class="fee">$130</td>
            </tr>
            <tr>
              <td>- Allegheny, Westmoreland, Fayette and Somerset County </td>
              <td class="fee">$90</td>
            </tr>
            <tr>
              <th>Radon by DEP Certified Testers</th>
              <td class="fee">$150</td>
            </tr>
            <tr>
              <td>- Foreclosed Houses</td>
              <td class="fee">add $100</td>
            </tr>
            <tr>
              <th class="table-header left-align">Package Add-Ons</th>
              <th class="table-header right-align">Fee</th>
            </tr>
            <tr>
              <td>
                Any Package Above and Septic Dye Test
                <ul>
                  <li>Septic Tank Lid Must Be Visible and Drain Field Identified</li>
                  <li>Please Ask the Seller for Copies of Septic Permit</li>
                </ul>
              </td>
              <td class="fee">$150</td>
            </tr>
            <tr>
              <td>Any Package Above and Well Water Flow Test</td>
              <td class="fee">Add $75</td>
            </tr>
            <tr>
              <td>Any Package Above and Swimming Pool</td>
              <td class="fee">Add $100</td>
            </tr>
            <tr>
              <th class="table-header left-align">Additional Charges</th>
              <th class="table-header right-align">Fee</th>
            </tr>
            <tr>
              <td>Up to 2500 sq. ft.</td>
              <td class="fee">add $50</td>
            </tr>
             <tr>
              <td>Up to 3000 sq. ft. </td>
              <td class="fee">add $75</td>
            </tr>
             <tr>
              <td>Up to 3500 sq. ft.</td>
              <td class="fee">add $100</td>
            </tr>
             <tr>
              <td>Up to 4000 sq. ft.</td>
              <td class="fee">add $150</td>
            </tr>
             <tr>
              <td>Up to 4500 sq. ft</td>
              <td class="fee">add $200</td>
            </tr>
             <tr>
              <td>Up to 5000 sq. ft</td>
              <td class="fee">add $250</td>
            </tr>
            <tr>
              <td>Houses more than 40 years old</td>
              <td class="fee">add $50</td>
            </tr>
            <tr>
              <td>Houses more than 60 years old</td>
              <td class="fee">add $75</td>
            </tr>
            <tr>
              <td>Houses more than 80 years old</td>
              <td class="fee">add $100</td>
            </tr>
            <tr>
              <td>Houses more than 100 years old</td>
              <td class="fee">add $125</td>
            </tr>
            <tr>
              <td>Additional kitchen</td>
              <td class="fee">
                add $50<br>
                per kitchen
              </td>
            </tr>
          </table>
        </div>

        <div>
          <h5 class="text-center sub-heading">Individual Services</h5>
          <p class="text-center"><strong class="bold-color"><i>Minimum $100 Travel Expenses</i></strong></p>
          <table>
            <tr>
              <th class="table-header">Service</th>
              <th class="table-header">Fee</th>
            </tr>
            <tr>
              <td>Septic</td>
              <td class="fee">$150</td>
            </tr>
            <tr>
              <td>Water (Bacti)</td>
              <td class="fee">$90</td>
            </tr>
            <tr>
              <td>Water (FHA)</td>
              <td class="fee">$225</td>
            </tr>
            <tr>
              <td>Swimming Pool</td>
              <td class="fee">$100</td>
            </tr>
            <tr>
              <td>Sewer video</td>
              <td class="fee">$200</td>
            </tr>
          </table>
        </div>

        <div>
          <h5 class="text-center sub-heading">Professional Engineering Services</h5>
          <p class="text-center">
            Engineering Inspection of Structure, Foundation, Water Intrusion, Soil Instability, Mine Subsidence, Geological Anomaly, etc., starts at $450.
          </p>
          <p class="text-center">
            Fees are calculated based on $150/hour port to port for field work hours and engineering report hours in the office.
          </p>
          <p class="text-center">FHA/VA/HUD foundation certification for manufactured or mobile home starts at $450.</p>
        </div>

        <div class="text-center">
          <p><a href="#modal1">CONTACT US</a></p>
          <p>- OR -</p>
          <p>Email:</p> 
          <p>
            <a href="mailto:sks73@zoominternet.net">sks73@zoominternet.net</a>
            |
            <a href="mailto:sainsam8@gmail.com">sainsam8@gmail.com</a>
          </p>
          <p>
            <strong class="bold-color">Send your MLS link page to us via e-mail.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
