---
title: Engineers and Inspectors | Services
---
<div class="content">
  <div class="content_container">
    <div class="center-align">
      <h5 class="sub-heading">What We Inspect</h5>
      <p class="justified">
        FHA, Single Family Homes, Multi Family Housing, New Construction, Condos, Historic and Landmark Buildings, Industrial Structures, Commercial Buildings, Well and Septic, Swimming Pools and Spas, Health Clubs, and others as requested.
      </p>
      <p>
        Please click the <a href="info.html" target="_blank">Homeowner Encyclopedia</a> and <a href="faq.html" target="_blank">FAQ </a> for more detailed info.
      </p>
    </div>

    <div align="center">
      <img src="images/ourservicespic1.jpg" width="300" height="225">
    </div>
    <div>
      <h5 class="sub-heading center-align">Inspection Techniques</h5>
      <p class="justified">
        Our home inspection team conducts thorough non-invasive inspection of the visible and readily accessible systems and components of the property. When necessary, we use very sensitive carbon monoxide detectors for checking combustion in your furnace, gas leak detectors to check minute leaks in gas pipes, moisture meters to determine under floor or behind wall moisture problems, digital amp and volt meters to diagnose electrical problems, GFI testers to test electrical ground fault safety, digital dual trace thermometers to check the efficiency of HVAC system and other non invasive tools.
      </p>
    </div>
    <div>
      <h5 class="sub-heading center-align">What Items Do We Inspect in Your Home?</h5>
      <p class="justified">
        Surrounding Grounds in Relation to the Structure, Grading and Drainage, Driveway, Sidewalk, Retaining Wall, Patio, Decks, Fences, Stairs, Walls, Trim, Chimney, Gutters and Downspouts, Foundation, Basement and Crawl Space, Electrical - Overhead Entry and Panels and Subpanels Inside the House, Bathrooms, Roof System Including Penetrations and Flashing, Insulation and Ventilation, Fireplaces, Porches, Interior, Kitchen, Heating and Air Conditioning, Plumbing and Water Heaters, Fuel System, Smoke Detectors, Laundry Area, Attic, Garage and other components of the house. All utilities must be on and pilots lit before our inspectors can start inspection. You will be advised when you book the inspection.
      </p>
    </div>
    <div align="center">
      <img src="images/ourservicespic2.jpg" width="300" height="225">
    </div>

    <div>
      <h5 class="sub-heading center-align">How About Commercial Structures Inspection?</h5>
      <p class="justified"> 
        Commercial inspection varies. Items may include Driveway and Parking, Curbs, ADA compliance, Gates, Walkways, Storm Drainage, Fencing, Landscaping, Exterior Lighting, Signage, Foundation, Structure, Roof, Building Exterior, Building Interior, Electrical, HVAC, Plumbing, Fuel System, Elevators, and various other items.    
      </p>
    </div>

    <div>
      <h5 class="sub-heading center-align">Standards That We Follow</h5>
      <p class="justified">
        We follow ASHI standards and ASHI code of ethics for residential inspections and ASTM standards for commercial inspections. We do not bid on any repair services on the property we inspect. We check for proper installation, proper functioning and safety. Aesthetics is not part of our inspection.
      </p>
    </div>

    <div>
      <h5 class="sub-heading center-align">When Do I Get My Report?</h5>
      <p class="justified">
        For residential clients, we can deliver the laser printed report after the inspection is completed. For commercial clients, a report may take one day to two weeks depending on the amount of work we have to do. 
      </p>
    </div>

    <div>
      <h5 class="sub-heading center-align">Insurance Coverage</h5>  
      <p class="justified">
        In addition to liability insurance, we carry $300,000 single occurrence and $600,000 aggregate E&amp;O insurance. Real Estate Agents and Lending Institutions are additionally insured by our E&amp;O policy. We provide a professional inspection that is designed to preserve the real estate value and prevent litigation in the future.
      </p>
    </div>

    <div>
      <h5 class="sub-heading center-align">Cost of Inspection</h5>
      <p class="justified">
        For residential structures, typical fees vary (see our <a href="/pricing.html">pricing page</a>). There are additional fees for extra services and larger homes with multiple HVAC and kitchen appliances. When ordering multiple services, for example, home inspection, radon measurement, well and septic tests, a lump sum price may be appropriate. Check this web page for detailed pricing. Please call to confirm your price. For commercial and industrial buildings, average cost is approximately 25-cents/sq ft.
      </p>
      <p class="center-align">
        Please call to get a firm price.
      </p>
    </div>
    
    <div>
      <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
    </div>
  </div>
</div>
