---
title: Engineers and Inspectors | Homeowners Encylopedia
---
<div class="content">
  <div class="content_container">
    <div>
      <h5 class="left-align sub-heading">What Is Involved In A Home Inspection?</h5>
    </div>
    <div class="left-align">
      <p><strong class="bold-color">
        STRUCTURE<br>
        EXTERIOR<br>
        ROOFING<br>
        PLUMBING<br>
        ELECTRIC<br>
        INSULATION<br>
        VENTILATION<br>
        INTERIOR<br>
        HEATING<br>
        AIR CONDITIONING<br>
        ETHICS/STANDARDS<br>
        REPORT WRITING<br>
      </strong></p>
    </div>

    <div>
      <h5 class="left-align sub-heading">Consider the Big Picture</h5>
      <p>
        The first step in home inspection is to examine the area the home is located in. Are there other homes of similar age and construction details relative to the home? A comparison will give the Inspector a general idea of the condition and upkeep of the home. Have there been significant modifications to the exterior of the building and if so, how is the workmanship?
      </p>

      <h5 class="left-align sub-heading">The Home Exterior</h5>
      <p>
        Starting at the exterior front of the house the inspector will work their way around the house (clockwise or counter-clockwise) at a distance, which allows them to view each complete face comfortably. On each face (front, sides, rear) starting with a visual inspection at the top of the structure and working down to the ground. As an example, they would start at the front and note the roof, its peaks, valleys and chimneys. Gutters, fascia and soffits are included. Then, moving further down the exterior wall coverings (brick, wood, aluminum, vinyl siding), noting windows, doors, bay, bows, and other protruding vents/structures, etc. The Inspector will study any porches, decks, or other additions down to the foundation, and then consider the grade or slope of the lot area, followed by any coverings, such as flower beds, walkways, patio bricks/stone, interlocking brick, driveways, etc. Having completed the front, the inspector will move to the side of the house and resume the same procedure (roof to ground).
      </p>

      <h5 class="left-align sub-heading">The Home Interior</h5>
      <p>
        Once inside the home, the inspection usually starts in the basement and then follows a system throughout each floor in the house. The system used to inspect the interior is to begin with the floor, move to the walls and then to the ceiling, and then consider any appliances or other items in the room. The inspector will move from room to room, always in the same direction (clockwise or counter-clockwise) to not miss any areas. If there is a door, the inspector will open it! In the utility room in the basement, they usually start with the floor, then the walls (possibly the foundation walls are visible), and then onto the ceiling (floor joists may be visible), then they will inspect the furnace, hot water heater, electrical panel, plumbing systems, etc. When inspecting the floors, walls and ceilings, they will consider the entire area that is visible, not just one section.
      </p>
      <p>
        In a finished room they would consider the floors, walls (including windows) and ceiling. They then inspect the heat sources, electrical outlets and switches, fireplaces, closets etc. Then they will inspect all bathroom plumbing and fixtures. They will move to the kitchen, consider the floor, walls and ceiling, then the heating sources, plumbing fixtures, and service points. (gas, propane, electrical)
      </p>

      <h5 class="left-align sub-heading">Item Condition</h5>
      <p>
        While performing an inspection on the exterior, interior or the mechanical systems, they record the area or system first, then its relative condition. For example, if they were inspecting a wall on the interior of the home they would first note that the wall is plaster, and then examine the wall for cracks and irregularities.
      </p>

      <h5 class="left-align sub-heading">Problems (or "What's Involved in a Home Inspection?")</h5>
      <p>
        The following are some typical problems or occurrences to inspect for in the major components and systems of the home.
      </p>

      <p>
        <strong class="bold-color">ROOF</strong><br>
        Is the ridge (peak) showing sag, or is it straight and level? Is the roof sagging between the rafters or trusses? Are there any signs of deterioration of asphalt shingles, such as curling, warping, broken edges, rounded corners or key holes (slits) becoming wider that normal? Any loose flashings, at the chimney, roof-to-wall connection or elsewhere? Does the wooden roof deck appear rotted or delaminated under the last row of shingles? Are there any roof vents visible?
      </p>

      <p>
        <strong class="bold-color">CHIMNEYS</strong><br>
        Is the masonry cap cracked or broken? Are any bricks flaking or missing? Mortar missing? Is the chimney leaning?
      </p>

      <p>
        <strong class="bold-color">SOFFITS AND FASCIA</strong><br>
        Note whether the soffits and fascia are wood, vinyl, aluminum or plastic. Any loose or missing sections? Is workmanship up to standards?<br>
        If wood, are there any paint problems? Any visible rot?
      </p>

      <p>
        <strong class="bold-color">GUTTERS AND DOWNSPOUTS</strong><br>
        Ensure gutters are pitched toward downspouts. Any rust or peeling paint? Any apparent leaks or loose/sagging sections? Are the downspouts extended away from the foundations?
      </p>

      <p>
        <strong class="bold-color">WALL COVERINGS</strong><br>
        Inspect for missing mortar. Bricks loose, missing, flaking or cracking? Loose, missing or rotted siding, deteriorated paint. Does the siding appear new? Does it hide the foundation wall? Exterior walls bowed, bulged or leaning?
      </p>

      <p>
        <strong class="bold-color">WINDOWS AND DOORS</strong><br>
        Inspect for problems with paint or caulking, and rotted wood components. Are the windows new or older? Are they airtight? Are they the original windows? How old are they?
      </p>

      <p>
        <strong class="bold-color">PORCHES AND DECKS</strong><br>
        Inspect for cracking or flaking masonry? Check for paint problems, rotted wood, and wood-earth contact. Any code violations? Improper installation?<br>
        Note any settlement or separation from the house. Inspect the underside, if accessible.
      </p>

      <p>
        <strong class="bold-color">FOUNDATIONS</strong><br>
        Check for cracks, flaking or damaged masonry. Note any water markings and efflorescence (whitish, chalky substance) any bowing, bulging or other irregularities? Soft mortar?
      </p>

      <p>
        <strong class="bold-color">DRIVEWAY / LOT AREA</strong><br>
        Does the grade slope away from the house? Any settled/low areas next to the foundation, or cracked walks/driveway? Is the property lower than the street or neighboring properties? Any water ponding?
      </p>

      <p>
        <strong class="bold-color">BASEMENT</strong><br>
        Note any evidence of water penetration (stains, mildew/odors, efflorescence, loose tiles etc.)
      </p>

      <p>
        <strong class="bold-color">FLOORS</strong><br>
        Check for deteriorated coverings or cracked ceramics. Any water staining or other damage? Sloping or sagging?
      </p>

      <p>
        <strong class="bold-color">WALLS</strong><br>
        Randomly sample to check that the windows and doors work. Are the walls straight vertically and horizontally? Look for cracked or loose plaster. Look for stains, physical damage or previous repair evidence. Any drywall tape seams or nails showing?
      </p>

      <p>
        <strong class="bold-color">CEILINGS</strong><br>
        Assess for cracks in the plaster or loose, sagging plaster. Looks for stains, mechanical damage or evidence of previous repair. Tape Seams or nails showing?
      </p>

      <p>
        <strong class="bold-color">BATHROOMS AND KITCHENS</strong><br>
        Check that all fixtures work and are secure. Are there any cracks in the fixtures? Note the condition of the tiles and caulking in the tub/shower area. Are the faucets working? Do they leak? Sufficient water pressure? Look for staining and rot under the counter-tops Randomly sample the operation of the cabinet doors and drawers. Runs hot water to test water temperature and temperature continuity.
      </p>

      <p>
        <strong class="bold-color">ELECTRO-MECHANICAL CONSIDERATIONS</strong><br>
        Type, style and age of heating &amp; cooling systems. When were they last inspected or serviced? Type of water supply? Type and condition of piping and drains &#8212; any visible rust and corrosion? Size, age and Amps of electrical service &#8212; are the outlets grounded? Two wire or three wire? Visible wiring in good condition? Have there been any upgrades?
      </p>
    </div>

    <div>
      <a href="#top" class="btn returntotop" style="bottom: 16px; right: 16px;"><i class="material-icons left">navigation</i>return to top</a>
    </div>
  </div>
</div>